<a href="https://colab.research.google.com/github/LeeSeungwon89/Python_for_Data_Analytics_Science/blob/main/1.%20%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%A5%BC%20%EB%8B%A4%EB%A3%A8%EA%B8%B0%20%EC%9C%84%ED%95%9C%20%ED%8C%8C%EC%9D%B4%EC%8D%AC%20%EA%B8%B0%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. 연산자 기호**

## **1.1. 몫**

몫은 `//`를 사용하여 구합니다.

In [ ]:
11 // 5

2

## **1.2. 나머지**

나머지는 `%`를 사용하여 구합니다.

In [ ]:
11 % 5

1

## **1.3. 함수로 몫과 나머지 구하기**

참고로 함수에 대한 설명을 확인하려면 `help()` 함수 내에 함수명을 지정합니다.

In [ ]:
help(divmod)

Help on built-in function divmod in module builtins:

divmod(x, y, /)
    Return the tuple (x//y, x%y).  Invariant: div*y + mod == x.

In [ ]:
divmod(11, 5)

(2, 1)

# **2. 과학적인 표기법**

매우 큰 수나 작은 수를 다루려면 10의 거듭제곱을 나타내는 e$n$으로 입력할 수 있습니다. $n$은 정수이며 양수, 음수, $0$ 모두 가능합니다.

$4 \times 10^7$

In [ ]:
4e7

40000000.0

$2 \times 10^{15}$

In [ ]:
2e15

2000000000000000.0

$10$의 $15$승까지 숫자로 표시됩니다.

$6 \times 10^{16}$

In [ ]:
6e16

6e+16

$10$의 $16$승부터 과학적인 표기법으로 표시됩니다.

$6 \times 10^{17}$

In [ ]:
6e17

6e+17

$4 \times 10^{-1}$

In [ ]:
4e-1

0.4

$4 \times 10^{-4}$

In [ ]:
4e-4

0.0004

$10$의 $-4$승까지 숫자로 표시됩니다.

$4 \times 10^{-5}$

In [ ]:
4e-5

4e-05

$10$의 $-5$승부터는 과학적인 표기법으로 표시됩니다.

$4 \times 10^{-6}$

In [ ]:
4e-6

4e-06

# **3. 진법과 진수**

파이썬은 10진법 외에 2진법, 8진법, 16진법을 지원합니다. 16진법은 {0 ~ 9, a, b, c, d, e, f}로 표현됩니다.

2진수를 입력하려면 `0b`, 8진수를 입력하려면 `0o`, 16진수를 입력하려면 `0x`를 숫자 앞에 붙입니다.

간단하게 17을 예로 들겠습니다. 해당하는 진법의 함수도 포함합니다.

10진법

In [ ]:
17

17

2진법

In [ ]:
0b10001

17

In [ ]:
bin(17)

'0b10001'

8진법

In [ ]:
0o21

17

In [ ]:
oct(17)

'0o21'

16진법

In [ ]:
0x11

17

In [ ]:
hex(17)

'0x11'

참고로 함수로 출력된 결과는 문자열이므로 산술 연산에 적용되지 않습니다.

# **4. 변수명 생성 규칙**

변수(= 객체, 인스턴스, variable)명을 지정할 때는 아래 규칙을 잘 지켜야 합니다. 

- 문자, 숫자, 언더라인(_)을 사용합니다. 다만 보통의 경우 언더라인으로 시작하는 변수명을 지정할 수는 있지만 일반적으로는 구성하지 않습니다. 아울러 영문자는 (가능하면 최대한) 대문자는 사용하지 않고 소문자만 사용합니다.

- 숫자로 시작하는 변수명은 가능하지 않습니다. 예컨대 '2apple'은 불가능합니다.

- 밑줄이 아닌 기호는 변수명에 들어갈 수 없습니다. 예컨대 'apple&', 'bana@na', '$peach' 같은 기호들입니다.

- 예약어는 변수명으로 사용할 수 없습니다. 예약어란 `True`, `False`, `def`, `if`, `for`처럼 이미 지정되어 코딩에 쓰이는 표현을 의미합니다. 예컨대 `if = 4 + 3`으로 지정하면 에러가 납니다.

- 변수명은 뱀처럼 생긴 **스네이크케이스(snake_case)** 형식을 취하여 명명합니다. 첫 글자가 영어 소문자이고 언더바 `_`를 사용한 형태입니다. `snakecase`나 `snake case` 아닌 `snake_case`로 명명합니다. 공백을 언더바 `_`로 대체하는 것입니다. 참고로 아래에서 다룰 클래스의 경우 **캐멀케이스(CamalCase)** 형식을 취하여 명명합니다.

추가적인 내용은 [식별자를 다룬 링크](https://wikidocs.net/20559)과 [변수, 상수, 리터럴을 다룬 링크](https://wikidocs.net/20562)를 참고하시면 좋습니다.

# **5. 문자열**

## **5.1. 따옴표, 이스케이프 문자 사용하기**

문자열에 큰따옴표(")와 작은따옴표(') 모두를 포함하거나, 여러 행의 문자열을 나열하거나, 문자열을 입력한 상태 그대로 출력하려면 문자열 전체를 큰따옴표 세 개나 작은따옴표 세 개로 감쌉니다. 아울러 `print()` 함수에 문자열을 `''`로 묶으면 `""`가 포함된 문자열을 출력할 수 있고, `""`로 묶으면 `''`가 포함된 문자열을 출력할 수 있습니다.

In [ ]:
string = '''문자열에 큰따옴표(")와 작은따옴표(') 모두를 포함하거나,
여러 행의 문장을 나열하거나,
문장을 입력한 상태 그대로 출력하려면
문자열 전체를 큰따옴표 세 개나 작은따옴표 세 개로 감쌉니다.'''
print(string)

문자열에 큰따옴표(")와 작은따옴표(') 모두를 포함하거나,
여러 행의 문장을 나열하거나,
문장을 입력한 상태 그대로 출력하려면
문자열 전체를 큰따옴표 세 개나 작은따옴표 세 개로 감쌉니다.

In [ ]:
string = """문자열에 큰따옴표(")와 작은따옴표(') 모두를 포함하거나,
여러 행의 문장을 나열하거나,
문장을 입력한 상태 그대로 출력하려면
문자열 전체를 큰따옴표 세 개나 작은따옴표 세 개로 감쌉니다."""
print(string)

문자열에 큰따옴표(")와 작은따옴표(') 모두를 포함하거나,
여러 행의 문장을 나열하거나,
문장을 입력한 상태 그대로 출력하려면
문자열 전체를 큰따옴표 세 개나 작은따옴표 세 개로 감쌉니다.

In [ ]:
print('작은 따옴표를 사용하면 "반갑습니다."를 출력할 수 있습니다.')

작은 따옴표를 사용하면 "반갑습니다."를 출력할 수 있습니다.

In [ ]:
print("큰 따옴표를 사용하면 '반갑습니다.'를 출력할 수 있습니다.")

큰 따옴표를 사용하면 '반갑습니다.'를 출력할 수 있습니다.

문자열이 길어서 코드가 길어질 때는 문자열을 여러 문자열로 나누고 각 문자열을 따옴표로 묶습니다. 아울러 따옴표 전체를 괄호로 묶습니다.

In [ ]:
string = (
    '긴 문자열을 한 줄로 입력하려면 '
    '이렇게 문자열을 여러 줄로 나누어서 따로 묶고 '
    '괄호로 묶습니다.'
)

print(string)

긴 문자열을 한 줄로 입력하려면 이렇게 문자열을 여러 줄로 나누어서 따로 묶고 괄호로 묶습니다.

이스케이프 문자인 `\`를 사용하여 `\'`를 취하면 `'`를, `\"`를 취하면 `"`를 출력합니다. 문자열을 묶은 기호와 무관하게 작동합니다.

In [ ]:
print('이스케이프 문자를 사용하여 \'파이썬 기본입니다.\'를 출력할 수 있습니다.')

이스케이프 문자를 사용하여 '파이썬 기본입니다.'를 출력할 수 있습니다.

이스케이프 문자인 `\`를 사용하여 `\n`을 취하면 줄바꿈을, `\t`를 사용하면 탭을 합니다.

In [ ]:
print('이스케이프 문자를 사용하여\n줄바꿈을 할 수 있습니다.')
print()
print('이스케이프 문자를 사용하여\t탭을 할 수 있습니다.')

이스케이프 문자를 사용하여
줄바꿈을 할 수 있습니다.

이스케이프 문자를 사용하여	탭을 할 수 있습니다.

## **5.2. 부분 문자열로 나누기**

기존 문자열을 부분으로 나눠서 리스트화하려면 `split()` 함수를 사용합니다.

In [ ]:
colors = 'red, blue, yellow, pink'
colors.split()

['red,', 'blue,', 'yellow,', 'pink']

변수에 할당하지 않고 바로 전달해도 됩니다.

In [ ]:
'red, blue, yellow, pink'.split()

['red,', 'blue,', 'yellow,', 'pink']

`red,`처럼 쉼표(,)까지 하나의 부분으로 처리됐습니다. 여기에서 `split()` 함수에 `sep` 매개변수를 `','`로 지정하면 쉼표는 제외하고 처리합니다. `sep` 매개변수의 sep는 seperator(구분자)의 약자입니다. 참고로 `sep`를 생략하고 `','`만 지정한 `split(',')`도 가능합니다.

In [ ]:
colors.split(sep=',')

['red', ' blue', ' yellow', ' pink']

공백으로 구분된 경우에도 적용할 수 있습니다. 인자를 `' '`로 지정해도 되고 안 해도 괜찮습니다. 다만 한 칸 공백이 아닌 모든 종류의 공백의 경우는 인자로 아무것도 지정하지 않아야 합니다.

In [ ]:
colors_blank = 'red blue yellow pink'
colors_blank.split()

['red', 'blue', 'yellow', 'pink']

In [ ]:
colors_blank_f = 'red   blue  yellow \n pink   \n\n\n'
colors_blank.split()

['red', 'blue', 'yellow', 'pink']

`maxsplit` 매개변수에 값을 지정해서 원하는 만큼 분리할 수 있습니다.

In [ ]:
colors = 'red blue yellow pink'
print(colors.split(maxsplit=1))
print(colors.split(maxsplit=2))

['red', 'blue yellow pink']
['red', 'blue', 'yellow pink']

`maxsplit` 매개변수와 `sep` 매개변수에 값을 지정하면 전화번호를 분리하는 데 유용합니다.

In [ ]:
p_num = '+82-031-1234-5678'
split_p_num = p_num.split('-')
print("'-' 사용:", split_p_num)
split_p_num = p_num.split('-', maxsplit=1)
print("'-'와 maxsplit=1 사용:", split_p_num)
print('집 전화번호: {}'.format(split_p_num[1]))

'-' 사용: ['+82', '031', '1234', '5678']
'-'와 maxsplit=1 사용: ['+82', '031-1234-5678']
집 전화번호: 031-1234-5678

## **5.3. 문자열 삭제하기**

문자열의 앞과 뒤 공백이나 개행열을 삭제하려면 `strip()` 함수를 사용합니다. 'strip'의 사전적 의미는 '벗겨내기'이므로, 이 함수는 앞뒤의 바깥 원소부터 하나씩 삭제합니다.

아래 예시로 설명을 이어갑니다.

문자열 양옆의 공백을 제거하려면 `strip()` 함수를 바로 적용합니다.

In [ ]:
strip = '''
    어서 오세요. 
여기는 대한민국 서울입니다.
'''
print(strip.strip())

어서 오세요.
여기는 대한민국 서울입니다.

함수 안에 삭제하려는 문자를 넣으면 앞뒤의 모든 해당 문자를 삭제합니다.

In [ ]:
strip1 = 'gggabcdefgggggggg' 
print(strip1.strip('g'))

abcdef

다만 아래와 같은 형태는 앞의 `g`만 삭제합니다. 뒤에 `h`가 있으므로 `g`까지 접근하지 못합니다.

In [ ]:
strip2 = 'gggabcdefgggggggghh'
print(strip2.strip('g'))

abcdefgggggggghh

이 상황에서는 `h`를 삭제하고 `g`를 삭제하면 됩니다.

In [ ]:
strip2 = 'gggabcdefgggggggghh'
# 순서는 무관합니다.
print(strip2.strip('gh'))
print(strip2.strip('hg'))

abcdef
abcdef

`f`만 남기겠습니다. `f`까지 접근하려면 `f` 주변의 모든 원소를 하나씩 `strip()` 함수에 포함시켜야 합니다.

In [ ]:
strip3 = '!@#$%gggabc   !@#$%defggg gggg     ghh  \n'
# '\n'을 제외하고 벗겨내면 앞만 벗겨내고 뒤는 벗겨내지 못합니다.
print(strip3.strip('@$#%!badcegh '))
# '\n'을 포함시키면 뒤까지 벗겨냅니다.
print(strip3.strip('@$#%!badcegh \n'))

fggg gggg     ghh

f

공백과 개행문자(`\n`)를 제거하려면 `strip()` 함수 내에 값을 생략해도 됩니다.

In [ ]:
strip4 = '  apple\n  \n\n'
print(strip4.strip())

apple

참고로 `lstrip()` 함수는 문자열 왼쪽, `rstrip()` 함수는 문자열 오른쪽을 삭제합니다. 예시는 생략합니다.

`split()` 함수와 `strip()` 함수를 함께 사용해서 앞 뒤 공백이 불규칙적으로 배열된 원소들의 리스트를 정돈하겠습니다.

In [ ]:
fruits = '  apple, banana  ,   grape   ,  strawberry, pear   '
fruits_list = fruits.split(',')
print(fruits_list)

['  apple', ' banana  ', '   grape   ', '  strawberry', ' pear   ']

In [ ]:
fruits_list_fin = []

for fruits in fruits_list:
    fruits_strip = fruits.strip()
    # `append()` 함수는 오른쪽(마지막)에 원소를 추가하는 함수입니다.
    # 자세한 설명은 리스트 파트에서 정리합니다.
    fruits_list_fin.append(fruits_strip)

print(fruits_list_fin)

['apple', 'banana', 'grape', 'strawberry', 'pear']

## **5.4. 문자열 연결하기**

문자열을 연결하는 방법은 `+` 연산자를 사용하는 방법과 `join()` 함수를 사용하는 방법이 있습니다.

먼저 `+` 연산자를 사용하는 방법에 대한 예시입니다.

In [ ]:
 fruits = ['apple', 'banana', 'grape', 'strawberry', 'pear']
 favorite = '는 내가 제일 좋아하는 과일이지.'
 print(fruits[3] + favorite)

strawberry는 내가 제일 좋아하는 과일이지.

`join()` 함수를 사용하면 리스트의 모든 원소를 연결할 수 있습니다.

In [ ]:
favorites = '를 좋아하고, '
favorites.join(fruits)

'apple를 좋아하고, banana를 좋아하고, grape를 좋아하고, strawberry를 좋아하고, pear'

마지막 원소에는 `를 좋아하고, `라는 문자열이 연결되지 않았습니다. 마지막 원소이므로 다음 원소를 이을 필요가 없습니다. 문장을 마무리하기 위해 `+` 연산자를 사용하여 `를 좋아하지.`를 연결하겠습니다.

In [ ]:
 favorites.join(fruits) + '를 좋아하지.'

'apple를 좋아하고, banana를 좋아하고, grape를 좋아하고, strawberry를 좋아하고, pear를 좋아하지.'

`join()` 함수와 관련된 몇 가지 예를 더 들겠습니다.

In [ ]:
loc = ['경기도', '성남시', '분당구', '정자일로']
blank = ' '
print(blank.join(loc))
print(' '.join(loc))

경기도 성남시 분당구 정자일로
경기도 성남시 분당구 정자일로

`\n`를 사용하여 줄바꿈도 가능합니다. 예시는 생략하겠습니다.

## **5.5. 문자열 검색하기**

`find()` 함수를 사용하여 지정한 문자열과 일치하는 처음 문자열의 시작 위치를 알 수 있습니다.

In [ ]:
string_love = 'I love you. You love me. Wow!'
print('I의 처음 위치:', string_love.find('I'))
print('공백의 처음 위치:', string_love.find(' '))
print('l의 처음 위치:', string_love.find('l'))
print('lo의 처음 위치:', string_love.find('lo'))
# 처음 발견하는 'o'의 위치를 반환합니다.
print('o의 처음 위치:', string_love.find('o'))
print('y의 처음 위치:', string_love.find('y'))
print('you의 처음 위치:', string_love.find('you'))

I의 처음 위치: 0
공백의 처음 위치: 1
l의 처음 위치: 2
lo의 처음 위치: 2
o의 처음 위치: 3
y의 처음 위치: 7
you의 처음 위치: 7

검색 범위의 시작 위치와 끝 위치를 지정할 수도 있습니다. `끝 위치 - 1`까지 검색하며, 단어 검색에 실패하면 `-1`을 반환합니다.

In [ ]:
string_love = 'I love you. You love me. Wow!'
print("7 ~ 49 중에 첫 'love'의 위치는?", string_love.find('love', 7, 50))
print("0 ~ 49 중에 첫 'love'의 위치는?", string_love.find('love', 0, 50))
# 끝 위치를 생략하거나 '-1'을 지정하면 문자열 끝의 위치를 의미합니다.
print("7 ~ 끝 중에 첫 'love'의 위치는?", string_love.find('love', 7))
print("7 ~ 끝(-1) 중에 첫 'love'의 위치는?", string_love.find('love', 7, -1))
# 아무것도 찾지 못하면 -1을 반환합니다.
print("못 찾았군요?", string_love.find('love', 17))

7 ~ 49 중에 첫 'love'의 위치는? 16
0 ~ 49 중에 첫 'love'의 위치는? 2
7 ~ 끝 중에 첫 'love'의 위치는? 16
7 ~ 끝(-1) 중에 첫 'love'의 위치는? 16
못 찾았군요? -1

문자열에서 검색 대상인 문자열의 등장 횟수는 `count()` 함수로 출력할 수 있습니다. 이 함수 역시 검색 범위의 시작 위치와 끝 위치를 지정할 수 있습니다.

In [ ]:
string_love = 'I love you. You love me. Wow!'
print("'love'의 개수는 몇 개?", string_love.count('love'))
print("'love'의 개수는 몇 개?", string_love.count('love', 3))
print("'o'의 개수는 몇 개?", string_love.count('o'))
print("'o'의 개수는 몇 개?", string_love.count('o', 5, 10))
print("'e'의 개수는 몇 개?", string_love.count('e', 23))

'love'의 개수는 몇 개? 2
'love'의 개수는 몇 개? 1
'o'의 개수는 몇 개? 5
'o'의 개수는 몇 개? 1
'e'의 개수는 몇 개? 0

`startswith()` 함수와 `endswith()` 함수로 각각 시작과 끝의 문자열이 지정한 문자열과 같은지 `True`와 `False`로 알 수 있습니다.

In [ ]:
string_love = 'I love you. You love me. Wow!'
print("'I'로 시작?", string_love.startswith('I'))
print("'love'로 시작?", string_love.startswith('Iove'))
print("'!'로 끝?", string_love.endswith('!'))
print("' '로 끝?", string_love.endswith(' '))

'I'로 시작? True
'love'로 시작? False
'!'로 끝? True
' '로 끝? False

## **5.6. 문자열 변경하기**

`replace()` 함수로 지정한 문자열로 변경할 수 있습니다.

형식은 아래와 같습니다.

`문자열.replace('바꿀 문자열', '새로운 문자열'[, 횟수])`

여기에서 횟수는 생략할 수 있습니다.

In [ ]:
string_love1 = 'I love you. You love me. We love you. What?'
print(string_love1.replace('love', 'hate'))
print(string_love1.replace('love', 'hate', 2))

I hate you. You hate me. We hate you. What?
I hate you. You hate me. We love you. What?

문자열을 삭제할 때도 `replace()` 함수를 활용할 수 있습니다.

In [ ]:
string_love_del = '-I; -love; -you.;'

string_love_del1 = string_love_del.replace('-', '')
print("'-'를 제거하면:", string_love_del1)

string_love_del2 = string_love_del1.replace(';', '')
print("';'를 제거하면:", string_love_del2)

'-'를 제거하면: I; love; you.;
';'를 제거하면: I love you.

대소문자로 바꾸려면 각각 `upper()` 함수와 `lower()` 함수를 사용합니다.

In [ ]:
print(string_love.upper())
print(string_love.lower())

I LOVE YOU. YOU LOVE ME. WOW!
i love you. you love me. wow!

`input()` 함수에 숫자를 지정하면 숫자가 문자 타입으로 출력됩니다. 문자 타입을 숫자 타입으로 변경하려면 `int()` 함수와 `float()` 함수를 사용합니다.

In [ ]:
string = input('숫자를 입력하세요.')
int_string = int(string)
float_string = float(string)
print(f'정수로 변환하면 {int_string}입니다.')
print(f'실수 또는 부동소수점으로 변환하면 {float_string}입니다.')

숫자를 입력하세요.3
정수로 변환하면 3입니다.
실수 또는 부동소수점으로 변환하면 3.0입니다.

숫자 타입을 문자 타입으로 변경하려면 `str()` 함수를 사용합니다. 예시는 생략합니다.

## **5.7. 문자열 확인하기**

문자열의 구성 요소를 확인하는 방법에 대해 설명합니다.

아래는 관련된 함수의 목록입니다. 모든 형식은 `문자열.함수`입니다.

- `isdigit()`: 숫자로만 구성되었는지 여부를 확인합니다.

- `isalnum()`: 문자와 숫자로만 구성되었는지 여부를 확인합니다. 특수 문자나 공백이 포함되면 False입니다.

- `isalpha()`: 문자로만 구성되었는지 여부를 확인합니다.

- `isupper()`, `islower()`: 로마자 대문자, 로마자 소문자로만 구성되었는지 여부를 확인합니다.

- `isspace()`: 공백으로만 구성되었는지 여부를 확인합니다.

몇 가지 예시를 듭니다.

In [ ]:
print("'love'는 숫자로만 구성되었는가?", 'love'.isdigit())
print("'love'는 문자로만 구성되었는가?",'love'.isalpha())
print("'love'는 대문자로만 구성되었는가?",'love'.isupper())
print("'love'는 소문자로만 구성되었는가?",'love'.islower())
print("'love'는 문자와 숫자로만 구성되었는가?", 'love'.isalnum())
print("'My love'는 문자와 숫자로만 구성되었는가?", 'My love'.isalnum())
print("'My love!!'는 문자와 숫자로만 구성되었는가?", 'My love!!'.isalnum())

'love'는 숫자로만 구성되었는가? False
'love'는 문자로만 구성되었는가? True
'love'는 대문자로만 구성되었는가? False
'love'는 소문자로만 구성되었는가? True
'love'는 문자와 숫자로만 구성되었는가? True
'My love'는 문자와 숫자로만 구성되었는가? False
'My love!!'는 문자와 숫자로만 구성되었는가? False

# **6. 리스트**

## **6.1. 인덱싱**

리스트에서 인덱스의 범위를 지정해서 항목 일부만 가져오는 방법을 설명하겠습니다.

```
리스트[start:end]
리스트[start:end:step]
```   

파이썬은 숫자 `1`이 아닌 숫자 `0`을 지정하면 첫 번째 원소부터 가져옵니다. 따라서 `start`부터 `end-1`까지 원소를 가져오게 됩니다. `start`를 생략하면 `0`으로 간주하고, `end`를 생략하면 마지막 숫자로 간주합니다. 추가로 `step`를 지정하면 증가하는 정도(지정한 숫자)만큼 건너뛰면서 원소를 가져옵니다. 음수로 지정하면 역순으로 가져옵니다.

In [ ]:
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print('a[0:4]:', a[0:4])
print('a[3:9]:', a[3:9])
print('a[:5]:', a[:5])
print('a[5:]:', a[5:])
print('a[::2]:', a[::2])
print('a[::3]:', a[::3])
print('a[::-1]:', a[::-1])
print('a[6::-1]:', a[6::-1])
print('a[:5:-1]:', a[:5:-1])

a[0:4]: [0, 1, 2, 3]
a[3:9]: [3, 4, 5, 6, 7, 8]
a[:5]: [0, 1, 2, 3, 4]
a[5:]: [5, 6, 7, 8, 9]
a[::2]: [0, 2, 4, 6, 8]
a[::3]: [0, 3, 6, 9]
a[::-1]: [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
a[6::-1]: [6, 5, 4, 3, 2, 1, 0]
a[:5:-1]: [9, 8, 7, 6]

## **6.2. 원소 삭제하기**

인덱스가 `i`인 원소를 제거하려면 `del 리스트명[i]` 형식을 취합니다. 다른 방법은 아래에서 추가로 설명하겠습니다.

In [ ]:
del a[4]
print(a)

[0, 1, 2, 3, 5, 6, 7, 8, 9]

## **6.3. 원소 존재 여부 확인하기**

리스트에 원소가 존재하는지 여부를 확인하려면 `원소 in 리스트명` 형식을 취합니다. 원소가 존재하면 `True`, 존재하지 않으면 `False`입니다.

In [ ]:
b = [0, 1, 2, 3]
print('3?', 3 in b)
print('4?', 4 in b)

3? True
4? False

반대의 경우는 `원소 not in 리스트명` 형식을 취합니다.

In [ ]:
b = [0, 1, 2, 3]
print('3?', 3 not in b)
print('4?', 4 not in b)

3? False
4? True

## **6.4. 리스트 함수 적용하기**

리스트와 관련된 함수를 설명합니다. 리스트에 추가, 삽입, 삭제, 반환, 정렬을 수행할 수 있습니다.

아래는 함수 목록입니다.

- 원소 추가 함수

    - `append()`: 원소 하나를 마지막에 추가합니다. `리스트.append('원소명')` 형식입니다.

    - `extend()`: 원소 여러 개를 마지막에 추가합니다. `리스트.extend('원소명', '원소명', ...)` 형식입니다.

    - `insert()`: 특정 위치에 원소를 삽입합니다. `리스트.insert(삽입 위치, '원소명')` 형식입니다.

- 원소 삭제 함수

    - `remove()`: 입력값과 일치하는 첫 원소를 삭제합니다. `리스트.remove('원소명')` 형식입니다.

    - `pop()`: 마지막 원소를 제거하고 반환합니다. `리스트.pop()` 형식입니다.

    - `clear()`: 모든 원소를 제거합니다. `리스트.clear()` 형식입니다.

- 기타 함수

    - `index()`: 인자와 일치하는 처음 원소의 위치를 반환합니다. `리스트.index('원소명')` 형식입니다.

    - `enumerate()`: 리스트에 포함된 원소의 위치를 확인할 수 있습니다. `enumerate(리스트)` 형식입니다.

    - `count()`: 인자와 일치하는 원소의 개수를 반환합니다. `리스트.count('원소명')` 형식입니다.

    - `sort()`: 원소를 순방향으로 정렬합니다. `리스트.sort()` 형식입니다.

    - `reversed()`: 원소를 역순으로 정렬합니다. `리스트.reversed()` 형식입니다.

몇 가지 함수를 예시하겠습니다. 먼저 `append()` 함수의 예시입니다.

In [ ]:
fruits = ['apple', 'banana', 'peach', 'grape']
print(fruits)
fruits.append('pear')
print("fruits.append('pear'):", fruits)

['apple', 'banana', 'peach', 'grape']
fruits.append('pear'): ['apple', 'banana', 'peach', 'grape', 'pear']

전개 연산자 `*`를 사용할 경우 리스트를 변화시키지 않고 원소를 추가할 수 있습니다.

In [ ]:
fruits = ['apple', 'banana', 'peach', 'grape']
fruits_plus = [*fruits, 'pear']
print(fruits)
print(fruits_plus)

['apple', 'banana', 'peach', 'grape']
['apple', 'banana', 'peach', 'grape', 'pear']

`extend()` 함수의 예시입니다.

In [ ]:
fruits = ['apple', 'banana', 'peach', 'grape']
print(fruits)
# 리스트로 묶어서 지정해야 합니다.
fruits.extend(['pear', 'strawberry'])
print("fruits.extend(['pear', 'strawberry']):", fruits)

['apple', 'banana', 'peach', 'grape']
fruits.extend(['pear', 'strawberry']): ['apple', 'banana', 'peach', 'grape', 'pear', 'strawberry']

`insert()` 함수의 예시입니다.

In [ ]:
fruits = ['apple', 'banana', 'peach', 'grape']
print(fruits)
fruits.insert(0, 'pear')
print("fruits.insert(0, 'pear')", fruits)

['apple', 'banana', 'peach', 'grape']
fruits.insert(0, 'pear') ['pear', 'apple', 'banana', 'peach', 'grape']

`sort()` 함수의 예시입니다.

In [ ]:
fruits = ['apple', 'banana', 'peach', 'grape']

fruits.sort()
print(fruits)

fruits.sort(reverse=True)
print(fruits)

['apple', 'banana', 'grape', 'peach']
['peach', 'grape', 'banana', 'apple']

이처럼 원본에 영향을 주는(변화를 일으키는) 함수를 **파괴적** 함수라고 부릅니다.

다음은 `index()` 함수와 `count()` 함수의 예시입니다.

In [ ]:
fruits_index = fruits.index('peach')
print("fruits.index('peach'):", fruits_index)
fruits_count = fruits.count('peach')
print("fruits.count('peach'):", fruits_count)

fruits.index('peach'): 3
fruits.count('peach'): 1

참고로 `enumerate()` 함수를 for문과 사용하면 리스트에 포함된 원소의 위치를 확인할 수 있습니다. 먼저 리스트에 함수만 적용하겠습니다.

In [ ]:
fruits = ['pear', 'apple', 'banana', 'peach', 'grape']

print(enumerate(fruits))    # 반복문으로 꺼내지 않은 상태에서는 객체로만 존재합니다.

<enumerate object at 0x7fb56e5be500>

리스트로 만드는 함수인 `list()`를 객체에 적용하면 인덱스와 원소가 함께 출력됩니다.

In [ ]:
print(list(enumerate(fruits)))

[(0, 'pear'), (1, 'apple'), (2, 'banana'), (3, 'peach'), (4, 'grape')]

각 인덱스에 해당하는 원소가 인덱스와 함께 튜플 형식(다음 파트인 **7. 튜플**에서 다룹니다)으로 출력됐습니다. 이렇게 원소가 두 개로 나뉘었으므로 for문에서 반복하여 꺼낼 원소는 두 개입니다.

In [ ]:
for index, value in enumerate(fruits):
    print(f'인덱스 {index}의 과일은 {value}입니다.')

인덱스 0의 과일은 pear입니다.
인덱스 1의 과일은 apple입니다.
인덱스 2의 과일은 banana입니다.
인덱스 3의 과일은 peach입니다.
인덱스 4의 과일은 grape입니다.

# **7. 튜플**

튜플은 리스트와 비슷하지만 차이점이 하나 있습니다. 튜플은 한 번 생성하면 추가, 삭제, 변경할 수 없습니다. 따라서 리스트에서 사용하는 함수 중에 원소를 추가, 삭제, 변경하지 않는 함수만 사용할 수 있습니다. 즉 `index()`, `count()` 함수를 사용할 수 있습니다.

## **7.1. 원소가 하나인 튜플 생성하기**

원소(인자)를 하나만 가진 튜플을 생성하는 방법을 설명합니다. 튜플이 원소를 하나만 가지려면 원소를 입력하고 뒤에 `,`를 붙여야 합니다.

In [ ]:
tuple1 = (16,)
print(tuple1)
tuple2 = 16,
print(tuple2)

(16,)
(16,)

## **7.2. 괄호가 없는 튜플 사용하기**

아래와 같은 형식으로 변수를 선언하고 값을 할당할 수 있습니다.

In [ ]:
[a, b] = [1, 2]
(c, d) = (3, 4)

print(a)
print(b)
print(c)
print(d)

1
2
3
4

아래처럼 괄호를 생략해도 값을 할당할 수 있습니다.

In [ ]:
[a, b] = 11, 22
(c, d) = 33, 44

print(a)
print(b)
print(c)
print(d)

11
22
33
44

여러 값을 괄호 없이 전달하면 변수에 할당되면서 튜플 형태가 됩니다. 다시 말하면 괄호를 생략해도 튜플로 인식됩니다.

In [ ]:
test_tuple = 1, 2, 3, 4
print(test_tuple)

(1, 2, 3, 4)

In [ ]:
a, b, c, d = 5, 6, 7, 8
print(a, b, c, d)

5 6 7 8

각 변수의 값을 변수끼리 대응해서 바꿀수도 있습니다.

In [ ]:
a, b = 1, 2
a, b = b, a
print(a)
print(b)

2
1

몫과 나머지를 튜플 형태로 리턴하는 `divmod()` 함수를 아래처럼 변수에 할당해서 출력할 수 있습니다.

In [ ]:
a, b = divmod(11, 5)
print(a)
print(b)

2
1

# **8. 세트**

세트는 수학의 집합 개념을 실현할 목적으로 만들었습니다. 리스트와 튜플과 유사하며, 리스트에서 쓰이는 함수를 적용할 수 있습니다. 차이점이라면 데이터에 순서가 존재하지 않고 데이터가 중복될 수 없습니다. 아울러 집합과 관련된 개념인 합집합, 차집합, 교집합을 구하는 함수를 사용할 수 있습니다.

## **8.1. 데이터 중복 불가**

세트에는 데이터가 중복될 수 없습니다.

In [ ]:
set_1 = {0, 1, 2, 3}
print(set_1)
set_2 = {0, 0, 1, 1, 2, 3}
print(set_2)

{0, 1, 2, 3}
{0, 1, 2, 3}

## **8.2. 집합 관련 함수 적용하기**

세트1(set1)과 세트2(set2)가 존재한다고 가정하겠습니다.

아래는 집합 관련 함수 목록입니다. 형식은 `set1.함수(set2)`입니다.

- `union()`: 합집합

- `difference()`: 차집합

- `intersection()`: 교집합

`intersection()` 함수만 예시합니다. 모든 함수는 형식이 같습니다.

In [ ]:
set1 = {0, 1, 2, 3, 4, 5}
set2 = {0, 2, 4, 6}
set1.intersection(set2)

{0, 2, 4}

## **8.3. 연산자를 이용하여 집합 구하기**

함수가 아닌 연산자만으로 각 집합을 구할 수 있습니다. 합집합은 `|`로, 차집합은 `-`로, 교집합은 `&`로 구합니다.

합집합에 대한 예시입니다.

In [ ]:
set1 | set2

{0, 1, 2, 3, 4, 5, 6}

## **8.4. 타입 변환하기**

리스트와 튜플과 세트는 각 타입을 변환할 수 있습니다. 다만 함수를 적용했을 때 기존 타입이 변하지는 않습니다. 변환 타입을 유지하려면 따로 객체에 지정해야 합니다.

아래는 변환할 타입에 대한 함수 목록입니다.

- `객체명 = list(변환 대상)`: 리스트로 변환합니다.

- `객체명 = tuple(변환 대상)`: 튜플로 변환합니다.

- `객체명 = set(변환 대상)`: 세트로 변환합니다.

In [ ]:
type(set1)

set

In [ ]:
list(set1)

[0, 1, 2, 3, 4, 5]

In [ ]:
type(set1)

set

세트 타입을 리스트 함수를 사용해서 리스트로 출력했지만 여전히 `set1`은 세트 타입입니다.

리스트 타입으로 유지하려면 객체를 따로 생성해서 출력값을 옮겨야 합니다.

In [ ]:
set_to_list = list(set1)
type(set_to_list)

list

# **9. 딕셔너리**

일반 사전은 표제어와 설명이 한 짝으로 구성되며, 표제어를 찾으면 설명을 볼 수 있습니다. 같은 이치로 파이썬 딕셔너리는 **키(key)**와 **값(value)**으로 대응하고, 키를 찾으면 값을 확인할 수 있습니다. 따라서 딕셔너리를 인덱싱 하려면 키를 이용합니다. 키는 숫자나 문자열이고, 값은 모든 타입입니다.

아래는 딕셔너리의 형식입니다.

```
dict = {key1: value1, key2: value2, key3: value3}
```

## **9.1. 딕셔너리 생성하기**

한국 내 지역명을 예시로 딕셔너리를 생성합니다.

In [ ]:
loc_dict = {'서울': '종로', '경기': '분당', '인천': '부평', '충남': '논산'}
loc_dict

{'경기': '분당', '서울': '종로', '인천': '부평', '충남': '논산'}

입력 순서와 다르게 출력됐습니다. 딕셔너리는 순서가 중요하지 않습니다. 입력 순서를 그대로 출력하려면 `print()` 함수를 붙여줍니다.

In [ ]:
print(loc_dict)

{'서울': '종로', '경기': '분당', '인천': '부평', '충남': '논산'}

값은 모든 타입이 가능하다고 명시했었습니다. 예컨대 리스트 형태도 가능합니다.

In [ ]:
num_dict = {0: [1, 2, 3], 4: [5, 6, 7], 8: [9, 10, 11]}
num_dict

{0: [1, 2, 3], 4: [5, 6, 7], 8: [9, 10, 11]}

여러 타입이 복잡하게 혼재될 수도 있습니다.

In [ ]:
complicated_dict = {0: 1, 2: [3, 4, 5], 'six': (7, 8),
                    'sub_num_dict': {0: 1, 2: (3, 4), 'five': [6, 7]},
                    'nine': 'finished'}
print(complicated_dict)

{0: 1, 2: [3, 4, 5], 'six': (7, 8), 'sub_num_dict': {0: 1, 2: (3, 4), 'five': [6, 7]}, 'nine': 'finished'}

## **9.2. 키를 지정하여 값을 출력하기**

바로 위에서 복잡하게 생성한 `complicated_dict` 딕셔너리를 리스트로 지정하여 해당하는 값을 출력하겠습니다.

In [ ]:
complicated_dict['sub_num_dict']

{0: 1, 2: (3, 4), 'five': [6, 7]}

## **9.3. 데이터 추가하기**

지속해서 `complicated_dict` 딕셔너리를 사용합니다. 딕셔너리에 값을 추가하려면 `딕셔너리[key] = value` 형태를 사용합니다.

아래 코드로 예시합니다.

In [ ]:
# `'complicated_dict' 딕셔너리에 'ten'이라는 키를 생성하고
# [11, 12]`를 짝짓는다고 생각하면 이해하기에 한결 편리합니다.
complicated_dict['ten'] = [11, 12]
print(complicated_dict)

{0: 1, 2: [3, 4, 5], 'six': (7, 8), 'sub_num_dict': {0: 1, 2: (3, 4), 'five': [6, 7]}, 'nine': 'finished', 'ten': [11, 12]}

## **9.4. 데이터 수정하기**

`complicated_dict` 딕셔너리에 있는 기존의 값을 수정할 때도 값을 추가하는 방식인 `딕셔너리[key] = value` 형태를 사용합니다.

아래 코드로 예시합니다.

In [ ]:
complicated_dict['sub_num_dict'] = {0: 1, 2: 3}
print(complicated_dict)

{0: 1, 2: [3, 4, 5], 'six': (7, 8), 'sub_num_dict': {0: 1, 2: 3}, 'nine': 'finished', 'ten': [11, 12]}

## **9.5. 데이터 삭제하기**

`complicated_dict` 딕셔너리에 있는 값을 삭제하려면 `del 딕셔너리[key]` 형태를 사용합니다. 키에 해당하는 값이 키와 함께 삭제됩니다.

아래 코드로 예시합니다.

In [ ]:
del complicated_dict['sub_num_dict']
print(complicated_dict)

{0: 1, 2: [3, 4, 5], 'six': (7, 8), 'nine': 'finished', 'ten': [11, 12]}

## **9.6. 딕셔너리 함수 적용하기**

딕셔너리도 전용 함수가 있습니다. 형식은 `딕셔너리.함수()`입니다.

아래는 딕셔너리 전용 함수 목록을 예시로 풀어낸 형식입니다.

- `complicated_dict.keys()`: 모든 키를 리스트로 출력합니다.

- `complicated_dict.values()`: 모든 값을 리스트로 출력합니다.

- `complicated_dict.items()`: 키와 값의 짝을 리스트 안에 튜플로 출력합니다.

- `complicated_dict.update(loc_dict)`: 딕셔너리에 다른 딕셔너리가 가진 데이터를 추가합니다.

- `complicated_dict.clear()`: 모든 원소를 삭제합니다.

`key()` 함수에 대한 예시입니다.

In [ ]:
print(complicated_dict)
print(complicated_dict.keys())

{0: 1, 2: [3, 4, 5], 'six': (7, 8), 'nine': 'finished', 'ten': [11, 12]}
dict_keys([0, 2, 'six', 'nine', 'ten'])

`values()` 함수에 대한 예시입니다.

In [ ]:
print(complicated_dict)
print(complicated_dict.values())

{0: 1, 2: [3, 4, 5], 'six': (7, 8), 'nine': 'finished', 'ten': [11, 12]}
dict_values([1, [3, 4, 5], (7, 8), 'finished', [11, 12]])

`items()` 함수에 대한 예시입니다. 리스트에 튜플로 키와 값이 묶입니다.

In [ ]:
print(complicated_dict)
print(complicated_dict.items())

{0: 1, 2: [3, 4, 5], 'six': (7, 8), 'nine': 'finished', 'ten': [11, 12]}
dict_items([(0, 1), (2, [3, 4, 5]), ('six', (7, 8)), ('nine', 'finished'), ('ten', [11, 12])])

for문과 `items()` 함수를 조합하면 키와 값을 출력할 수 있습니다.

In [ ]:
for key, value in complicated_dict.items():
    print(f'complicated_dict[{key}]: {value}')

complicated_dict[0]: 1
complicated_dict[2]: [3, 4, 5]
complicated_dict[six]: (7, 8)
complicated_dict[nine]: finished
complicated_dict[ten]: [11, 12]

데이터를 분석할 때는 일반적으로 리스트를 사용하는 경우가 많습니다. 리스트로 변환하는 작업에 능숙해야 합니다. 아래는 이에 대한 예시입니다.

In [ ]:
print(list(complicated_dict.keys()))
print(list(complicated_dict.values()))
print(list(complicated_dict.items()))

[0, 2, 'six', 'nine', 'ten']
[1, [3, 4, 5], (7, 8), 'finished', [11, 12]]
[(0, 1), (2, [3, 4, 5]), ('six', (7, 8)), ('nine', 'finished'), ('ten', [11, 12])]

`update()` 함수에 대한 예시입니다.

In [ ]:
complicated_dict.update(loc_dict)
print(complicated_dict)

{0: 1, 2: [3, 4, 5], 'six': (7, 8), 'nine': 'finished', 'ten': [11, 12], '서울': '종로', '경기': '분당', '인천': '부평', '충남': '논산'}

`clear()` 함수를 사용하면 세트 형태는 남고 모든 데이터가 삭제됩니다. 타입 또한 여전히 세트입니다.

In [ ]:
complicated_dict.clear()
print(complicated_dict)
type(complicated_dict)

{}

dict

# **10. 제어문**

제어문은 조건문과 반복문으로 나뉩니다. 말그대로 조건문은 조건에 따라 다른 명령을 수행하도록 작성한 코드이고, 반복문은 특정 명령을 반복하도록 작성한 코드입니다. 이 두 문형은 매우 밀접한 관계이므로 주로 혼합하여 구성합니다.

## **10.1. pass 활용하기**

코딩하는 과정 중에 `pass`를 활용하면 큰 도움이 됩니다. 초기 단계에 전체적인 코드 틀을 형성하면서 `pass`를 활용하고, 세세하게 코딩하는 단계에서 `pass`를 제거해가며 코드 전체를 완성하는 것입니다. 기실 틀만 잡고 아무 코드가 없는 상태에서는 애러가 발생하기 마련입니다. 이를 `pass`가 방지하는 것입니다.

아래는 설명에 대한 예시입니다.

In [ ]:
a = 100
if a > 190:
    pass
elif 100 <= a < 190:
    pass
else:
    pass

참고로 `raise`와 `NotImplementedError`를 함께 사용하여 `raise NotImplementedError`를 명시하면 미개발된 부분을 가리키는 오류를 출력할 수 있습니다.

In [ ]:
num = input()
num = int(num)

if num > 5000:
    raise NotImplementedError
elif num > 10000:
    raise NotImplementedError
else:
    raise NotImplementedError

15000

NotImplementedError: ignored

## **10.2. range() 함수 적용하기**

`range()` 함수는 for문에서 자주 사용합니다. 형식은 `range(시작, 끝, 단계)`이며, 인덱싱처럼 끝은 `끝-1`입니다. 지정한 끝의 전까지만 범위를 지정합니다.

In [ ]:
for i in range(0, 6, 2):
    print(i)

0
2
4

`range(시작, 끝, 단계)` 형식에서 시작과 단계를 생략하면 끝만 남습니다. 여기서 시작과 단계는 각각 0과 1로 간주합니다.

In [ ]:
for i in range(8):
    print(i)

0
1
2
3
4
5
6
7

`range()` 함수로 결과를 출력하려면 `list()` 함수를 사용해야 합니다. 먼저 `list()` 함수를 사용하지 않고 출력하겠습니다.

In [ ]:
print(range(0, 6, 2))

range(0, 6, 2)

`range(0, 6, 2)`로 출력됐습니다. 원소를 출력하려면 `list()` 함수로 묶어야 합니다.

In [ ]:
list(range(0, 6, 2))

[0, 2, 4]

역순으로 범위를 지정하려면 -1을 사용하거나 `reversed()` 함수를 사용합니다.

In [ ]:
print(list(range(5, -1, -1)))
print(list(reversed(range(6))))

[5, 4, 3, 2, 1, 0]
[5, 4, 3, 2, 1, 0]

## **10.3. zip() 함수 적용하기**

`zip()` 함수는 여러 리스트의 값을 하나로 묶는 데에 사용할 수 있습니다.

아래 코드로 설명합니다.

In [ ]:
fruits = ['banana', 'apple', 'grape', 'strawberry']
names = ['승원', '미니', '꼬맹', '철수']

for fruits, names in zip(fruits, names):
    print(fruits, names)

banana 승원
apple 미니
grape 꼬맹
strawberry 철수

## **10.4. while문**

for문이 단순하게 반복만 수행하는 형태라면, while문은 조건에 따라 반복하고 멈추는 형태입니다.

아래는 while문에 대한 예시입니다.

In [ ]:
i = 0
# 예를 들고자 변수명을 `sum`으로 지정했을 뿐입니다.
# 실제로 sum은 함수 `sum()`이 존재하므로 올바르지 않은 변수명입니다.
sum = 0

while sum < 10:
    i = i + 1
    sum = sum + i
    print(i, sum)

# 바르지 않게 지정한 변수명을 가진 변수를 삭제하겠습니다.
del sum

1 1
2 3
3 6
4 10

무한으로 반복하게 하려면 조건을 항상 참인 `True`로 지정합니다.

In [ ]:
# 주석으로 처리합니다.
# while True:
#     print('infinite')

특정된 모든 값을 제거하려면 while문과 리스트의 `remove()` 함수를 함께 사용합니다.

In [ ]:
num_list = [1, 2, 3, 1, 2, 3, 1, 2, 3]
num = 3

while num in num_list:
    num_list.remove(num)

print(num_list)

[1, 2, 1, 2, 1, 2]

특정 시간동안 컴퓨터가 반복하는 작업 횟수를 출력하겠습니다. while문과 **유닉스 타임(unix time)**을 활용합니다. 유닉스 타임이란 1970년 1월 1일 0시 0분 0초를 기준으로 현재까지 몇 초만큼 흘렀는지 정수로 표현한 것입니다. `time` 모듈의 `time` 메서드를 사용하면 현재까지 몇 초만큼 흘렀는지 출력할 수 있습니다.

In [ ]:
help(time.time)

Help on built-in function time in module time:

time(...)
    time() -> floating point number

    Return the current time in seconds since the Epoch.
    Fractions of a second may be present if the system clock provides them.

In [ ]:
time.time()

1640672133.9952896

In [ ]:
# `time` 모듈을 호출합니다.
import time

# 반복 횟수는 0부터 시작합니다.
number = 0
# 현재 유닉스 타임에 3초를 더합니다. 
time_3 = time.time() + 3

# 3초를 더한 유닉스 타임보다 작으면 `number`에 반복횟수 1을 더합니다.
while time.time() < time_3:
    number += 1

print(f'3초간 {number}회 반복합니다.')

3초간 13809945회 반복합니다.

컴퓨터의 처리 속도에 따라 반복하는 횟수가 다르게 출력됩니다.

## **10.5. continue와 break으로 제어하기**

`continue`는 처음으로 돌아가서 반복을 수행하고, `break`은 반복문을 빠져나옵니다.

먼저 `continue`에 대한 예시입니다.

In [ ]:
for i in range(6):
    if i == 3:
        continue
    print(i)

0
1
2
4
5

`i == 3`이면 처음으로 돌아가서 다시 반복을 수행합니다. 따라서 3만 빼놓고 출력했습니다.

다른 예제입니다.

In [ ]:
numbers = [1, 4, 7, 2, 10, 19, 21, 94]

for number in numbers:
    if number > 20:
        continue
    print(number)

1
4
7
2
10
19

20보다 큰 수를 제외하고 모두 출력됐습니다.

다음은 `break`에 대한 예시입니다.

In [ ]:
for i in range(6):
    if i > 4:
        break
    print(i)

0
1
2
3
4

`i > 4`이므로 4까지만 출력하고 빠져나왔습니다.

`break`을 사용하여 무한으로 반복하는 while문을 만들겠습니다.

In [ ]:
i = 0

while True:
    print(f'반복 횟수는 {i}번입니다.')
    i = i + 1
    y_or_n = input('계속하시겠습니까? (y/n): ')
    if y_or_n in ['N', 'n']:
        print('종료합니다.')
        break

반복 횟수는 0번입니다.
계속하시겠습니까? (y/n): y
반복 횟수는 1번입니다.
계속하시겠습니까? (y/n): y
반복 횟수는 2번입니다.
계속하시겠습니까? (y/n): y
반복 횟수는 3번입니다.
계속하시겠습니까? (y/n): n
종료합니다.

`continue`와 `break`을 모두 사용하겠습니다.

In [ ]:
i = 0

while True:
    i = i + 1
    if i == 3:
        print("it's 3.")
        continue
    if i > 6:
        break
    print(i)

1
2
it's 3.
4
5
6

## **10.6. 리스트 내포**

**리스트 내포(list comprehension)**은 리스트 안에 코드가 들어있는 것을 의미합니다(comprehension의 사전적 의미는 이해, '포함'입니다). 리스트 안에 반복문이 들어있으면 반복문을 한 줄로 작성할 수 있습니다.

형식은 아래와 같습니다.

```
[반복 실행문 for 반복 변수 in 반복할 수 있는 것]
```

리스트 내포의 예시를 들겠습니다.

In [ ]:
num = [1, 2, 3, 4, 5]
list_comprehension1 = [i * 3 for i in num]

print(list_comprehension1)

[3, 6, 9, 12, 15]

반복문에 조건을 부여할 수도 있습니다.

형식은 아래와 같습니다.

```
[반복 실행문 for 반복 변수 in 반복할 수 있는 것 if 조건]
```

형식에 대한 예시를 듭니다.

In [ ]:
list_comprehension2 = [i * 3 for i in num if i > 2]

print(list_comprehension2)

[9, 12, 15]

참고로 위 형식에서 '반복할 수 있는 것'을 **이터러블(iterable)**이라고 하며, 원소를 하나씩 꺼낼 수 있는 객체를 의미합니다. 리스트, 딕셔너리, 문자열 튜플, 함수를 적용한 객체(예컨대 `reversed()`, `enumerate()`) 등은 이터러블입니다.

더불어 `next()` 함수로 요소를 하나씩 꺼낼 수 있는 것을 **이터레이터(iterator)**라고 합니다. for문으로 반복할 때마다 `next()` 함수를 지속적으로 사용하면서 이터레이터를 꺼내는 것입니다.

In [ ]:
nums = [1, 2, 3, 4, 5]
reversed_nums = reversed(nums)
enumerate_nums = enumerate(nums)

print(reversed_nums)
print(next(reversed_nums))
print(next(reversed_nums))
print(next(reversed_nums))
print(next(reversed_nums))
print(next(reversed_nums))

print()

print(enumerate_nums)
print(next(enumerate_nums))
print(next(enumerate_nums))
print(next(enumerate_nums))
print(next(enumerate_nums))
print(next(enumerate_nums))

<list_reverseiterator object at 0x7fb5728f3410>
5
4
3
2
1

<enumerate object at 0x7fb56e5e34b0>
(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)

# **11. 입출력**

## **11.1. 출력**

예시하면서 설명합니다.

콤마로 구분하면 원소가 한 칸씩 띈 상태로 출력됩니다.

매개변수 `sep`에 문자열을 지정하면 빈칸 대신 다른 형태를 넣을 수 있습니다.

빈칸을 붙이려면 더하기 연산자를 사용합니다.

콤마와 더하기는 함께 사용할 수 있습니다.

In [ ]:
print('콤마 사용:', 'ab', 'cd', 'ef', 'gh')
print('sep 사용: ', 'ab', 'cd', 'ef', 'gh', sep='^')
print('더하기 사용:', 'ab'+'cd'+'ef'+'gh')
print('혼합 사용', 'ab' + 'cd', 'ef' + 'gh')

콤마 사용: ab cd ef gh
sep 사용: ^ab^cd^ef^gh
더하기 사용: abcdefgh
혼합 사용 abcd efgh

`end` 매개변수는 두 줄로 출력된 결과를 한 줄로 출력하게 합니다.

In [ ]:
print('This is')
print('Sparta')
print()
print('This is', end=' just ')
print('Sparta')

This is
Sparta

This is just Sparta

`%` 연산자를 이용한 각종 출력 방식을 설명합니다.

예시를 들면서 설명하겠습니다.

In [ ]:
dog = '개'
print('지나가는 %s가 웃어!' %dog)

지나가는 개가 웃어!

데이터가 문자 타입이라면 `%s`, 실수 타입이라면 `%f`, 정수 타입이라면 `%d`로 지정합니다. 위 코드는 문자 타입이므로 `%s`입니다.

데이터가 다수여도 적용할 수 있습니다. 

이에 대한 예시입니다.

In [ ]:
dogs = '몰티즈', '푸들', 2
print('지나가는 %s랑 %s %d마리가 웃어!' %dogs)
print('지나가는 %s랑 %s %s마리가 웃어!' %dogs)
print('지나가는 %s랑 %s %f마리가 웃어!' %dogs)

지나가는 몰티즈랑 푸들 2마리가 웃어!
지나가는 몰티즈랑 푸들 2마리가 웃어!
지나가는 몰티즈랑 푸들 2.000000마리가 웃어!

`format()` 메서드를 이용해서 문자열을 출력할 수도 있습니다.

예시로 설명하겠습니다.

In [ ]:
my_country = 'korea'
your_country = 'USA'
print("I'm in {0}, You're in {1}.".format(my_country, your_country))

I'm in korea, You're in USA.

여러 문자열을 한꺼번에 출력할 수도 있고, 하나만 선택해서 출력할 수도 있습니다.

In [ ]:
colors = ['red', 'blue', 'yellow', 'skyblue']
print('I have {0}.'.format(colors))
print('My favorite color is {0}.'.format(colors[0]))
print('Your favorite color is {0}.'.format(colors[3]))

I have ['red', 'blue', 'yellow', 'skyblue'].
My favorite color is red.
Your favorite color is skyblue.

출력할 객체의 데이터를 지정할 수도 있습니다.

In [ ]:
my_country = 'korea'
your_country = 'USA'
colors = ['red', 'blue', 'yellow', 'skyblue']
print("I'm in {0}. My favorite colors are {2}, {3}.".
      format(my_country, your_country, colors[0], colors[1]))

I'm in korea. My favorite colors are red, blue.

`{숫자}` 형태가 아닌 `{}` 형태로도 지정할 수 있습니다. 순차적으로 데이터를 출력합니다.

In [ ]:
print("I'm in {}, You're in {}.".format(my_country, your_country))

I'm in korea, You're in USA.

문자열뿐만 아니라 숫자인 데이터도 출력할 수 있습니다. 설명은 생략합니다.

다만 숫자를 출력할 때는 형식을 지정할 수 있습니다.

아래는 먼저 정수에 대한 예시입니다.

`{N:nd}` 형식으로 정수를 출력합니다. `N`은 데이터의 위치, `n`은 공백칸의 개수입니다. 공백칸수에 해당하는 숫자가 클수록 공백이 커집니다.

In [ ]:
num_d = 6
print('공백칸 수를 지정해볼까? {0:1d}'.format(num_d))
print('공백칸 수를 지정해볼까? {0:2d}'.format(num_d))
print('공백칸 수를 지정해볼까? {0:7d}'.format(num_d))

공백칸 수를 지정해볼까? 6
공백칸 수를 지정해볼까?  6
공백칸 수를 지정해볼까?       6

공백 대신 숫자 0을 채우는 방법도 있습니다. `{N:0nd}` 형식을 취합니다. 숫자 `n`을 지정하여 공백 대신 0의 개수를 채웁니다.

In [ ]:
print('0으로 공백을 채워..{0:04d}'.format(num_d))
print('0으로 공백을 채워..{0:09d}'.format(num_d))

0으로 공백을 채워..0006
0으로 공백을 채워..000000006

`{N:>nd}`와 `{N:<nd}`는 각각 오른쪽 정렬과 왼쪽 정렬입니다. `n`은 공백칸의 개수입니다.

In [ ]:
print('숫자를 정렬할 거야.{0:>5d}..완료!'.format(num_d))
print('숫자를 정렬할 거야.{0:<5d}..완료!'.format(num_d))

숫자를 정렬할 거야.    6..완료!
숫자를 정렬할 거야.6    ..완료!

숫자를 진수 형태로도 출력할 수 있습니다.

아래에서 예시하겠습니다.

In [ ]:
two = 2
eight = 8
sixteen = 16
print('2의 진수는 {:#x}'.format(two))
print('2의 진수는 (#을 생략하면) {:x}'.format(two))
print('8의 진수는 {:#o}'.format(eight))
print('8의 진수는 (#을 생략하면) {:o}'.format(eight))
print('16의 진수는 {:#b}'.format(sixteen))
print('16의 진수는 (#을 생략하면) {:b}'.format(sixteen))

2의 진수는 0x2
2의 진수는 (#을 생략하면) 2
8의 진수는 0o10
8의 진수는 (#을 생략하면) 10
16의 진수는 0b10000
16의 진수는 (#을 생략하면) 10000

예시 그대로입니다.

아래는 실수에 대한 예시입니다.

`{N:.nf}` 형식입니다. `n`에 소수점 자리 수를 지정할 수 있습니다.

In [ ]:
num_f = 123.4567
print('소수점 몇 째 자리까지 출력할까? {:.2f}'.format(num_f))
print('소수점 몇 째 자리까지 출력할까? {:.3f}'.format(num_f))
print('소수점 몇 째 자리까지 출력할까? {:.4f}'.format(num_f))

소수점 몇 째 자리까지 출력할까? 123.46
소수점 몇 째 자리까지 출력할까? 123.457
소수점 몇 째 자리까지 출력할까? 123.4567

아래는 각종 숫자 출력 방식입니다.

먼저 `{N:.n%}` 형식으로 소수점을 지정하고 퍼센트를 붙일 수 있습니다.

In [ ]:
print('퍼센트를 붙이자. {:.0%}'.format(num_f))
print('퍼센트를 붙이자. {:.1%}'.format(num_f))
print('퍼센트를 붙이자. {:.2%}'.format(num_f))
print('퍼센트를 붙이자. {:.4%}'.format(num_f))

퍼센트를 붙이자. 12346%
퍼센트를 붙이자. 12345.7%
퍼센트를 붙이자. 12345.67%
퍼센트를 붙이자. 12345.6700%

`,`를 3칸마다 붙일 수 있습니다. `{N:,}` 형식입니다.

In [ ]:
num_money = 97000000
print('금액에 붙이는 쉼표를 달자. {:,}$'.format(num_money))

금액에 붙이는 쉼표를 달자. 97,000,000$

지수로 표현할 수 있습니다. 형식은 `{:.ne}`이고, 소수점 자리 수는 `n`에 지정합니다.

In [ ]:
num_e = 8530000000
print('지수로 표현하면? {:.1e}'.format(num_e))
print('지수로 표현하면? {:.2e}'.format(num_e))
print('지수로 표현하면? {:.4e}'.format(num_e))

지수로 표현하면? 8.5e+09
지수로 표현하면? 8.53e+09
지수로 표현하면? 8.5300e+09

## **11.2. 입력**

직접 데이터를 입력하는 함수는 `input()`입니다. `객체명 = input(데이터)` 형식으로 쓰입니다. 숫자나 문자열 모두 입력할 수 있습니다.

In [ ]:
input_data = input('무엇을 주문하시겠어요? ')
print('주문하신 메뉴는 {}입니다.'.format(input_data))

무엇을 주문하시겠어요? 아메리카노
주문하신 메뉴는 아메리카노입니다.

숫자를 입력해서 연산 작업을 할 수도 있습니다. 이때 입력한 숫자는 문자형로 인식되므로, 연산 작업을 수행하려면 객체를 숫자형으로 변환하기 위해 정수로 바꾸는 `int()` 함수 또는 실수로 바꾸는 `float()` 함수로 묶어서 숫자로 바꿔야 합니다.

In [ ]:
input_data = input('데이터를 입력하세요.')
final_data = int(input_data) + 5
print('최종 데이터는 {}입니다'.format(final_data))

데이터를 입력하세요.16
최종 데이터는 21입니다

# **12. 파일 다루기 기본**

## **12.1. 파일 열기**

`open()` 함수를 사용해서 파일을 열 수 있습니다.

형식은 아래와 같습니다.

`file = open('파일이름', '파일열기속성')`

`파일열기속성`에 포함되는 목록은 아래와 같습니다.

- `r`: 읽기 모드로 파일을 엽니다. `파일열기속성`을 지정하지 않았을 때 기본값으로 지정되는 인자입니다.

- `w`: 쓰기 모드로 파일을 엽니다. 파일명이 같은 파일이 존재하면 기존 내용은 자동으로 삭제됩니다. `x` 인자의 경우는 파일명이 같은 파일이 존재하면 오류가 납니다.

- `a`: 추가 모드로 파일을 엽니다. 파일명이 같은 파일이 없으면 사실상 `w` 인자와 동일합니다.

- `t`: 텍스트 모드로 파일을 엽니다. 기본적으로 지정되는 인자입니다.

- `b`: 바이너리 모드로 파일을 엽니다.

정리하자면 `파일열기속성`에 아무것도 지정하지 않으면 `rt`로 자동으로 지정되는 것입니다. `w`만 지정한다면 자동으로 `wt`로 지정됩니다. 여러 속성을 혼합해서 지정할 수도 있는데, 예를 들면 `rb`이며 `br`도 가능합니다. 

아래 코드에서 예시합니다.

In [ ]:
# 임의로 지정한 파일명입니다. 불러 올 파일이 없으므로 오류가 납니다.
# test_file = open('my_favorite', 'rb')

## **12.2. 파일 쓰기**

파일을 연 후에 쓰기 작업을 수행할 수 있습니다. 단, 쓰기 작업을 수행하려면 파일을 `w` 형식으로 열어야 합니다.

아래는 파일을 쓰고 닫는 형식입니다.

```
file.write(데이터)
file.close()
```

예시를 들기 위해 구글 드라이브와 연동합니다.

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

파일을 쓰고 저장하기 위해 경로를 잡습니다.

In [ ]:
cd /content/gdrive/MyDrive/Python_for_Data_Analytics_Science

/content/gdrive/MyDrive/Python_for_Data_Analytics_Science

파일 쓰기에 대한 예시입니다. 지정된 경로에 해당 파일이 저장됩니다.

In [ ]:
test_file = open('test.txt','w')
test_file.write('Test text')
test_file.close()

참고로 파일이 닫혔는지 확인하려면 `file.closed`를 사용합니다.

## **12.3. 파일 읽기**

위에서 생성한 `test.txt`을 읽겠습니다.

In [ ]:
# 기본값이 `r`이므로 따로 지정하지 않아도 괜찮습니다.
test_file = open('test.txt')
read_file = test_file.read()
test_file.close()
print(read_file)

Test text

## **12.4. 반복문으로 파일 쓰기**

먼저 for문으로 문자열을 작성하는 법을 설명합니다.

아래는 $5 + 0 = 5$부터 $5 + 7 = 12$까지 줄을 바꿔서 파일에 텍스트를 쓰는 for문입니다.

In [ ]:
file = open('for_plus5.txt', 'w')
for num in range(8):
    plus5 = '5 + {} = {}\n'.format(num, num+5)
    file.write(plus5)
file.close()

## **12.5. 반복문으로 파일 읽기**

파일 내용을 한 줄씩 읽으려면 `readline()` 함수나 `readlines()` 함수를 사용합니다.

- `readline()`: 문자열 한 줄을 읽습니다. 

- `readlines()`: 전체 문자열을 읽고 한 줄씩 쉼표로 구분되는 리스트로 바꿉니다.

먼저 `readline()` 함수에 대한 예시입니다.

In [ ]:
file = open('for_plus5.txt')
line1 = file.readline()
line2 = file.readline()
line3 = file.readline()
line4 = file.readline()
file.close()
print(line1)
print(line2)
print(line3)

5 + 0 = 5

5 + 1 = 6

5 + 2 = 7

위에서 개행 문자로 `\n`을 지정했기 때문에 한 줄씩 개행되면서 문자열이 출력됐습니다. 개행되지 않도록 출력하려면 `end=''`로 매개변수를 지정합니다. `''`는 빈칸이므로 빈 문자열은 읽지 않도록 조치하는 것입니다.

In [ ]:
print(line1, end='')
print(line2, end='')
print(line3, end='')

5 + 0 = 5
5 + 1 = 6
5 + 2 = 7

while문으로 파일을 읽겠습니다. 위처럼 빈 문자열을 읽지 않도록 지정하겠습니다.

In [ ]:
file = open('for_plus5.txt')
line = file.readline()
# line이 False이면 빈 문자열이므로 해당 문자열은 생략하고 출력하지 않습니다.
while line:
    print(line, end='')
    line = file.readline()
file.close()

5 + 0 = 5
5 + 1 = 6
5 + 2 = 7
5 + 3 = 8
5 + 4 = 9
5 + 5 = 10
5 + 6 = 11
5 + 7 = 12

`readlines()` 함수에 대한 예시입니다. 리스트 형태로 구성되며 한 줄씩 원소로 갖습니다.

In [ ]:
file = open('for_plus5.txt')
lines = file.readlines()
file.close()
print(lines)

['5 + 0 = 5\n', '5 + 1 = 6\n', '5 + 2 = 7\n', '5 + 3 = 8\n', '5 + 4 = 9\n', '5 + 5 = 10\n', '5 + 6 = 11\n', '5 + 7 = 12\n']

리스트에 할당된 원소인 문자열을 빈 문자열을 제외하고 출력하려면 for문으로도 처리할 수 있습니다.

In [ ]:
file = open('for_plus5.txt')
lines = file.readlines()
file.close()
for line in lines:
    print(line, end='')

5 + 0 = 5
5 + 1 = 6
5 + 2 = 7
5 + 3 = 8
5 + 4 = 9
5 + 5 = 10
5 + 6 = 11
5 + 7 = 12

위 코드에서 더 축약할 수도 있습니다. `lines` 객체에 문자열을 지정하지 않고 바로 for문으로 넘깁니다.

In [ ]:
file = open('for_plus5.txt')
for line in file.readlines():
    print(line, end='')
file.close()

5 + 0 = 5
5 + 1 = 6
5 + 2 = 7
5 + 3 = 8
5 + 4 = 9
5 + 5 = 10
5 + 6 = 11
5 + 7 = 12

위 코드에서 `file` 객체만 입력하는 것으로 갈음할 수도 있습니다. `file` 객체는 `readlines()` 함수로 처리한 리스트 형태의 원소가 담겨있기 때문입니다.

In [ ]:
file = open('for_plus5.txt')
for line in file:
    print(line, end='')
file.close()

5 + 0 = 5
5 + 1 = 6
5 + 2 = 7
5 + 3 = 8
5 + 4 = 9
5 + 5 = 10
5 + 6 = 11
5 + 7 = 12

## **12.6. with문으로 파일 쓰고 읽기**

with문은 위에서 하나씩 지정했던 읽고 닫는 과정을 스스로 처리합니다. 따로 `close()` 함수를 지정할 필요가 없습니다. 프로그램이 외부 파일과 네트워크 등과 통하려면 데이터가 흐르는 길인 **스트림(stream)**을 만들어야 합니다. 이 스트림을 열고 닫는 과정에서 발생할 수 있는 실수를 줄이고자 with문을 사용합니다.

코드 형식은 아래와 같습니다.

```
with open('파일명', '파일열기속성') as f
```

파일에 데이터를 쓸 경우의 형식은 아래와 같습니다.

```
with open('파일명', '파일열기속성') as f:
    f.write(데이터)
```

파일을 읽는 경우의 형식은 아래와 같습니다.

```
with open('파일명', '파일열기속성') as f:
    file_data = f.read()
```

with문을 사용하는 예시입니다. 먼저 파일을 생성해서 텍스트를 추가하겠습니다.

In [ ]:
with open('test2.txt', 'w') as f:
    f.write("Ok. It's 'with' power.\n")
    f.write("So powerful 'with'.\n")

생성한 텍스트 파일을 읽겠습니다.

In [ ]:
with open('test2.txt') as f:
    with_power = f.read()
    print(with_power)

Ok. It's 'with' power.
So powerful 'with'.

with문과 반복문을 함께 사용하겠습니다. 이번에는 빼기 연산을 반복하는 파일을 만듭니다.

In [ ]:
with open('with_subtract4.txt', 'w') as f:
    for i in range(12):
        subtract4 = '4 - {} = {}\n'.format(i, 4 - i)
        f.write(subtract4)

생성한 파일을 읽습니다. 위에서처럼 빈 문자열은 읽지 않습니다.

In [ ]:
with open('with_subtract4.txt') as f:
    for line in f:
        print(line, end='')

4 - 0 = 4
4 - 1 = 3
4 - 2 = 2
4 - 3 = 1
4 - 4 = 0
4 - 5 = -1
4 - 6 = -2
4 - 7 = -3
4 - 8 = -4
4 - 9 = -5
4 - 10 = -6
4 - 11 = -7

이번에는 임의로 아무개들의 정보를 만들고, 브로카 변법을 적용하여 적정 체중을 구하겠습니다. 먼저 아무개들의 정보를 만듭니다.

In [ ]:
import random

first_name = list('김구기고나노라마박반복배이안윤인지전진')
name_words = list('가계교규균다도두로루리모무민봉부세서소순아오우유주준태희')

with open('/content/gdrive/MyDrive/Python_for_Data_Analytics_Science/members.txt', 'w') as f:
    for i in range(10):
        name = random.choice(first_name) + random.choice(name_words) + random.choice(name_words)
        age = random.randint(20, 40)
        height = random.randrange(150, 200)
        weight = random.randrange(40, 100)
        f.write('{}, {}, {}, {}\n'.format(name, age, height, weight))

브로카 변법을 적용하여 적정 체중을 구하겠습니다. 공식은 코드와 같으며 크게 중요하지 않습니다.

In [ ]:
with open('/content/gdrive/MyDrive/Python_for_Data_Analytics_Science/members.txt', 'r') as f:
    for line in f:
        (name, age, height, weight) = line.strip().split(', ')
        
        # 각각 원소에 문제가 있으면 통과합니다.
        if (not name) or (not age) or (not weight) or (not height):
            continue
        if int(height) < 150:
            proper_weight = int(height) - 100
        elif int(height) < 160:
            proper_weight = (int(height) - 150) / 2 + 50
        else:
            proper_weight = (int(height) - 100) * 0.9

        if int(weight) < proper_weight:
            condition = '더 먹어!'
        elif int(weight) == proper_weight:
            condition = '그럴리가?'
        else:
            condition = '그만 먹어..'
        
        print('\n'.join(['성명: {}', '연령: {}', '키: {}', '체중: {}', '수치: {}', '조언: {}']).
              format(name, age, height, weight, round(proper_weight, 1), condition))
        print()

성명: 고도주
연령: 30
키: 167
체중: 44
수치: 60.3
조언: 더 먹어!

성명: 이우리
연령: 34
키: 196
체중: 65
수치: 86.4
조언: 더 먹어!

성명: 안무무
연령: 35
키: 184
체중: 55
수치: 75.6
조언: 더 먹어!

성명: 나가무
연령: 21
키: 179
체중: 97
수치: 71.1
조언: 그만 먹어..

성명: 기규우
연령: 40
키: 161
체중: 90
수치: 54.9
조언: 그만 먹어..

성명: 구로다
연령: 21
키: 173
체중: 64
수치: 65.7
조언: 더 먹어!

성명: 이무도
연령: 39
키: 158
체중: 46
수치: 54.0
조언: 더 먹어!

성명: 윤희주
연령: 34
키: 192
체중: 77
수치: 82.8
조언: 더 먹어!

성명: 박두희
연령: 35
키: 159
체중: 57
수치: 54.5
조언: 그만 먹어..

성명: 윤도루
연령: 35
키: 165
체중: 77
수치: 58.5
조언: 그만 먹어..

# **13. 텍스트 파일 다루기**

먼저 텍스트 파일을 생성하여 구글 드라이브의 폴더에 저장하겠습니다.

In [ ]:
with open('fruits_sales.txt', 'w') as f:
    f.write("date  banana  apple  grape  strawberry\n")
    f.write("9.26.   16     32     11        62\n")
    f.write("9.27.   18     22     36        9\n")
    f.write("9.28.   12     31     28        53\n")
    f.write("9.29.   54     23     21        8\n")

저장한 텍스트 파일을 읽습니다.

In [ ]:
with open('fruits_sales.txt') as f:
    fruits_sales = f.read()
    print(fruits_sales)

date  banana  apple  grape  strawberry
9.26.   16     32     11        62
9.27.   18     22     36        9
9.28.   12     31     28        53
9.29.   54     23     21        8

텍스트 파일의 첫 줄을 읽습니다.

In [ ]:
with open('fruits_sales.txt') as f:
    fruits_sales_line1 = f.readline()
    print(fruits_sales_line1)

date  banana  apple  grape  strawberry

공백과 개행열을 제거하고 리스트로 만듭니다.

In [ ]:
print(fruits_sales_line1.split())

['date', 'banana', 'apple', 'grape', 'strawberry']

for문을 사용해서 두 번째 줄부터 마지막 줄까지 첫 줄처럼 리스트로 출력하겠습니다. 먼저 첫 줄을 떼서 변수에 넘기는 작업이 선행되어야 합니다. 그리고나서 두 번째 줄부터 마지막 줄까지 for문으로 한 줄씩 출력합니다.

In [ ]:
with open('fruits_sales.txt') as f:
    fruits_sales_line1 = f.readline()
    fruits_sales_line1.split()
    for line in f:
        fruits_line_list = line.split()
        print(fruits_line_list)

['9.26.', '16', '32', '11', '62']
['9.27.', '18', '22', '36', '9']
['9.28.', '12', '31', '28', '53']
['9.29.', '54', '23', '21', '8']

리스트로 출력하는 것뿐만 아니라 새로 생성한 리스트에 원소들을 저장하겠습니다. 원소들은 숫자로 입력된 상태지만 형식은 문자열(string)입니다. 데이터 분석을 위해서는 `int()` 함수를 사용하여 숫자로 변환해야 합니다.

아래 코드로 전체적인 과정을 정리하고 내용을 추가하겠습니다.

In [ ]:
with open('fruits_sales.txt') as f:
    fruits_sales_line1 = f.readline()
    fruits_sales_line1_split = fruits_sales_line1.split()

    date = []
    banana = []
    apple = []
    grape = []
    strawberry = []

    for line in f:
        fruits_sales_list = line.split()
        date.append(fruits_sales_list[0])
        banana.append(int(fruits_sales_list[1]))
        apple.append(int(fruits_sales_list[2]))
        grape.append(int(fruits_sales_list[3]))
        strawberry.append(int(fruits_sales_list[4]))

    print('첫 줄:', fruits_sales_line1_split)
    print('판매일자: {}'.format(date))
    print('{} 판매량: {}'.format(fruits_sales_line1_split[1], banana))
    print('{} 판매량: {}'.format(fruits_sales_line1_split[2], apple))
    print('{} 판매량: {}'.format(fruits_sales_line1_split[3], grape))
    print('{} 판매량: {}'.format(fruits_sales_line1_split[4], strawberry))

첫 줄: ['date', 'banana', 'apple', 'grape', 'strawberry']
판매일자: ['9.26.', '9.27.', '9.28.', '9.29.']
banana 판매량: [16, 18, 12, 54]
apple 판매량: [32, 22, 31, 23]
grape 판매량: [11, 36, 28, 21]
strawberry 판매량: [62, 9, 53, 8]

위의 변수들을 토대로 총 판매량과 평균 판매량을 구하겠습니다. 평균을 구하는 다양한 방법은 [링크](https://blockdmask.tistory.com/559)를 참고하시기 바랍니다.

In [ ]:
banana_sum = sum(banana)
apple_sum = sum(apple)
grape_sum = sum(grape)
strawberry_sum = sum(strawberry)
sum_list = [banana_sum, apple_sum, grape_sum, strawberry_sum]

banana_mean = banana_sum/len(banana)
apple_mean = apple_sum/len(apple)
grape_mean = grape_sum/len(grape)
strawberry_mean = strawberry_sum/len(strawberry)
mean_list = [banana_mean, apple_mean, grape_mean, strawberry_mean]

for i in range(len(sum_list)):
    print('{} 총 판매량: {}개\n      평균 판매량: {}개'.format(fruits_sales_line1_split[i+1],
                                                    sum_list[i], int(mean_list[i])))

banana 총 판매량: 100개
      평균 판매량: 25개
apple 총 판매량: 108개
      평균 판매량: 27개
grape 총 판매량: 96개
      평균 판매량: 24개
strawberry 총 판매량: 132개
      평균 판매량: 33개

코드를 아래처럼 더 짧게 작성할 수도 있습니다.

In [ ]:
fruits_list = [banana, apple, grape, strawberry]

for i in range(len(fruits_sales_line1_split)-1):
    print('{} 총 판매량: {}개\n      평균 판매량: {}개'.format(fruits_sales_line1_split[i+1],
                                                    sum(fruits_list[i]), int(sum(fruits_list[i])/len(fruits_list[i]))))

banana 총 판매량: 100개
      평균 판매량: 25개
apple 총 판매량: 108개
      평균 판매량: 27개
grape 총 판매량: 96개
      평균 판매량: 24개
strawberry 총 판매량: 132개
      평균 판매량: 33개

# **14. 함수**

## **14.1. 함수의 기본적 형태**

함수는 아래와 같은 형태로 이루어져 있습니다.

```
def 함수명(매개변수):
    처리하는 내용
```

여기서 `def`는 'definition'의 약자이고, 함수명은 스네이크케이스 형식을 취합니다. 매개변수는 하나일수도, 여러 개일 수도 있습니다.

기본적인 함수 형태를 코드로 작성하면 아래와 같습니다.

In [ ]:
def bye_n_c_u():
    print('즐거웠어!')
    print('다음에 또 보자!')
    print('잘 지내!')

bye_n_c_u()

즐거웠어!
다음에 또 보자!
잘 지내!

## **14.2. 매개변수**

매개변수는 3가지 종류로 나뉩니다. **가변 매개변수**, **기본 매개변수**, **키워드 매개변수**입니다. 파이썬에 기본적으로 빌트인 된 모듈의 함수인 `print()`를 예시로 살피겠습니다. `help()` 함수에 `print()` 함수를 전달하면 관련 정보를 확인할 수 있습니다. 함수명만 전달하고 괄호는 제외해야 합니다.

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

`value, ..., sep=' ', end='\n', file=sys.stdout, flush=False`가 모두 `print()` 함수의 매개변수입니다. 함수의 옵션이라고 말하기도 합니다.

만약 어떤 함수를 선언(생성)할 때 매개변수를 지정하려면 아래처럼 괄호 안에 매개변수를 위치시킵니다.

```
def 함수명(매개변수, 매개변수, ...)
    처리하는 내용
```

설명을 위해 임의로 함수 하나를 선언하겠습니다.

In [ ]:
def print_value(value, time):
    for i in range(time):
        print(f"함수에 입력한 값은 '{value}'이며, {i + 1}번째 출력입니다.")
    print(f"총 {time}번 출력했습니다.")

print_value('이게 맞아?', 3)

함수에 입력한 값은 '이게 맞아?'이며, 1번째 출력입니다.
함수에 입력한 값은 '이게 맞아?'이며, 2번째 출력입니다.
함수에 입력한 값은 '이게 맞아?'이며, 3번째 출력입니다.
총 3번 출력했습니다.

`value`와 `time`은 매개변수입니다. 함수를 호출할 때 각 매개변수의 위치에 맞게 값을 지정하면 함수에 제대로 전달되어 처리됩니다. 그러나 `value`와 `time`처럼 매개변수 2개에 대응하지 않게 적거나 더 많은 값을 지정하면 아래처럼 오류가 발생합니다.

In [ ]:
print_value('이게 맞아?')

TypeError: ignored

In [ ]:
print_value('이게 맞아?', 3, 5)

TypeError: ignored

두 경우 모두 `TypeError` 오류가 출력됐습니다. 전자 오류의 이유는 `print_value() missing 1 required positional argument: 'time'`입니다. 매개변수 하나(`time`)를 덜 지정했다는 의미입니다.

후자 오류의 이유는 `print_value() takes 2 positional arguments but 3 were given`입니다. 매개변수 2개를 지정해야 하는데 3개를 지정했다는 의미입니다.

### **14.2.1. 가변 매개변수**

다시 `print()` 함수를 예시로 설명을 이어가겠습니다.

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
print('여러', '매개변수(값)를', '지정할 수', '있습니다.')

여러 값을 지정할 수 있습니다.

`print()` 함수에는 여러 매개변수(값)를 지정할 수 있습니다. 이처럼 여러 매개변수를 지정할 수 있는 매개변수를 **가변 매개변수**라고 부릅니다. '가변'은 '변할 수 있다'라는 것을 의미합니다.

가변 매개변수를 받는 함수는 아래 구조를 갖습니다.

```
def 함수명(매개변수, 매개변수, ..., *가변 매개변수):
    처리하는 내용
```

이 구조에서 주목해야 할 점은 일반 매개변수를 가변 매개변수 뒤에 위치시킬 수 없고, 가변 매개변수는 항상 하나만 사용할 수 있다는 것입니다. 쉽게 말하면 가변 매개변수는 항상 맨뒤에 위치해야 하고, 여러 개의 가변 매개변수는 사용할 수 없습니다.

```
<잘못된 구조 1>
def 함수명(*가변 매개변수, 매개변수, 매개변수, ...):
    처리하는 내용
```

```
<잘못된 구조 2>
def 함수명(매개변수, 매개변수, ..., *가변 매개변수, *가변 매개변수):
    처리하는 내용
```

위 구조가 잘못된 이유를 설명하기 위해 임의의 함수를 선언하겠습니다.

In [ ]:
# 가변 매개변수 위치를 맨뒤로 넘깁니다. 
def print_value(time, *values):
    for i in range(time):
        print(f"함수에 입력한 값은 '{values}'이며, {i + 1}번째 출력입니다.")
    print(f"총 {time}번 출력했습니다.")

print_value(3, '이게 맞아?', '이게 맞아요?', '정말?')

함수에 입력한 값은 '('이게 맞아?', '이게 맞아요?', '정말?')'이며, 1번째 출력입니다.
함수에 입력한 값은 '('이게 맞아?', '이게 맞아요?', '정말?')'이며, 2번째 출력입니다.
함수에 입력한 값은 '('이게 맞아?', '이게 맞아요?', '정말?')'이며, 3번째 출력입니다.
총 3번 출력했습니다.

입력한 가변 매개변수들이 튜플 형태로 출력됐습니다. 값을 개별적으로 출력하려면 for문을 추가합니다.

In [ ]:
def print_value(time, *values):
    for i in range(time):
        for value in values:
            print(f"함수에 입력한 값 중 하나는 '{value}'이며, {i + 1}번째 출력입니다.")
    print(f"총 {time}번 출력했습니다.")

print_value(3, '이게 맞아?', '이게 맞아요?', '정말?')

함수에 입력한 값 중 하나는 '이게 맞아?'이며, 1번째 출력입니다.
함수에 입력한 값 중 하나는 '이게 맞아요?'이며, 1번째 출력입니다.
함수에 입력한 값 중 하나는 '정말?'이며, 1번째 출력입니다.
함수에 입력한 값 중 하나는 '이게 맞아?'이며, 2번째 출력입니다.
함수에 입력한 값 중 하나는 '이게 맞아요?'이며, 2번째 출력입니다.
함수에 입력한 값 중 하나는 '정말?'이며, 2번째 출력입니다.
함수에 입력한 값 중 하나는 '이게 맞아?'이며, 3번째 출력입니다.
함수에 입력한 값 중 하나는 '이게 맞아요?'이며, 3번째 출력입니다.
함수에 입력한 값 중 하나는 '정말?'이며, 3번째 출력입니다.
총 3번 출력했습니다.

만약 매개변수 위치를 `print_value(*values, time)`으로 선언했다면 함수 입장에서는 `*values`가 어디까지인지 구분할 수 없습니다. 예컨대 `print_value('이게 맞아?', '이게 맞아요?', '정말?', 3)` 형태로 전달했다면 모든 값을 가변 매개변수로 인식하므로 `time` 매개변수로 받아야 할 값이 무엇인지 명확하게 정의하기 어렵습니다. 따라서 가변 매개변수는 일반 매개변수 앞(왼쪽)에 올 수 없도록 규제됩니다.

### **14.2.2. 기본 매개변수**

`print()` 함수의 정보를 다시 불러오겠습니다.

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

위에서 서술했듯이 `print()` 함수의 매개변수인 `value`는 가변 매개변수입니다. 이 가변 매개변수가 다른 매개변수들의 맨 앞에 위치했으므로, '가변 매개변수는 일반 매개변수의 앞에 위치할 수 없다'라는 규칙을 위반한 것으로 보일 수 있습니다.

여기서 중요한 개념 하나를 인지해야 합니다. 가변 매개변수는 일반 매개변수의 앞에는 절대로 위치할 수 없으나, `sep=' ', end='\n', file=sys.stdout, flush=False`처럼 값이 기본적으로 지정된 **기본 매개변수**(들)의 앞에는 위치할 수 있습니다. 물론 가변 매개변수의 단일 형태인 일반 매개변수도 기본 매개변수(들)의 앞에 위치할 수 있습니다. 일반 매개변수나 가변 매개변수가 기본 매개변수의 앞에 위치하더라도 기본 매개변수는 값이 기본적으로 지정된 형태이므로 함수 입장에서는 전달 받은 값을 혼동할 이유가 없습니다.

가변 매개변수와 기본 매개변수가 포함된 함수 하나를 선언하겠습니다.

In [ ]:
# 먼저 가변 매개변수를 앞에 위치시킵니다.
# 일반 매개변수를 뒤에 위치시키고 값을 지정하여 기본 매개변수로 변환합니다.
def print_value(*values, time=2):
    for i in range(time):
        for value in values:
            print(f"함수에 입력한 값 중 하나는 '{value}'이며, {i + 1}번째 출력입니다.")
    print(f"총 {time}번씩 출력했습니다.")

print_value('이게 맞아?', '이게 맞아요?', '정말?')

함수에 입력한 값 중 하나는 '이게 맞아?'이며, 1번째 출력입니다.
함수에 입력한 값 중 하나는 '이게 맞아요?'이며, 1번째 출력입니다.
함수에 입력한 값 중 하나는 '정말?'이며, 1번째 출력입니다.
함수에 입력한 값 중 하나는 '이게 맞아?'이며, 2번째 출력입니다.
함수에 입력한 값 중 하나는 '이게 맞아요?'이며, 2번째 출력입니다.
함수에 입력한 값 중 하나는 '정말?'이며, 2번째 출력입니다.
총 2번씩 출력했습니다.

함수에 전달한 값을 정상적으로 인식했습니다. `time` 매개변수에 값을 굳이 지정하지 않더라도 미리 지정된 값을 토대로 함수가 작동합니다. 다만 기본 매개변수의 위치를 임의로 가변 매개변수 앞에 위치시키면 오류가 발생합니다.

In [ ]:
print_value(time=2, '이게 맞아?', '이게 맞아요?', '정말?')

SyntaxError: ignored

물론 기본 매개변수간 위치는 임의로 바꿔도 괜찮습니다. `print()` 함수로 예시하겠습니다. 기본 매개변수들의 본래 위치는 `sep=' ', end='\n', file=sys.stdout, flush=False`입니다.

In [ ]:
print('파이썬', '참', '쉽죠?', '아니요', end='\n', sep=' ')

파이썬 참 쉽죠? 아니요

기본 매개변수의 순서는 임의로 바꿔도 정상적으로 작동합니다.

참고로 기본 매개변수는 일반 매개변수나 가변 매개변수 앞에 절대로 위치시킬 수 없습니다. 만약 `print_value(time=2, *values)` 형식으로 함수를 선언했다면, `print_value('이게 맞아?')` 형식으로 함수를 호출할 때 기본 매개변수인 `time=2`의 값을 `time='이게 맞아?'`로 인식하게 됩니다. 이런 혼동을 피할 목적으로 일반 매개변수나 가변 매개변수의 앞에 기본 매개변수가 올 수 없도록 규제됩니다.

### **14.2.3. 키워드 매개변수**

기본 매개변수에 다른 값을 지정하려면 아래 형식을 취합니다.

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
print('파이썬', '참', '쉽죠?', '생각보단 아니요', sep='..', end='!!')

파이썬..참..쉽죠?..생각보단 아니요!!

이렇게 기본 매개변수들을 활용하여 매개변수명과 값을 직접 지정한 것을 **키워드 매개변수**라고 합니다. 물론 일반 매개변수도 키워드 매개변수로 지정할 수 있습니다. 예시를 위해 간단한 함수 하나를 선언하겠습니다.

In [ ]:
# `value`는 일반 매개변수, `who='너'`와 `time=2`는 기본 매개변수입니다.
def is_it_easy(value, who='너', time=2):
    for i in range(time):
        print(f'\'{who}\'에게 \"{value}\" 라고 {i + 1}번째 물었다.')

기본 매개변수인 `who='너'`와 `time=2`를 키워드 매개변수로 바꿔서 지정하겠습니다.

In [ ]:
is_it_easy('파이썬 참 쉽죠?', who='나 스스로', time=4)

'나 스스로'에게 "파이썬 참 쉽죠?" 라고 1번째 물었다.
'나 스스로'에게 "파이썬 참 쉽죠?" 라고 2번째 물었다.
'나 스스로'에게 "파이썬 참 쉽죠?" 라고 3번째 물었다.
'나 스스로'에게 "파이썬 참 쉽죠?" 라고 4번째 물었다.

일반 매개변수인 `value`를 키워드 매개변수로 지정할 수 있습니다.

In [ ]:
is_it_easy(value='파이썬 참 쉽죠?', time=3)

'너'에게 "파이썬 참 쉽죠?" 라고 1번째 물었다.
'너'에게 "파이썬 참 쉽죠?" 라고 2번째 물었다.
'너'에게 "파이썬 참 쉽죠?" 라고 3번째 물었다.

매개변수 3개 모두 키워드 매개변수로 지정하면 순서를 바꿔도 문제가 없습니다.

In [ ]:
is_it_easy(who='비전공자들', value='파이썬 참 쉽죠?', time=5)

'비전공자들'에게 "파이썬 참 쉽죠?" 라고 1번째 물었다.
'비전공자들'에게 "파이썬 참 쉽죠?" 라고 2번째 물었다.
'비전공자들'에게 "파이썬 참 쉽죠?" 라고 3번째 물었다.
'비전공자들'에게 "파이썬 참 쉽죠?" 라고 4번째 물었다.
'비전공자들'에게 "파이썬 참 쉽죠?" 라고 5번째 물었다.

다만 일반 매개변수인 `value`를 키워드 매개변수로 지정하지 않으면 매개변수 위치를 바꿨을 때 오류가 발생합니다.

In [ ]:
is_it_easy(who='나', '파이썬 참 쉽죠?', time=3)

SyntaxError: ignored

## **14.3. 리턴**

함수 내에 선언할 수 있는 **리턴(return)**은 함수를 끝내는 위치를 의미합니다. 함수를 끝내고 함수의 처음 위치로 되돌아가라는 의미이기도 합니다.

임의의 함수를 선언하겠습니다.

In [ ]:
def my_return_func():
    print('여기까지만 출력합니다.')
    return
    print('출력되지 않는 부분입니다.')

In [ ]:
my_return_func()

여기까지만 출력합니다.

중간에 `return`이 있으므로 '여기까지만 출력합니다.'만 출력하고 함수를 종료했습니다. 이렇게 함수를 호출하여 최종적으로 도출한 결괏값을 **리턴값(return value)**라고 부릅니다.

`return` 뒤(오른쪽)에 자료가 위치해있다면 해당 자료를 출력하고 함수를 종료합니다.

In [ ]:
def my_return_func():
    print('여기까지만 출력합니다.')
    return 680932
    print('출력되지 않는 부분입니다.')

In [ ]:
my_return_func()

여기까지만 출력합니다.

680932

`return` 뒤가 공백이면(자료가 없으면) 아무것도 출력하지 않습니다. 이는 `None`과 같으며 리턴값이 없다는 것을 의미합니다.

In [ ]:
def my_return_func():
    return

In [ ]:
my_return_func()

In [ ]:
print(my_return_func())

None

예시를 위해 시작 숫자부터 끝 숫자까지 더하는 함수를 선언하겠습니다.

In [ ]:
def total_sum(start, end, step):
    total = 0
    for i in range(start, end + 1, step):
        total += i
    return total

100까지 전부 더하겠습니다.

In [ ]:
total_sum(0, 100, 1)

5050

50부터 500까지 5씩 간격을 두고 전부 더하겠습니다.

In [ ]:
total_sum(50, 500, 5)

25025

이번에는 기본 매개변수를 지정하여 시작 숫자부터 끝 숫자까지 더하는 함수를 선언하겠습니다.

In [ ]:
def total_sum_step(start=0, end=1000, step=2):
    total = 0
    for i in range(start, end + 1, step):
        total += i
    return total

기본 매개변수만으로 함수를 호출하겠습니다.

In [ ]:
total_sum_step()

250500

기본 매개변수에 순서대로 값을 지정하여 매개변수를 조정하겠습니다.

In [ ]:
total_sum_step(0, 100, 1)

5050

기본 매개변수 하나만 키워드 매개변수로 조정하겠습니다.

In [ ]:
total_sum_step(end=2000)

1001000

기본 매개변수 둘을 키워드 매개변수로 조정하겠습니다.

In [ ]:
total_sum_step(end=2000, step=5)

401000

이번에는 가변 매개변수를 받아서 전체 값을 곱하는 함수를 선언하겠습니다.

In [ ]:
def total_mul(*values):
    total = 1
    for value in values:
        total *= value
    return total

1부터 10까지 모든 값을 곱하겠습니다.

In [ ]:
total_mul(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

3628800

1부터 10까지 곱하는 것은 팩토리얼인 $10!$과 같습니다. 팩토리얼을 구하는 함수를 새로 선언하여 계산하겠습니다.

In [ ]:
def factorial(num):
    total = 1
    for i in range(1, num + 1, 1):    # 1부터 num까지 반복합니다.
        total *= i
    return total

In [ ]:
factorial(10)

3628800

재귀함수를 사용한다면 아래처럼 함수를 선언할 수도 있습니다.

In [ ]:
def factorial(num):
    # `num`이 0이면 1을 출력합니다.
    if num == 0:
        return 1
    # `num`이 0이 아니면 재귀 표현인 num * (num - 1)을 취합니다.
    else:
        return num * factorial(num - 1)

In [ ]:
factorial(10)

3628800

이번에는 파보나치 수를 구하는 함수를 선언하겠습니다. 파보나치 수열은 계산 횟수가 점점 많아지게 되므로 컴퓨터의 처리 시간이 오래 걸립니다.

In [ ]:
def fibonacci(num):
    if num == 1:
        return 1
    if num == 2:
        return 2
    else:
        return fibonacci(num - 1) + fibonacci(num - 2)

30번째 파보나치 수를 구하겠습니다.

In [ ]:
fibonacci(30)

1346269

파보나치 수를 구하는 함수는 아래 전역 변수와 지역 변수 파트에서 추가로 설명하겠습니다.

## **14.4. 전역 변수와 지역 변수**

**전역 변수(global variable)**는 전체 코드에서 사용할 수 있는 코드이고, **지역 변수(local variable)**는 함수가 호출될 때만 사용할 수 있는 코드입니다.

아래 코드로 설명합니다.

In [ ]:
# 전역 변수입니다 .
a = 11

def function1():
    # 지역 변수입니다. function1() 함수에만 적용되는 변수입니다.
    a = 55
    print(f'`function1` 함수의 지역 변수는 a = {a}입니다.')

def function2():
    # 지역 변수를 지정하지 않으면 전역 변수가 적용됩니다.
    print(f'`function2` 함수의 전역 변수는 a = {a}입니다.')

# 이 함수를 호출하면 전역 변수가 변경됩니다.
def function3():
    # 기존에 지정된 전역 변수를 `global 전역변수명`으로 선언해서 변경합니다.
    global a
    a = 77
    print(f'`function3` 함수의 전역 변수는 a = {a}입니다.')

In [ ]:
function1()
function2()
print(f'전역 변수는 a = {a}')

`function1` 함수의 지역 변수는 a = 55입니다.
`function2` 함수의 전역 변수는 a = 11입니다.
전역 변수는 a = 11

In [ ]:
function3()
print(f'`function3` 함수로 변경된 전역 변수는 a = {a}입니다.')
function2()

`function3` 함수의 전역 변수는 a = 77입니다.
`function3` 함수로 변경된 전역 변수는 a = 77입니다.
`function2` 함수의 전역 변수는 a = 77입니다.

전 파트에서 파보나치 수를 구하는 함수를 가져오겠습니다. 추가할 점이라면 전역 변수로 `count`를 선언하고, 함수 내에서 기존에 존재하는 전역 변수 `count`를 `global count`로 선언하여 전역 변수로 변환하겠습니다.

In [ ]:
count = 0

def fibonacci(num):
    print(f'{num}번째 파보나치 수를 구합니다.')
    global count
    count += 1
    if num == 1:
        return 1
    if num == 2:
        return 2
    else:
        return fibonacci(num - 1) + fibonacci(num - 2)

In [ ]:
print(f'{fibonacci(7)}입니다.')
print(f'{count}번 더했습니다.')

7번째 파보나치 수를 구합니다.
6번째 파보나치 수를 구합니다.
5번째 파보나치 수를 구합니다.
4번째 파보나치 수를 구합니다.
3번째 파보나치 수를 구합니다.
2번째 파보나치 수를 구합니다.
1번째 파보나치 수를 구합니다.
2번째 파보나치 수를 구합니다.
3번째 파보나치 수를 구합니다.
2번째 파보나치 수를 구합니다.
1번째 파보나치 수를 구합니다.
4번째 파보나치 수를 구합니다.
3번째 파보나치 수를 구합니다.
2번째 파보나치 수를 구합니다.
1번째 파보나치 수를 구합니다.
2번째 파보나치 수를 구합니다.
5번째 파보나치 수를 구합니다.
4번째 파보나치 수를 구합니다.
3번째 파보나치 수를 구합니다.
2번째 파보나치 수를 구합니다.
1번째 파보나치 수를 구합니다.
2번째 파보나치 수를 구합니다.
3번째 파보나치 수를 구합니다.
2번째 파보나치 수를 구합니다.
1번째 파보나치 수를 구합니다.
21입니다.
25번 더했습니다.

만약 젼역 변수인 `count`를 `global count`로 바꾸지 않는다면 아래와 같은 오류를 출력합니다.

In [ ]:
count = 0

def fibonacci(num):
    print(f'{num}번째 파보나치 수를 구합니다.')
    # global count
    count += 1
    if num == 1:
        return 1
    if num == 2:
        return 2
    else:
        return fibonacci(num - 1) + fibonacci(num - 2)

In [ ]:
print(f'{fibonacci(7)}입니다.')
print(f'{count}번 더했습니다.')

7번째 파보나치 수를 구합니다.

UnboundLocalError: ignored

'할당 전에 참조된 지역 변수 `count`'라는 오류 메시지가 출력됐습니다. 이 오류 메시지에서 알 수 있듯이 함수 내에서는 전역 변수를 참조(전역 변수에 접근)할 수 없습니다. 함수 내에서 전역 변수를 참조하려면 반드시 `global count`로 선언하여 `count`가 전역 변수라는 점을 강조해야 합니다.

## **14.5. 메모**

먼저 새로운 함수를 선언하겠습니다. 파보나치 수를 구하는 함수이지만 위에서 예시했던 함수와는 다른 형태입니다.

In [ ]:
dict = {1: 1, 2: 1}

def fibonacci(num):
    # 딕셔너리에 숫자가 있다면 그대로 리턴합니다.
    if num in dict:
        return dict[num]
    # 딕셔너리에 숫자가 없다면 파보나치 공식을 취합니다.
    else:
        total = fibonacci(num - 1) + fibonacci(num - 2)
        dict[num] = total
        return dict[num]

In [ ]:
fibonacci(100)

354224848179261915075

한 번 계산한 값을 딕셔너리에 저장(**메모**)하면서 연산을 이어가는 함수입니다. **메모화**는 memoization을 의미합니다. 이전에 선언했던 파보나치 수를 구하는 함수는 100까지 구할 때 계산 속도가 매우 느렸지만, 위 함수는 반복적인 연산을 줄이고 한 번만 계산하도록 값을 메모한 덕분에 계산 속도가 매우 빨라졌습니다.

참고로 **조기 리턴(early returns)** 방식으로 작성할 수도 있습니다. 들여쓰기를 줄이고자 사용하는 방법입니다.

In [ ]:
dict = {1: 1, 2: 1}

def fibonacci(num):
    if num in dict:
        return dict[num]
    # `else`를 제거했습니다.
    total = fibonacci(num - 1) + fibonacci(num - 2)
    dict[num] = total
    return dict[num]

## **14.6. 람다**

**람다**를 설명하기 전에 먼저 함수를 5번 실행하는 함수를 선언하고 임의의 함수를 매개변수로 전달하겠습니다. 프로그래밍에서 자주 사용하는 방식입니다.

In [ ]:
def func_call_5(func):
    for i in range(5):
        func()

def what():
    print('뭐라고?')

In [ ]:
func_call_5(what)

뭐라고?
뭐라고?
뭐라고?
뭐라고?
뭐라고?

`func_call_5` 함수에 함수를 전달하면 5번 실행됩니다. 이렇게 매개변수로 함수를 전달하는 함수 중에 `filter()` 함수와 `map()` 함수가 있습니다. 

먼저 `filter(함수, 리스트)`는 리스트의 원소를 함수에 넣고 `True`에 해당하는 값을 리턴합니다.

In [ ]:
def up_7(num):
    return num > 7

num_list = [1, 4, 8, 3, 9, 2]

return_value = filter(up_7, num_list)

print(return_value)
print(list(return_value))

<filter object at 0x7fd838fc9b90>
[8, 9]

첫 번째 출력값은 `<filter object at 0x7fd838fc9b90>`입니다. 위 리스트 내포 파트에서 이터레이터에 대해 설명했습니다. 이터레이터를 만드는 코드를 **제너레이터(generator)**라고 하며, `filter object`는 제너레이터 객체입니다.

제너레이터에 대한 설명을 좀 더 보강하겠습니다. 임의의 함수를 선언하고 호출하겠습니다.

In [ ]:
def test_generator():
    print('함수를 호출했습니다.')

In [ ]:
print('1')
test_generator()
print('2')

1
함수를 호출했습니다.
2

별 문제 없이 함수가 호출됐습니다. 이번에는 함수를 제너레이터 함수로 만드는 `yield` 키워드를 추가하겠습니다.

In [ ]:
def test_generator():
    print('함수를 호출했습니다.')
    yield 'test_generator'

In [ ]:
print('1')
test_generator()
print('2')

1
2

함수를 호출했지만 '함수를 호출했습니다.'라는 문자열이 출력되지 않았습니다. `print()` 함수로 함수를 감싸서 실행해보겠습니다.

In [ ]:
print('1')
print(test_generator())
print('2')

1
<generator object test_generator at 0x7fd838f43bd0>
2

`<generator object test_generator at 0x7fd838f43bd0>`라는 제너레이터 객체가 출력됐습니다. 이 제너레이터 객체는 `next()` 함수를 사용해서 함수를 실행합니다.

In [ ]:
a = next(test_generator())

print('1')
print(a)
print('2')

함수를 호출했습니다.
1
test_generator
2

`a = next(test_generator())`로 변수 `a`에 할당했는데 `함수를 호출했습니다.`가 출력됐습니다. 아울러 `print(a)`로 변수를 출력했는데 `yield` 뒤의 `test_generator`가 출력됐습니다. 좀 더 살피기 위해 함수를 더 길게 선언하겠습니다.

In [ ]:
def test_generator():
    print('함수를 첫 번째로 호출했습니다.')
    yield 'test_generator1'
    print('함수를 두 번째로 호출했습니다.')
    yield 'test_generator2'
    print('함수를 세 번째로 호출했습니다.')
    yield 'test_generator3'
    print('함수를 네 번째로 호출했습니다.')
    yield 'test_generator4'

함수를 호출하겠습니다. `yield`가 4번 선언됐으므로 총 4번을 호출하겠습니다.

In [ ]:
output = test_generator()

a = next(output)
print(a)
print('다음은?')
b = next(output)
print(b)
print('다음은?')
c = next(output)
print(c)
print('다음은?')
d = next(output)
print(d)

함수를 첫 번째로 호출했습니다.
test_generator1
다음은?
함수를 두 번째로 호출했습니다.
test_generator2
다음은?
함수를 세 번째로 호출했습니다.
test_generator3
다음은?
함수를 네 번째로 호출했습니다.
test_generator4

함수를 다섯 번째로 호출하면 `yield`가 없으므로 `StopIteration` 애러가 출력됩니다.

In [ ]:
e = next(output)
print(e)

StopIteration: ignored

이처럼 이터레이터 객체와 제너레이터 객체는 완전히 같진 않지만 코드를 하나씩 실행한다는 차원에서 비슷한 면이 많습니다.

다시 `map(함수, 리스트)`에 대한 설명을 이어가겠습니다. 이 함수는 리스트의 원소를 함수에 적용하면 리턴값으로 리스트를 다시 생성합니다.

In [ ]:
def square_num(num):
    return num**2

num_list = [1, 4, 8, 3, 9, 2]

return_list = map(square_num, num_list)
print(return_list)
list(return_list)

<map object at 0x7fd838ede3d0>

[1, 16, 64, 9, 81, 4]

`<map object at 0x7fd838ede3d0>`도 제너레이터 객체입니다. 

기실 이렇게 함수를 매개변수로 직접 전달하는 일은 코드 길이가 길어지므로 매우 비효율적입니다. 따라서 간단하게 함수를 선언하는 방안으로 **람다(lambda)**를 활용합니다. **람다(lambda) 함수**는 한 줄로 구성된 함수입니다. 기본 형식은 아래와 같습니다.

`lambda 매개변수 = 함수식`

이 형식에서 매개변수는 여러 개를 지정할 수 있습니다. 매개변수 구분은 쉼표(`,`)로 합니다. 아래 코드들을 토대로 여러 사용 방식을 예시하겠습니다.

In [ ]:
lambda x : x * 8 (2)

괄호로 묶으면 리턴값을 출력합니다.

In [ ]:
(lambda x : x * 8) (2)

16

변수에 할당해서 사용할 수도 있습니다.

In [ ]:
lambda_times_8 = lambda x : x * 8
lambda_times_8(4)

32

여러 매개변수를 활용할 수도 있습니다.

In [ ]:
lambda_xyz = lambda x, y, z : x * y + z
lambda_xyz(5, 4, 5)

25

위에서 `def`로 선언한 함수들을 람다 함수로 선언하겠습니다.

In [ ]:
# def up_7(num):
#     return num > 7

up_7 = lambda x: x > 7

num_list = [1, 4, 8, 3, 9, 2]

return_value = filter(up_7, num_list)

print(return_value)
print(list(return_value))

<filter object at 0x7fd838ed3550>
[8, 9]

In [ ]:
# def square_num(num):
#     return num**2

square_num = lambda x: x**2

num_list = [1, 4, 8, 3, 9, 2]

return_list = map(square_num, num_list)
print(return_list)
list(return_list)

<map object at 0x7fd838eed510>

[1, 16, 64, 9, 81, 4]

람다 함수를 매개변수로 바로 전달해도 좋습니다.

In [ ]:
num_list = [1, 4, 8, 3, 9, 2]

return_value = filter(lambda x: x > 7, num_list)

print(return_value)
print(list(return_value))

<filter object at 0x7fd838f74e10>
[8, 9]

In [ ]:
num_list = [1, 4, 8, 3, 9, 2]

return_list = map(lambda x: x**2, num_list)
print(return_list)
list(return_list)

<map object at 0x7fd838fb8810>

[1, 16, 64, 9, 81, 4]

## **14.7. bool 함수**

아래와 같은 조건에 따라 `True`와 `False` 중에 하나를 출력하는 함수입니다.

빈칸(None)이면 False를 출력합니다. 공백(`' '`)은 빈칸이 아니라 엄연히 문자열입니다.

In [ ]:
print(f"`bool('')`는 빈칸이므로 {bool('')}입니다.")
print(f"`bool(None)`는 빈칸이므로 {bool(None)}입니다.")
print(f"`bool(' ')`는 공백이므로 {bool(' ')}입니다.")

`bool('')`는 빈칸이므로 False입니다.
`bool(None)`는 빈칸이므로 False입니다.
`bool(' ')`는 공백이므로 True입니다.

숫자가 0이면 False를 출력합니다.

In [ ]:
print(f"`bool(0)`는 0이므로 {bool(0)}입니다.")

`bool(0)`는 0이므로 False입니다.

리스트와 튜플, 세트를 변수로 할당하여 적용할 수 있습니다. 원소가 존재하면 `True`입니다.

아래 코드는 원소가 없는 빈칸이므로 `False`를 출력합니다.

In [ ]:
a = []
b = ()
c = {}
print(bool(a))
print(bool(b))
print(bool(c))

False
False
False

리스트, 튜플, 세트에 여러 개의 원소를 가지면 `0`이나 `''`을 포함하더라도 `True`를 출력합니다.

In [ ]:
a = [0, 1]
b = ('', 1)
print(bool(a))
print(bool(b))

True
True

`bool()` 함수를 사용한 간단한 예시입니다.

In [ ]:
def favorite_fruits(fruits):
    # True인 경우에 수행합니다.
    if bool(fruits):
        print(f'좋아하는 과일은 {fruits}입니다.')
    # False인 경우에 수행합니다.
    else:
        print('값을 입력하세요.')

In [ ]:
favorite_fruits('딸기')

좋아하는 과일은 딸기입니다.

In [ ]:
favorite_fruits('')

값을 입력하세요.

# **15. 구문 오류 및 예외**

오류는 두 종류가 있습니다. 프로그램 실행 전에 발생하는 오류인 **구문 오류(syntax error)**, 실행 후에 발생하는 오류인 **예외(exception)**입니다. 예외는 **런타임 오류(runtime error)**라고도 합니다.

## **15.1. 구문 오류**

구문 오류는 코드 자체에 문제가 있어서 프로그램을 실행할 수 없는 오류입니다.

In [ ]:
# 괄호를 닫지 않겠습니다.
print('구문 오류의 예입니다.'

SyntaxError: ignored

`SyntaxError`가 발생했습니다. 구문에 문제가 있어서 코드를 실행할 수 없다는 의미입니다. 프로그램을 실행하려면 코드를 바르게 고쳐야 합니다.

## **15.2. 예외**

예외는 프로그램을 실행하는 중에 발생하는 오류입니다.

In [ ]:
print('예외의 예입니다.')
print(a)    # 변수 `a`는 정의되지 않았습니다.

예외의 예입니다.

NameError: ignored

`NameError`가 발생했습니다. 첫 번째 줄은 바르게 실행됐으나, 두 번째 줄은 정의되지 않은 변수 `a`를 출력하려 했으므로 예외가 발생했습니다.

### **15.2.1. 예외 처리**

예외를 해결하는 작업을 **예외 처리(exception handling)**라고 합니다. 조건문을 사용하거나 try문을 사용하여 예외 처리를 할 수 있습니다.

먼저 임의의 코드로 예시하겠습니다.

In [ ]:
cost_input = int(input('금액을 정수로 입력하세요.'))

print('1일: ', cost_input)
print('30일: ', cost_input * 30)
print('365일: ', cost_input * 365)

금액을 정수로 입력하세요.5000
1일:  5000
30일:  150000
365일:  1825000

만약 정수를 입력하지 않는다면 예외가 발생합니다.

In [ ]:
cost_input = int(input('금액을 정수로 입력하세요. -> '))

print('1일: ', cost_input)
print('30일: ', cost_input * 30)
print('365일: ', cost_input * 365)

금액을 정수로 입력하세요. -> 5000.0

ValueError: ignored

#### **15.2.1.1. 조건문 사용하기**

먼저 조건문으로 예외를 처리하겠습니다. `isdigit()` 함수를 통해 입력 받은 값을 우선 거르겠습니다.

In [ ]:
first_cost_input = input('금액을 정수로 입력하세요. -> ')

if first_cost_input.isdigit():
    cost_input = int(first_cost_input)
    print('1일: ', cost_input)
    print('30일: ', cost_input * 30)
    print('365일: ', cost_input * 365)
else:
    print('금액을 정수로 입력하세요.')

금액을 정수로 입력하세요. -> 5000.0
금액을 정수로 입력하세요.

정수가 아니므로 프로그램이 종료되었습니다.

#### **15.2.1.2. try except문 사용하기**

try except문으로 예외를 처리하겠습니다. 형식은 아래와 같습니다.

```
try:
    예외가 발생할 수 있는 내용
except:
    예외가 발생했을 때 실행할 내용
```

참고로 try except문은 조건문보다 속도가 느린 편이지만 본래 파이썬이라는 언어는 속도가 느리므로 쉬운 코드 작성을 위해 사용할 가치가 충분한 구문 형식입니다.

위에서 예시한 코드를 try except문으로 치환하겠습니다.

In [ ]:
try:
    cost_input = int(input('금액을 정수로 입력하세요. -> '))
    print('1일: ', cost_input)
    print('30일: ', cost_input * 30)
    print('365일: ', cost_input * 365)
except:
    print('금액을 정수로 입력하세요.')

금액을 정수로 입력하세요. -> 싫어요.
금액을 정수로 입력하세요.

except문에 아무것도 없으면 구문 오류가 발생합니다.

In [ ]:
try:
    cost_input = int(input('금액을 정수로 입력하세요. -> '))
    print('1일: ', cost_input)
    print('30일: ', cost_input * 30)
    print('365일: ', cost_input * 365)
except:

SyntaxError: ignored

이를 방지할 목적으로 `pass`를 넣으면 예외가 발생했을 때 아무 일도 일어나지 않습니다.

In [ ]:
try:
    cost_input = int(input('금액을 정수로 입력하세요. -> '))
    print('1일: ', cost_input)
    print('30일: ', cost_input * 30)
    print('365일: ', cost_input * 365)
except:
    pass

금액을 정수로 입력하세요. -> 이천

임의의 함수를 새로 선언하고 except문에 `pass`를 넣겠습니다.

In [ ]:
first_list = ['32', '73', '84.2', '데이터', '9', '원소', 1]
list_nums = []

for element in first_list:
    try:
        int(element)    # 예외가 발생하면 처리하지 않습니다.
        list_nums.append(element)    # 예외가 발생하지 않으면 처리합니다.
    except:
        pass

print(f'{first_list}에 있는 정수는 {list_nums}입니다.')

['32', '73', '84.2', '데이터', '9', '원소', 1]에 있는 정수는 ['32', '73', '9', 1]입니다.

#### **15.2.1.3. try except else문 사용하기**

try except else문으로 예외를 처리하겠습니다. 형식은 아래와 같습니다.

```
try:
    예외가 발생할 수 있는 내용
except:
    예외가 발생했을 때 실행할 내용
else:
    예외가 발생하지 않았을 때 실행할 내용
```

예외가 발생할 수 있는 내용만 try문에 넣고 다른 모든 내용은 else문에 위치시킵니다. 다만 굳이 else에 넣지 않고 try except문처럼 모든 내용을 try문에 넣어도 문제가 없습니다. else문은 코드가 깔끔해 보일 목적으로 사용할 뿐입니다.

예시를 위한 코드입니다.

In [ ]:
try:
    cost_input = int(input('금액을 정수로 입력하세요. -> '))
except:
    print('금액을 정수로 입력하세요.')
else:
    print('1일: ', cost_input)
    print('30일: ', cost_input * 30)
    print('365일: ', cost_input * 365)

금액을 정수로 입력하세요. -> 칠십
금액을 정수로 입력하세요.

#### **15.2.1.3. finally문 사용하기**

finally문은 가장 마지막 부분에서 사용할 수 있습니다. 형식은 아래와 같습니다.

```
try:
    예외가 발생할 수 있는 내용
except:
    예외가 발생했을 때 실행할 내용
else:
    예외가 발생하지 않았을 때 실행할 내용
finally:
    무조건 실행할 내용
```

예외 발생 여부와 무관하게 무조건 실행시킨다는 의미입니다.

In [ ]:
try:
    cost_input = int(input('금액을 정수로 입력하세요. -> '))
    print('1일: ', cost_input)
    print('30일: ', cost_input * 30)
    print('365일: ', cost_input * 365)
except:
    print('금액을 정수로 입력하세요.')
else:
    print('정상적으로 입력했습니다.')
finally:
    print('프로그램을 종료합니다.')

금액을 정수로 입력하세요. -> 5000
1일:  5000
30일:  150000
365일:  1825000
정상적으로 입력했습니다.
프로그램을 종료합니다.

In [ ]:
try:
    cost_input = int(input('금액을 정수로 입력하세요. -> '))
    print('1일: ', cost_input)
    print('30일: ', cost_input * 30)
    print('365일: ', cost_input * 365)
except:
    print('금액을 정수로 입력하세요.')
else:
    print('정상적으로 입력했습니다.')
finally:
    print('프로그램을 종료합니다.')

금액을 정수로 입력하세요. -> 오천
금액을 정수로 입력하세요.
프로그램을 종료합니다.

try, except, else, finally문을 사용할 땐 아래 조합만 가능합니다. 대부분 try문은 except문과 함께 쓰입니다. 아래 조합 외에는 구문 오류가 발생합니다.

* try except

* try except else

* try except finally

* try except else finally

* try finally

fanally문은 반복문이나 함수 내에 위치할 때 매우 효율적입니다. 먼저 아래에 임의의 함수를 선언하겠습니다.

In [ ]:
def return_finally():
    print('return_finally() 함수를 호출했습니다.')
    try:
        print('try문을 실행했습니다.')
        return
        print('return 아래입니다.')
    except:
        print('except문을 실행했습니다.')
    else:
        print('else문을 실행했습니다.')
    finally:
        print('finally문을 실행했습니다.')
    print('return_finally() 함수의 마지막 라인입니다.')

return_finally()

return_finally() 함수를 호출했습니다.
try문을 실행했습니다.
finally문을 실행했습니다.

try문 내에 위치한 return을 통해 중간에서 함수를 종료했지만 finally문은 그대로 실행됐습니다. 이런 작동 방식을 토대로 파일을 처리하는 코드를 작성할 때 finally문을 종종 사용합니다. try문에서 return을 통해 함수를 종료해도 파일이 무조건 닫히도록 구성하는 것입니다. 아래 코드로 예시하겠습니다.

In [ ]:
def write_close_file(filename, text):
    try:
        file = open(filename, 'w')
        # 처리할 여러 내용을 이 라인에 위치시킵니다. 현재는 내용을 생략했습니다.
        return
        file.write(text)
    except Exception as exception:    # 아래에서 다룰 `Exception` 클래스입니다. 예외가 발생하면 작동합니다.
        print(exception)
    finally:
        file.close()

write_close_file('/content/gdrive/MyDrive/Python_for_Data_Analytics_Science/test_text.txt', '테스트 텍스트')

함수 중간에 return을 통해 함수를 종료할 때마다 `file.close()`를 위치시키면 매우 비효율적입니다. finally문에 한 번만 위치시키면 충분합니다.

아울러 반복문에서 break로 빠져 나가는 경우에도 finally문은 실행됩니다. 아래 코드로 예시하겠습니다.

In [ ]:
print('프로그램을 실행했습니다.')

while True:
    try:
        print('try문을 실행했습니다.')
        break
        print('break 아래입니다.')
    except:
        print('except문을 실행했습니다.')
    finally:
        print('finally문을 실행했습니다.')
    print('반복문의 마지막 라인입니다.')
print('프로그램을 종료했습니다.')

프로그램을 실행했습니다.
try문을 실행했습니다.
finally문을 실행했습니다.
프로그램을 종료했습니다.

### **15.2.2. 예외 객체**

예외가 발생하면 예외 정보가 **예외 객체(exception object)**에 저장됩니다. 형식은 아래와 같습니다.

```
try:
    예외가 발생할 수 있는 내용
except 예외 종류 as 예외 객체로 설정할 변수명:
    예외가 발생했을 때 실행할 내용
```

아래 코드로 설명을 이어가겠습니다.

In [ ]:
try:
    cost_input = int(input('금액을 정수로 입력하세요. -> '))
    print('1일: ', cost_input)
    print('30일: ', cost_input * 30)
    print('365일: ', cost_input * 365)
except Exception as exception:
    print(f'예외 객체 자료형(예외 종류): {type(exception)}')
    print(f'예외 내용(원인): {exception}')
    print('금액을 정수로 입력하세요.')

금액을 정수로 입력하세요. -> 오천
예외 객체 자료형(예외 종류): <class 'ValueError'>
예외 내용(원인): invalid literal for int() with base 10: '오천'
금액을 정수로 입력하세요.

`Exception` 클래스는 모든 예외를 아우르는 클래스로, 발생할 수 있는 모든 예외 종류를 예외 객체에 저장시킵니다. 위 코드처럼 예외가 저장된 예외 객체를 활용하여 프로그램 오류를 개선하는 데 활용할 수 있습니다.

### **15.2.3. 예외 해결하기**

예외 객체를 활용하여 각종 예외를 해결하는 방법으로는 `Exception` 클래스뿐만 아니라 여러 예외 클래스를 직접 선언해도 좋습니다. 예외 처리 구문이 포함된 임의의 함수를 선언하여 예외를 발생시켜 보겠습니다.

In [ ]:
def index_num():

    temporary_list = ['32', '73', '84.2', '데이터', '9', '원소', 1]

    try:
        input_num = int(input('정수를 입력하여 인덱스를 지정하세요. -> '))
        print(f'{input_num}번째 원소는 {temporary_list[input_num]}입니다.')
    # 첫 번째 예외입니다.
    except ValueError as exception:
        print(f'예외 객체 자료형(예외 종류): {type(exception)}')
        print(f'예외 원인: {exception}')
        print('정수를 입력하세요.')
    # 두 번째 예외입니다.
    except IndexError as exception:
        print(f'예외 객체 자료형(예외 종류): {type(exception)}')
        print(f'예외 원인: {exception}')
        print('범위에서 벗어난 인덱스입니다.')
    # 첫 번째와 두 번째 예외 외 예외입니다. `Exception` 클래스를 사용합니다.
    except Exception as exception:
        print(f'예외 객체 자료형(예외 종류): {type(exception)}')
        print(f'예외 원인: {exception}')
        print('예기치 못한 예외입니다.')

먼저 `ValueError`를 발생시켜 보겠습니다.

In [ ]:
index_num()

정수를 입력하여 인덱스를 지정하세요. -> 싫은데용?
예외 객체 자료형(예외 종류): <class 'ValueError'>
예외 원인: invalid literal for int() with base 10: '싫은데용?'
정수를 입력하세요.

이번엔 `IndexError`를 발생시켜 보겠습니다.

In [ ]:
index_num()

정수를 입력하여 인덱스를 지정하세요. -> 100
예외 객체 자료형(예외 종류): <class 'IndexError'>
예외 원인: list index out of range
범위에서 벗어난 인덱스입니다.

마지막으로 첫 번째, 두 번째 예외가 아닌 다른 예외를 발생시켜 보겠습니다. 마지막 예외에 선언한 `Exception` 클래스를 작동시키는 것입니다. 바로 위에서 선언했던 함수에 강제로 예외를 발생시키는 라인을 추가하겠습니다.

In [ ]:
def index_num_except():

    temporary_list = ['32', '73', '84.2', '데이터', '9', '원소', 1]

    try:
        input_num = int(input('정수를 입력하여 인덱스를 지정하세요. -> '))
        print(f'{input_num}번째 원소는 {temporary_list[input_num]}입니다.')
        # 예외를 강제로 발생시킵니다.
        예기치못한.예외발생()
    except ValueError as exception:
        print(f'예외 객체 자료형(예외 종류): {type(exception)}')
        print(f'예외 원인: {exception}')
        print('정수를 입력하세요.')
    except IndexError as exception:
        print(f'예외 객체 자료형(예외 종류): {type(exception)}')
        print(f'예외 원인: {exception}')
        print('범위에서 벗어난 인덱스입니다.')
    except Exception as exception:
        print(f'예외 객체 자료형(예외 종류): {type(exception)}')
        print(f'예외 원인: {exception}')
        print('예기치 못한 예외입니다.')

In [ ]:
index_num_except()

정수를 입력하여 인덱스를 지정하세요. -> 2
2번째 원소는 84.2입니다.
예외 객체 자료형(예외 종류): <class 'NameError'>
예외 원인: name '예기치못한' is not defined
예기치 못한 예외입니다.

허용 범위에 적합한 정수를 입력했으나 `NameError`가 발생됐습니다. `예기치못한`이라는 변수는 없기 때문입니다. 프로그래밍 작업 중에 모든 오류를 파악하기는 쉽지 않습니다. 마지막 라인에 `Exception` 클래스를 선언하여 프로그램이 죽지 않도록 조치하는 습관을 들이는 편이 좋습니다. 

참고로 구현되지 않은 부분은 raise문을 사용하여 예외를 강제로 발생시키는 방법도 있습니다. 예는 아래와 같습니다.

```
<구현되지 않은 예외>
raise NotImplementedError('블라블라')

<기타 예외>
raise ValueError('블라블라')
```

# **16. 클래스**

**클래스**에 대한 기초적인 개념은 제외하겠습니다. 주로 코드를 통해 예시하는 방식으로 설명할 예정입니다.

코드를 예시하기 전에 몇 가지 짚어야 할 내용을 목록으로 나열하겠습니다.

- **클래스**는 객체를 만들기 위한 기본 틀이고, **객체**는 이 틀을 바탕으로 생성된 결과물입니다. 종종 이 둘을 붕어빵 틀과 붕어빵으로 비유하곤 합니다. 이 붕어빵 틀에 팥이나 치즈나 피자를 넣으면 각각 팥붕어빵, 치즈붕어빵, 피자붕어빵이 됩니다. 객체에 포함된 변수에 값을 다르게 할당하면 객체의 속성이 달라지고, 각각 다른 속성을 가진 객체가 되는 것과 같은 이치입니다. 참고로 객체는 클래스의 **인스턴스(instance)**라고 부릅니다. instance의 의미는 경우, 예 등입니다. 클래스가 특정 객체를 만든 특정 경우나 예 정도로 생각할 수 있습니다. 단순화하면 **객체 = 인스턴스 = 변수**입니다.

- 클래스명은 가독성을 추구하고자 로마자 알파벳 대문자로 시작합니다. 예를 들면 `Fruits`, `TestFruits` 같은 형태입니다. 물론 객체는 소문자로 이뤄집니다.

- 코드 예시로 다시 설명하겠지만 클래스에서 정의한 함수에 처음 부여하는 인자는 `self`입니다. `self`는 객체를 생성하고 나서 객체 자신을 참조하는 데 사용하는 인자입니다. 함수 대부분에(기실 모든 함수에) `self` 인자를 부여합니다.

- **함수**와 **메서드(method)**는 종종 용어를 사용할 때 혼동을 일으키곤 하지만 두 용어를 구분하지 않고 사용해도 괜찮습니다. 모듈이나 클래스에서 정의한 함수를 객체에 넘겨주고 사용할 때는 메서드(method)라고 하지만, 모듈이나 클래스에서 정의한 함수 자체를 메서드라고 부르기도 합니다. 따라서 메서드는 함수이고, 함수는 메서드입니다. 엄밀히 고려하자면 메서드보다 (전부 아우르는) 상위 개념은 함수입니다. 함수의 하위 개념이 메서드인 것입니다. 기실 파이썬에서는 **맴버 함수(member function)** 또는 **인스턴스 함수(instance function)**라는 표현을 많이 사용하지만 함수나 메서드로 사용해도 무관합니다.

- 클래스명은 **캐멀케이스(CamelCase)** 형식으로 짓습니다. 캐멀(Camel)은 낙타를 의미합니다. 예를 들면 `CamelCase`처럼 단어의 첫 글자를 대문자로 지정합니다.

- **추상화(abstraction)**란 프로그램에서 필요한 요소만을 사용하여 객체를 표현하는 것을 의미합니다. 더 포괄적인 개념이라면 복잡한 자료, 모듈, 시스템 등에서 핵심 개념이나 기능을 간추려 내는 것입니다.

## **16.1. 클래스 및 객체 생성하기**

간단한 클래스를 생성해보겠습니다. 클래스는 헬기의 속도, 이동 방향, 멈춤, 재출발 메서드를 가집니다.

헬기 클래스에 몇 가지 메서드를 포함시킵니다.

In [ ]:
class Helicopter():

    def go(self, speed):
        print(f'헬기는 {speed}Km/h로 비행합니다.')

    def turn(self, direction):
        print(f'헬기는 {direction} 방향으로 비행합니다.')

    def stop(self):
        print(f'{self.use} 용도인 {self.color}색 헬기는 비행하다가 멈춥니다.')

    def restart(self):
        print('멈췄던 헬기가 다시 이동합니다.')

클래스의 객체(인스턴스)를 생성하고(선언하고), 생성한 객체에 속성값을 부여하겠습니다.

In [ ]:
# 클래스의 객체(인스턴스)를 생성합니다.
# 클래스를 객체에 넘겨주는 방식을 취합니다.
# `Helicopter()`를 생성자 함수라고 부릅니다. 
my_helicopter1 = Helicopter()
# 객체에 속성값을 부여합니다. 'color'와 'use'는 위 클래스에서 지정한 변수입니다.
# 이 변수들에 속성값을 부여하는 것입니다.
my_helicopter1.color = 'dark green'
my_helicopter1.use = 'battle'

객체의 속성값을 확인하겠습니다. 속성값을 확인하는 방법은 `객체명.변수명`입니다.

In [ ]:
print(f'my_helicopter1의 색상은 {my_helicopter1.color}입니다.')
print(f'my_helicopter1의 용도는 {my_helicopter1.use}입니다.')

my_helicopter1의 색상은 dark green입니다.
my_helicopter1의 용도는 battle입니다.

## **16.2. 메서드 호출하기**

객체의 메서드를 호출하겠습니다. 메서드를 호출하는 방법은 `객체명.메서드명`입니다. 속성값을 확인하는 방법과 같습니다.

In [ ]:
my_helicopter1.go(100)
my_helicopter1.turn('left')
my_helicopter1.stop()
my_helicopter1.restart()

헬기는 100Km/h로 비행합니다.
헬기는 left 방향으로 비행합니다.
battle 용도인 dark green색 헬기는 비행하다가 멈춥니다.
멈췄던 헬기가 다시 이동합니다.

다른 객체를 생성해서 적용하겠습니다.

In [ ]:
my_helicopter2 = Helicopter()
my_helicopter2.color = 'blue'
my_helicopter2.use = 'travel'

my_helicopter2.go(90)
my_helicopter2.turn('straight')
my_helicopter2.stop()
my_helicopter2.restart()

헬기는 90Km/h로 비행합니다.
헬기는 straight 방향으로 비행합니다.
travel 용도인 blue색 헬기는 비행하다가 멈춥니다.
멈췄던 헬기가 다시 이동합니다.

## **16.3. 객체 초기화하기**

위에서 객체에 속성값을 부여하는 과정은 아래와 같았습니다.
```
my_helicopter2 = Helicopter()
my_helicopter2.color = 'blue'
my_helicopter2.use = 'travel'
```
여기에서 아래 코드처럼 속성값을 더 간략하게 부여할 수 있는 방법이 있습니다.
```
my_helicopter2 = Helicopter('blue', 'travel')
```
클래스의 변수인 `color`와 `use`에 입력한 속성값을 그대로 전달합니다. 한 줄에 객체명과 속성값만 바꾸는 방식입니다.

다만 이 방식을 사용하려면 클래스를 선언할 때 **초기화 함수**인 `__init__`을 구현해야 합니다. 이 함수는 객체를 생성할 때 자동으로 실행됩니다.

기존 헬기 클래스 코드에 `__init__` 함수를 포함시키겠습니다.

In [ ]:
class Helicopter():

    def __init__(self, color, use):
        self.color = color
        self.use = use

    def go(self, speed):
        print(f'헬기는 {speed}Km/h로 비행합니다.')

    def turn(self, direction):
        print(f'헬기는 {direction} 방향으로 비행합니다.')

    def stop(self):
        print(f'{self.use} 용도인 {self.color}색 헬기는 비행하다가 멈춥니다.')

    def restart(self):
        print('멈췄던 헬기가 다시 이동합니다.')

새로운 객체를 생성해서 적용하겠습니다.

In [ ]:
my_helicopter3 = Helicopter('White', 'Emergency services')
print(f'my_helicopter3의 색상은 {my_helicopter3.color}입니다.')
print(f'my_helicopter3의 용도는 {my_helicopter3.use}입니다.')

my_helicopter3.go(110)
my_helicopter3.turn('right')
my_helicopter3.stop()
my_helicopter3.restart()

my_helicopter3의 색상은 White입니다.
my_helicopter3의 용도는 Emergency services입니다.
헬기는 110Km/h로 비행합니다.
헬기는 right 방향으로 비행합니다.
Emergency services 용도인 White색 헬기는 비행하다가 멈춥니다.
멈췄던 헬기가 다시 이동합니다.

참고로 `__del__`이라는 **소멸자 함수**도 있습니다. 객체가 소멸될 때 호출되는 함수입니다. 사용법은 초기화 함수와 같습니다. 자주 사용하는 기능은 아닙니다.

## **16.4. 각종 변수**

클래스의 변수는 위치에 따라 기능과 용도가 다릅니다.

### **16.4.1. 클래스 변수**

**클래스 변수(class variable)**는 클래스 내에서 함수 바깥에 위치한 변수입니다. 모든 인스턴스가 사용할 수 있는 변수입니다.

아래에서 코드로 예시하겠습니다.

In [ ]:
class Helicopter():

    # 클래스 변수를 생성합니다. 함수 바깥에 위치합니다.
    helicopter_count = 0

    def __init__(self, color, use):
        self.color = color
        self.use = use
        # 클래스 변수를 사용하여 1을 더해 나갑니다.
        # 반드시 `클래스명.변수명`으로 지정해야 합니다.
        Helicopter.helicopter_count = Helicopter.helicopter_count + 1

    def go(self, speed):
        print(f'헬기는 {speed}Km/h로 비행합니다.')

    def turn(self, direction):
        print(f'헬기는 {direction} 방향으로 비행합니다.')

    def stop(self):
        print(f'{self.use} 용도인 {self.color}색 헬기는 비행하다가 멈춥니다.')

    def restart(self):
        print('멈췄던 헬기가 다시 이동합니다.')

헬기 객체 두 대를 더 생성하겠습니다. 그리고 클래스 변수로 추가한 헬기 대수를 확인하겠습니다.

In [ ]:
my_helicopter4 = Helicopter('red', 'firefighting')
print(f'보유한 헬기 대수는 {my_helicopter4.helicopter_count}입니다.')

보유한 헬기 대수는 1입니다.

In [ ]:
my_helicopter5 = Helicopter('green', 'environment management')
print(f'보유한 헬기 대수는 {my_helicopter5.helicopter_count}입니다.')

보유한 헬기 대수는 2입니다.

### **16.4.2. 인스턴스 변수**

**인스턴스 변수(instance variable)**는 클래스 내에서 함수 안에 위치한 변수입니다. 클래스 변수와 인스턴스 변수는 별개로 사용됩니다. 아울러 생성한 객체에 해당되는 속성값만 가집니다.

아래 코드에서 인스턴스 변수를 표시하겠습니다. 상세한 설명은 생략합니다.

In [ ]:
class Helicopter():

    # 클래스 변수입니다.
    helicopter_count = 0

    # 인스턴스 변수인 `color`와 `use`입니다.
    # 객체를 생성하면 지정한 속성값은 초기화됩니다.
    def __init__(self, color, use):
        self.color = color
        self.use = use
        Helicopter.helicopter_count = Helicopter.helicopter_count + 1

    def go(self, speed):
        print(f'헬기는 {speed}Km/h로 비행합니다.')

    def turn(self, direction):
        print(f'헬기는 {direction} 방향으로 비행합니다.')

    def stop(self):
        print(f'{self.use} 용도인 {self.color}색 헬기는 비행하다가 멈춥니다.')

    def restart(self):
        print('멈췄던 헬기가 다시 이동합니다.')

## **16.5. 각종 메서드**

메서드는 세 가지 종류입니다. 아래 파트에서 코드로 설명합니다.

### **16.5.1. 인스턴스 메서드**

**인스턴스 메서드(instance method)**는 위에서 생성한 클래스에 속해있는 모든 메서드입니다. 객체가 개별적으로 호출하는 함수입니다.

추가로 `execution_of_duty`라는 인스턴스 메서드를 기존에 지정한 인스턴스 변수와 인스턴스 메서드와 접목하여 생성하겠습니다.

아래 코드에서 주석으로 설명합니다.

In [ ]:
class Helicopter():

    helicopter_count = 0

    # 인스턴스 메서드입니다. 초기화 함수도 인스턴스 메서드입니다.
    def __init__(self, color, use):
        self.color = color
        self.use = use
        Helicopter.helicopter_count = Helicopter.helicopter_count + 1
    # 인스턴스 메서드입니다.
    def go(self, speed):
        # 새로 생성할 인스턴스 메서드에서 사용할 인스턴스 변수를 생성합니다.
        self.speed = speed
        print(f'헬기는 {speed}Km/h로 비행합니다.')
    # 인스턴스 메서드입니다.
    def turn(self, direction):
        print(f'헬기는 {direction} 방향으로 비행합니다.')
    # 인스턴스 메서드입니다.
    def stop(self):
        print(f'{self.use} 용도인 {self.color}색 헬기는 비행하다가 멈춥니다.')
    # 인스턴스 메서드입니다.
    def restart(self):
        print('멈췄던 헬기가 다시 이동합니다.')

    # 새로운 인스턴스 메서드를 생성합니다.
    def execution_of_duty(self):
        print(f'{self.use} 임무 수행을 시작합니다.')
        # 인스턴스 메서드 안에 기존에 지정한 인스턴스 메서드를 포함시킵니다.
        self.go(self.speed)
        self.stop()
        self.restart()

In [ ]:
my_helicopter6 = Helicopter('yellow', 'business')
my_helicopter6.go(90)
my_helicopter6.execution_of_duty()

헬기는 90Km/h로 비행합니다.
business 임무 수행을 시작합니다.
헬기는 90Km/h로 비행합니다.
business 용도인 yellow색 헬기는 비행하다가 멈춥니다.
멈췄던 헬기가 다시 이동합니다.

새로 생성한 인스턴스 메서드를 호출했더니 기존 인스턴스 메서드들도 함께 호출됐습니다.

### **16.5.2. 정적 메서드**

**정적 메서드(static method)**는 클래스와 객체와 전혀 무관하게 작동하는 메서드입니다. 'static'은 '고정된, 정지 상태의'를 의미합니다. 즉 클래스 안에서 독립적으로 고정된 상태로 생각할 수 있습니다.

정적 메서드에는 몇 가지 특징이 있습니다. 클래스 안에 위치하지만 `self` 인자를 사용하지 않습니다. 아울러 정적 메서드 구역에서는 인스턴스 메서드와 인스턴스 변수에 접근할 수 없습니다.

정적 메서드를 선언하려면 **데코레이터(Decorator)**인 `@staticmethod`를 함수 위에 지정합니다. 

아래 코드로 예시합니다.

In [ ]:
class Helicopter():

    helicopter_count = 0

    # 정적 메서드를 지정합니다. `self` 인자는 지정하지 않습니다.
    @staticmethod
    def country(producing_country):
        if producing_country == 'Republic of Korea':
            print('대한민국에서 생산되었습니다.')
        elif producing_country == 'USA':
            print('미국에서 생산되었습니다.')
        else:
            print(f'{producing_country}에서 생산되었습니다.')
            
    def __init__(self, color, use):
        self.color = color
        self.use = use
        Helicopter.helicopter_count = Helicopter.helicopter_count + 1

    def go(self, speed):
        self.speed = speed
        print(f'헬기는 {speed}Km/h로 비행합니다.')

    def turn(self, direction):
        print(f'헬기는 {direction} 방향으로 비행합니다.')

    def stop(self):
        print(f'{self.use} 용도인 {self.color}색 헬기는 비행하다가 멈춥니다.')

    def restart(self):
        print('멈췄던 헬기가 다시 이동합니다.')

    def execution_of_duty(self):
        print(f'{self.use} 임무 수행을 시작합니다.')
        self.go(self.speed)
        self.stop()
        self.restart()

`self` 인자를 지정하지 않았으므로 인스턴스로 함수를 호출할 수 없습니다. `클래스명.정적메서드명()`으로만 정적 메서드를 호출할 수 있습니다.

In [ ]:
Helicopter.country('Republic of Korea')
Helicopter.country('Germany')

대한민국에서 생산되었습니다.
Germany에서 생산되었습니다.

### **16.5.3. 클래스 메서드**

**클래스 메서드(class method)**는 클래스를 관리하는 데 주로 사용하며, 기존에 지정한 클래스 변수를 사용하기 위한 메서드이기도 합니다.

`self` 인자 대신 `cls` 인자를 지정합니다. 클래스를 의미하는 `cls` 인자로 클래스 변수에 접근할 수 있습니다.

정적 메서드처럼 클래스 메서드 또한 데코레이터를 지정해야 합니다. 함수 위에 `@classmethod`로 지정합니다.

아래 코드에 클래스 메서드를 지정하겠습니다.

In [ ]:
class Helicopter():

    # 클래스 변수입니다. 이 변수를 사용하기 위해 클래스 메서드를 지정하겠습니다.
    helicopter_count = 0

    # 클래스 메서드를 생성합니다. 인자로 `cls`를 지정합니다.
    @classmethod
    def count(cls):
        print(f'보유한 헬기의 대수는 {cls.helicopter_count}대입니다.')

    @staticmethod
    def country(producing_country):
        if producing_country == 'Republic of Korea':
            print('대한민국에서 생산되었습니다.')
        elif producing_country == 'USA':
            print('미국에서 생산되었습니다.')
        else:
            print(f'{producing_country}에서 생산되었습니다.')

    def __init__(self, color, use):
        self.color = color
        self.use = use
        Helicopter.helicopter_count = Helicopter.helicopter_count + 1

    def go(self, speed):
        self.speed = speed
        print(f'헬기는 {speed}Km/h로 비행합니다.')

    def turn(self, direction):
        print(f'헬기는 {direction} 방향으로 비행합니다.')

    def stop(self):
        print(f'{self.use} 용도인 {self.color}색 헬기는 비행하다가 멈춥니다.')

    def restart(self):
        print('멈췄던 헬기가 다시 이동합니다.')

    def execution_of_duty(self):
        print(f'{self.use} 임무 수행을 시작합니다.')
        self.go(self.speed)
        self.stop()
        self.restart()

클래스 메서드를 호출하려면 `클래스명.클래스메서드명()` 형식을 취합니다.

In [ ]:
Helicopter.count()

보유한 헬기의 대수는 0대입니다.

지금까지 클래스를 새로 선언하면서 내용을 추가했습니다. 클래스를 새로 선언하면 기존에 생성됐던 인스턴스는 모두 초기화됩니다.

모든 인스턴스를 가져오겠습니다.

In [ ]:
my_helicopter1 = Helicopter('Dark green', 'Battle')
my_helicopter2 = Helicopter('Blue', 'travel')
my_helicopter3 = Helicopter('White', 'Emergency services')
my_helicopter4 = Helicopter('red', 'firefighting')
my_helicopter5 = Helicopter('green', 'environment management')
my_helicopter6 = Helicopter('yellow', 'business')

다시 클래스 메서드를 호출합니다.

In [ ]:
Helicopter.count()

보유한 헬기의 대수는 6대입니다.

## **16.6. 클래스 상속**

이미 생성한 클래스에서 선언한 메서드와 변수를 새 클래스로 가져와서 사용하도록(상속하도록) 지정할 수 있습니다. 여기서 이미 생성한 클래스란 메서드와 변수를 넘겨주는(상속해주는) **부모 클래스(=상위 클래스, 슈퍼 클래스)**, 새 클래스란 메서드와 변수를 가져와서 사용하는(상속하는) **자식 클래스(=하위 클래스, 서브 클래스)**를 의미합니다. 다시 말하면 자식 클래스는 부모 클래스가 가진 메서드와 변수를 가져와서 사용하도록 새로 생성하는 클래스입니다. 상속은 기존 클래스를 기반으로 새 클래스를 선언할 때 활용합니다. 

아래 코드를 통해 예시하겠습니다. 먼저 기존에 생성한 부모 클래스입니다.

In [ ]:
class Helicopter():

    helicopter_count = 0

    @classmethod
    def count(cls):
        print(f'보유한 헬기의 대수는 {cls.helicopter_count}대입니다.')

    @staticmethod
    def country(producing_country):
        if producing_country == 'Republic of Korea':
            print('대한민국에서 생산되었습니다.')
        elif producing_country == 'USA':
            print('미국에서 생산되었습니다.')
        else:
            print(f'{producing_country}에서 생산되었습니다.')

    def __init__(self, color, use):
        self.color = color
        self.use = use
        Helicopter.helicopter_count = Helicopter.helicopter_count + 1

    def go(self, speed):
        self.speed = speed
        print(f'헬기는 {speed}Km/h로 비행합니다.')

    def turn(self, direction):
        print(f'헬기는 {direction} 방향으로 비행합니다.')

    def stop(self):
        print(f'{self.use} 용도인 {self.color}색 헬기는 비행하다가 멈춥니다.')

    def restart(self):
        print('멈췄던 헬기가 다시 이동합니다.')

    def execution_of_duty(self):
        print(f'{self.use} 임무 수행을 시작합니다.')
        self.go(self.speed)
        self.stop()
        self.restart()

### **16.6.1. 자식 클래스 생성하기**

자식 클래스를 생성하겠습니다. 자식 클래스명은 수륙양용 헬기를 의미하는 `Amphibious`입니다.

In [ ]:
# 자식 클래스에 부모 클래스를 인자로 지정합니다.
class AmphbiousHelicopter(Helicopter):
    # 초기화 함수의 인자에 부모 클래스에서 사용한 변수인 `color`, `use`를 지정하고
    # 자식 클래스에서 사용할 `location`이라는 변수를 추가로 지정합니다.
    def __init__(self, color, use, size):
        # 부모 클래스에서 사용하는 초기화를 그대로 사용합니다.
        # `super().__init__(color, use) 또한 사용할 수 있는 형식입니다.
        # `super()`를 사용할 때는 `self` 인자를 포함시키지 않습니다.
        Helicopter.__init__(self, color, use)
        self.size = size
    
    def water_landing(self):
        print(f'{self.color} 색상인 {self.size} 크기의 {self.use}용 헬기가 물에 착륙합니다.')

    def ground_landing(self):
        print(f'{self.color} 색상인 {self.size} 크기의 {self.use}용 헬기가 물에 착륙합니다.')

`mro()` 메서드를 사용하여 상속 관계를 확인하겠습니다. `클래스명.mro()` 형식으로 사용합니다.

In [ ]:
AmphbiousHelicopter.mro()

[__main__.AmphbiousHelicopter, __main__.Helicopter, object]

### **16.6.2. 자식 클래스의 인스턴스**

자식 클래스의 인스턴스를 생성하여 메서드를 호출하겠습니다.

In [ ]:
my_helicopter7 = AmphbiousHelicopter('rainbow', 'toy', 'big')
my_helicopter7.go(20)
my_helicopter7.turn('back')
my_helicopter7.stop()
my_helicopter7.restart()
print()
my_helicopter7.execution_of_duty()
print()
my_helicopter7.water_landing()
my_helicopter7.ground_landing()

헬기는 20Km/h로 비행합니다.
헬기는 back 방향으로 비행합니다.
toy 용도인 rainbow색 헬기는 비행하다가 멈춥니다.
멈췄던 헬기가 다시 이동합니다.

toy 임무 수행을 시작합니다.
헬기는 20Km/h로 비행합니다.
toy 용도인 rainbow색 헬기는 비행하다가 멈춥니다.
멈췄던 헬기가 다시 이동합니다.

rainbow 색상인 big 크기의 toy용 헬기가 물에 착륙합니다.
rainbow 색상인 big 크기의 toy용 헬기가 물에 착륙합니다.

### **16.6.3. 메서드 오버라이딩**

참고로 부모 클래스의 메서드명과 자식 클래스의 메서드명이 같은 경우에는 자식 클래스의 메서드가 수행됩니다. 이를 **메서드 오버라이딩 (Method overriding)**이라고 부릅니다.

물론 부모 클래스의 메서드도 호출하고, 자식 클래스의 메서드도 함께 호출하는 방법이 있습니다. `super().함수명`을 지정하면 부모 클래스의 메서드와 자식 클래스의 메서드를 모두 호출합니다. 예시는 생략하겠습니다.

### **16.6.4. 다중 상속**

**다중 상속**이란 말그대로 자식 클래스가 여러 부모 클래스의 메서드와 변수를 상속하는 것을 의미합니다. 실제로는 거의 사용되지 않습니다.

아래는 형식에 대한 간단한 예시입니다.

```
# 첫 번째 부모 클래스입니다.
class Helicopter1():
.
.
.
# 두 번째 부모 클래스입니다.
class Helicopter2():
.
.
.
# 자식 클래스입니다. 두 부모 클래스를 인자로 지정합니다.
class AmphbiousHelicopter(Helicopter1, Helicopter2):
.
.
.
```

## **16.7. 클래스 보충**

위에서 다룬 내용들을 활용하여 예제를 서술하고, 부족한 내용은 보충하겠습니다.

### **16.7.1. 클래스 선언하기**

예시로 게임 캐릭터 관리 프로그램을 만들어 보겠습니다. 먼저 객체를 선언하겠습니다.

In [ ]:
characters = [
              {'kind': 'warrior', 'level': 10, 'attack': 100, 'hp': 100, 'mp': 30},
              {'kind': 'stone', 'level': 10, 'attack': 50, 'hp': 150, 'mp': 30},
              {'kind': 'killer', 'level': 10, 'attack': 150, 'hp': 50, 'mp': 50},
              {'kind': 'archer', 'level': 10, 'attack': 120, 'hp': 80, 'mp': 70},
              {'kind': 'gunner', 'level': 10, 'attack': 140, 'hp': 60, 'mp': 70}
]

print('kind', 'DPS', 'HPL', 'MPA', sep='\t')

for character in characters:
    dps = round(character['attack'] / 60, 1)
    hp_per_level = round(character['hp'] / character['level'], 1)
    mp_per_attack = round(character['mp'] / character['attack'], 1)
    
    print(character['kind'], dps, hp_per_level, mp_per_attack, sep='\t')

type	DPS	HPL	MPA
warrior	1.7	10.0	0.3
stone	0.8	15.0	0.6
killer	2.5	5.0	0.3
archer	2.0	8.0	0.6
gunner	2.3	6.0	0.5

이렇게 객체를 일일이 선언하는 작업은 번거롭고 비효율적입니다. 딕셔너리를 생성하는 함수를 선언하겠습니다.

In [ ]:
def characters_call(kind, level, attack, hp, mp):
    return {'kind': kind, 'level': level, 'attack': attack, 'hp': hp, 'mp': mp}

리스트에 함수를 그대로 호출하여 객체를 선언하겠습니다.

In [ ]:
characters = [
              characters_call('warrior', 10, 100, 100, 30),
              characters_call('stone', 10, 50, 150, 30),
              characters_call('killer', 10, 150, 50, 50),
              characters_call('archer', 10, 120, 80, 70),
              characters_call('gunner', 10, 140, 60, 70)
]

print('kind', 'DPS', 'HPL', 'MPA', sep='\t')

for character in characters:
    dps = round(character['attack'] / 60, 1)
    hp_per_level = round(character['hp'] / character['level'], 1)
    mp_per_attack = round(character['mp'] / character['attack'], 1)
    
    print(character['kind'], dps, hp_per_level, mp_per_attack, sep='\t')

type	DPS	HPL	MPA
warrior	1.7	10.0	0.3
stone	0.8	15.0	0.6
killer	2.5	5.0	0.3
archer	2.0	8.0	0.6
gunner	2.3	6.0	0.5

이번엔 모든 계산식을 함수로 선언하겠습니다.

In [ ]:
def characters_call(kind, level, attack, hp, mp):
    return {'kind': kind, 'level': level, 'attack': attack, 'hp': hp, 'mp': mp}

def get_dps(character):
    return round(character['attack'] / 60, 1)

def get_hpl(character):
    return round(character['hp'] / character['level'], 1)

def get_mpa(character):
    return round(character['mp'] / character['attack'], 1)

def character_print(character):
    return '{}\t{}\t{}\t{}'.format(character['kind'],
                                   get_dps(character),
                                   get_hpl(character),
                                   get_mpa(character))

함수를 호출하여 같은 결과를 출력하겠습니다.

In [ ]:
characters = [
              characters_call('warrior', 10, 100, 100, 30),
              characters_call('stone', 10, 50, 150, 30),
              characters_call('killer', 10, 150, 50, 50),
              characters_call('archer', 10, 120, 80, 70),
              characters_call('gunner', 10, 140, 60, 70)
]

print('type', 'DPS', 'HPL', 'MPA', sep='\t')

for character in characters:
    print(character_print(character))

type	DPS	HPL	MPA
warrior	1.7	10.0	0.3
stone	0.8	15.0	0.6
killer	2.5	5.0	0.3
archer	2.0	8.0	0.6
gunner	2.3	6.0	0.5

클래스를 생성하고 생성자 함수를 호출하여 객체를 만들겠습니다.

In [ ]:
class Character:
    def __init__(self, kind, level, attack, hp, mp):
        self.kind = kind
        self.level = level
        self.attack = attack
        self.hp = hp
        self.mp = mp

In [ ]:
characters = [
              Character('warrior', 10, 100, 100, 30),
              Character('stone', 10, 50, 150, 30),
              Character('killer', 10, 150, 50, 50),
              Character('archer', 10, 120, 80, 70),
              Character('gunner', 10, 140, 60, 70)
]

print(characters)
print(characters[0].kind)
print(characters[1].kind)
print(characters[2].kind)
print(characters[3].kind)
print(characters[4].kind)

[<__main__.Character object at 0x7fbfbf66f710>, <__main__.Character object at 0x7fbfbf66f450>, <__main__.Character object at 0x7fbfbf66fe50>, <__main__.Character object at 0x7fbfbf66f6d0>, <__main__.Character object at 0x7fbfbf66f390>]
warrior
stone
killer
archer
gunner

이번엔 선언했던 모든 함수를 클래스에 포함시켜서 메서드로 만들겠습니다.

In [ ]:
class Character:
    def __init__(self, kind, level, attack, hp, mp):
        self.kind = kind
        self.level = level
        self.attack = attack
        self.hp = hp
        self.mp = mp

    def get_dps(self):
        return round(self.attack / 60, 1)

    def get_hpl(self):
        return round(self.hp / self.level, 1)

    def get_mpa(self):
        return round(self.mp / self.attack, 1)

    def character_print(self):
        return '{}\t{}\t{}\t{}'.format(self.kind,
                                    self.get_dps(),
                                    self.get_hpl(),
                                    self.get_mpa())

In [ ]:
characters = [
              Character('warrior', 10, 100, 100, 30),
              Character('stone', 10, 50, 150, 30),
              Character('killer', 10, 150, 50, 50),
              Character('archer', 10, 120, 80, 70),
              Character('gunner', 10, 140, 60, 70)
]

print('type', 'DPS', 'HPL', 'MPA', sep='\t')

for character in characters:
    print(character.character_print())

type	DPS	HPL	MPA
warrior	1.7	10.0	0.3
stone	0.8	15.0	0.6
killer	2.5	5.0	0.3
archer	2.0	8.0	0.6
gunner	2.3	6.0	0.5

### **16.7.2. 클래스 기반 인스턴스 확인하기**

상속 관계에 따라 인스턴스가 어떤 클래스를 기반으로 선언되었는지 `isinstance()` 함수로 확인할 수 있습니다. `True`이면 인스턴스가 특정한 클래스를 기반으로 선언되었다는 의미입니다. 예시를 들겠습니다.

In [ ]:
class Character:
    def __init__(self):
        pass

characters = Character()

print(isinstance(characters, Character))

True

`type(characters) == Character` 형식으로도 확인할 수 있습니다.

In [ ]:
print(type(characters) == Character)

True

다만 상속된 상태에서 `type()` 형식으로 확인하면 `False`입니다. 이 형식은 상속 관계까지는 파악할 수 없습니다.

In [ ]:
class BeforeUpgrade:
    def __init__(self):
        pass

# `Character` 클래스는 `BeforeUpgrade` 클래스를 상속 받습니다.
class Character(BeforeUpgrade):
    def __init__(self):
        pass

characters = Character()

print(f'isinstance(characters, BeforeUpgrade): {isinstance(characters, BeforeUpgrade)}')
print(f'type(characters) == BeforeUpgrade: {type(characters) == BeforeUpgrade}')

isinstance(characters, BeforeUpgrade): True
type(characters) == BeforeUpgrade: False

리스트에 여러 인스턴스가 포함되어 있다면 `isinstance()` 함수를 활용하여 각 인스턴스를 구분할 수 있습니다. 아울러 인스턴스를 구분하여 클래스의 함수나 변수를 사용하는 데에도 응용할 수 있습니다.

In [ ]:
class Manager:
    def order_to(self):
        print('지시합니다.')

class Follower:
    def follow_to(self):
        print('지시를 따릅니다.')

team = [Manager(), Follower(), Manager(), Follower(), Follower()]

for member in team:
    if isinstance(member, Manager):
        member.order_to()
    elif isinstance(member, Follower):
        member.follow_to()

지시합니다.
지시를 따릅니다.
지시합니다.
지시를 따릅니다.
지시를 따릅니다.

### **16.7.3. 자동호출 클래스 메서드**

`__메서드명__` 형태를 가진 메서드는 특정 상황에서 자동적으로 호출되는 메서드입니다. 예컨대 `__init__` 메서드나 `__del__` 메서드 모두 자동으로 호출되는 메서드입니다. 

기존에 생성한 `Character` 클래스에 `character_print()` 메서드 대신 `__str__` 메서드를 정의하겠습니다. 이 메서드를 호출하려면 `str()` 함수를 사용합니다.

In [ ]:
class Character:
    def __init__(self, kind, level, attack, hp, mp):
        self.kind = kind
        self.level = level
        self.attack = attack
        self.hp = hp
        self.mp = mp

    def get_dps(self):
        return round(self.attack / 60, 1)

    def get_hpl(self):
        return round(self.hp / self.level, 1)

    def get_mpa(self):
        return round(self.mp / self.attack, 1)

    def __str__(self):
        return '{}\t{}\t{}\t{}'.format(self.kind,
                                    self.get_dps(),
                                    self.get_hpl(),
                                    self.get_mpa())

In [ ]:
characters = [
              Character('warrior', 10, 100, 100, 30),
              Character('stone', 10, 50, 150, 30),
              Character('killer', 10, 150, 50, 50),
              Character('archer', 10, 120, 80, 70),
              Character('gunner', 10, 140, 60, 70)
]

print('type', 'DPS', 'HPL', 'MPA', sep='\t')

for character in characters:
    print(str(character))

type	DPS	HPL	MPA
warrior	1.7	10.0	0.3
stone	0.8	15.0	0.6
killer	2.5	5.0	0.3
archer	2.0	8.0	0.6
gunner	2.3	6.0	0.5

DPS를 비교하는 메서드들을 정의하겠습니다.

In [ ]:
class Character:
    def __init__(self, kind, level, attack, hp, mp):
        self.kind = kind
        self.level = level
        self.attack = attack
        self.hp = hp
        self.mp = mp

    def get_dps(self):
        return round(self.attack / 60, 1)

    def get_hpl(self):
        return round(self.hp / self.level, 1)

    def get_mpa(self):
        return round(self.mp / self.attack, 1)

    def __str__(self):
        return '{}\t{}\t{}\t{}'.format(self.kind,
                                    self.get_dps(),
                                    self.get_hpl(),
                                    self.get_mpa())

    # 새롭게 정의할 메서드들입니다.
    def __eq__(self, other):
        if not isinstance(other, Character):
            raise TypeError('Character 클래스의 인스턴스를 비교해주세요.')
        return self.get_dps() == other.get_dps()

    def __ne__(self, other):
        if not isinstance(other, Character):
            raise TypeError('Character 클래스의 인스턴스를 비교해주세요.')
        return self.get_dps() != other.get_dps()

    def __gt__(self, other):
        if not isinstance(other, Character):
            raise TypeError('Character 클래스의 인스턴스를 비교해주세요.')
        return self.get_dps() > other.get_dps()

    def __ge__(self, other):
        if not isinstance(other, Character):
            raise TypeError('Character 클래스의 인스턴스를 비교해주세요.')
        return self.get_dps() >= other.get_dps()

    def __lt__(self, other):
        if not isinstance(other, Character):
            raise TypeError('Character 클래스의 인스턴스를 비교해주세요.')
        return self.get_dps() < other.get_dps()
    
    def __le__(self, other):
        if not isinstance(other, Character):
            raise TypeError('Character 클래스의 인스턴스를 비교해주세요.')
        return self.get_dps() <= other.get_dps()

부등호를 사용하면 메서드가 바로 호출됩니다.

In [ ]:
characters = [
              Character('warrior', 10, 100, 100, 30),
              Character('stone', 10, 50, 150, 30),
              Character('killer', 10, 150, 50, 50),
              Character('archer', 10, 120, 80, 70),
              Character('gunner', 10, 140, 60, 70)
]

warrior = Character('warrior', 10, 100, 100, 30)
killer = Character('killer', 10, 150, 50, 50)

print(f"'warrior' == 'killer' -> {warrior == killer}")
print(f"'warrior' != 'killer' -> {warrior != killer}")
print(f"'warrior' > 'killer' -> {warrior > killer}")
print(f"'warrior' >= 'killer' -> {warrior >= killer}")
print(f"'warrior' < 'killer' -> {warrior < killer}")
print(f"'warrior' <= 'killer' -> {warrior <= killer}")

'warrior' == 'killer' -> False
'warrior' != 'killer' -> True
'warrior' > 'killer' -> False
'warrior' >= 'killer' -> False
'warrior' < 'killer' -> True
'warrior' <= 'killer' -> True

### **16.7.4. 클래스 변수 활용하기**

클래스에 변수를 정의하여 1씩 카운트업되도록 하겠습니다.

In [ ]:
class Character:
    # 카운트 변수를 선언합니다.
    counter = 0

    def __init__(self, kind, level, attack, hp, mp):
        self.kind = kind
        self.level = level
        self.attack = attack
        self.hp = hp
        self.mp = mp
        # 카운트 변수를 하나씩 더해갑니다.
        Character.counter += 1
        print(f'{Character.counter}번째 캐릭을 확인합니다.')

    def get_dps(self):
        return round(self.attack / 60, 1)

    def get_hpl(self):
        return round(self.hp / self.level, 1)

    def get_mpa(self):
        return round(self.mp / self.attack, 1)

    def __str__(self):
        return '{}\t{}\t{}\t{}'.format(self.kind,
                                    self.get_dps(),
                                    self.get_hpl(),
                                    self.get_mpa())

    def __eq__(self, other):
        if not isinstance(other, Character):
            raise TypeError('Character 클래스의 인스턴스와 비교하세요.')
        return self.get_dps() == other.get_dps()

    def __ne__(self, other):
        if not isinstance(other, Character):
            raise TypeError('Character 클래스의 인스턴스와 비교하세요.')
        return self.get_dps() != other.get_dps()

    def __gt__(self, other):
        if not isinstance(other, Character):
            raise TypeError('Character 클래스의 인스턴스와 비교하세요.')
        return self.get_dps() > other.get_dps()

    def __ge__(self, other):
        if not isinstance(other, Character):
            raise TypeError('Character 클래스의 인스턴스와 비교하세요.')
        return self.get_dps() >= other.get_dps()

    def __lt__(self, other):
        if not isinstance(other, Character):
            raise TypeError('Character 클래스의 인스턴스와 비교하세요.')
        return self.get_dps() < other.get_dps()
    
    def __le__(self, other):
        if not isinstance(other, Character):
            raise TypeError('Character 클래스의 인스턴스와 비교하세요.')
        return self.get_dps() <= other.get_dps()

In [ ]:
characters = [
              Character('warrior', 10, 100, 100, 30),
              Character('stone', 10, 50, 150, 30),
              Character('killer', 10, 150, 50, 50),
              Character('archer', 10, 120, 80, 70),
              Character('gunner', 10, 140, 60, 70)
]

print()
print(f'{Character.counter}번째까지 캐릭을 확인했습니다.')

1번째 캐릭을 확인합니다.
2번째 캐릭을 확인합니다.
3번째 캐릭을 확인합니다.
4번째 캐릭을 확인합니다.
5번째 캐릭을 확인합니다.

5번째까지 캐릭을 확인했습니다.

### **16.7.5. 클래스 데코레이터 활용하기**

클래스 데코레이터를 활용하여 클래스 메서드를 정의하겠습니다.

In [ ]:
class Character:
    counter = 0
    # 원소를 추가할 리스트 변수를 정의합니다. 
    characters = []

    @classmethod
    def print_character(cls):    # 클래스를 매개변수로 받습니다.
        print('type', 'DPS', 'HPL', 'MPA', sep='\t')
        for character in cls.characters:    # `Character.characters`로 대체 가능합니다.
            print(str(character))

    def __init__(self, kind, level, attack, hp, mp):
        self.kind = kind
        self.level = level
        self.attack = attack
        self.hp = hp
        self.mp = mp
        Character.counter += 1
        print(f'{Character.counter}번째 캐릭을 확인합니다.')
        # 리스트 변수에 원소를 추가합니다.
        Character.characters.append(self)

    def get_dps(self):
        return round(self.attack / 60, 1)

    def get_hpl(self):
        return round(self.hp / self.level, 1)

    def get_mpa(self):
        return round(self.mp / self.attack, 1)

    def __str__(self):
        return '{}\t{}\t{}\t{}'.format(self.kind,
                                    self.get_dps(),
                                    self.get_hpl(),
                                    self.get_mpa())

    def __eq__(self, other):
        if not isinstance(other, Character):
            raise TypeError('Character 클래스의 인스턴스와 비교하세요.')
        return self.get_dps() == other.get_dps()

    def __ne__(self, other):
        if not isinstance(other, Character):
            raise TypeError('Character 클래스의 인스턴스와 비교하세요.')
        return self.get_dps() != other.get_dps()

    def __gt__(self, other):
        if not isinstance(other, Character):
            raise TypeError('Character 클래스의 인스턴스와 비교하세요.')
        return self.get_dps() > other.get_dps()

    def __ge__(self, other):
        if not isinstance(other, Character):
            raise TypeError('Character 클래스의 인스턴스와 비교하세요.')
        return self.get_dps() >= other.get_dps()

    def __lt__(self, other):
        if not isinstance(other, Character):
            raise TypeError('Character 클래스의 인스턴스와 비교하세요.')
        return self.get_dps() < other.get_dps()
    
    def __le__(self, other):
        if not isinstance(other, Character):
            raise TypeError('Character 클래스의 인스턴스와 비교하세요.')
        return self.get_dps() <= other.get_dps()

In [ ]:
Character('warrior', 10, 100, 100, 30)
Character('stone', 10, 50, 150, 30)
Character('killer', 10, 150, 50, 50)
Character('archer', 10, 120, 80, 70)
Character('gunner', 10, 140, 60, 70)

print()
Character.print_character()

1번째 캐릭을 확인합니다.
2번째 캐릭을 확인합니다.
3번째 캐릭을 확인합니다.
4번째 캐릭을 확인합니다.
5번째 캐릭을 확인합니다.

type	DPS	HPL	MPA
warrior	1.7	10.0	0.3
stone	0.8	15.0	0.6
killer	2.5	5.0	0.3
archer	2.0	8.0	0.6
gunner	2.3	6.0	0.5

### **16.7.6. 프라이빗 변수**

**프라이빗 변수(private variable)**는 클래스 내에서만 사용할 수 있도록 지정된 변수입니다. 외부에서 호출하여 사용할 수 없습니다. 프라이빗 변수의 형태는 `__변수명`입니다. [링크](https://m.blog.naver.com/PostView.naver?isHttpsRedirect=true&blogId=amethyst_lee&logNo=221889506975)에서도 관련 내용을 다루고 있습니다.

예시로 원의 둘레와 넓이를 구하는 클래스를 선언하겠습니다.

In [ ]:
import math

class Circle:
    def __init__(self, radius):
        self.radius = radius

    def get_circumference(self):
        return 2 * math.pi * self.radius

    def get_area(self):
        return math.pi * (self.radius ** 2)

In [ ]:
circle = Circle(10)

print("원의 둘레: {:.3f}".format(circle.get_circumference()))
print("원의 넓이: {:.3f}".format(circle.get_area()))

원의 둘레: 62.832
원의 넓이: 314.159

`radius` 속성(변수)에 음수를 지정하겠습니다.

In [ ]:
circle = Circle(10)
circle.radius = -2

print("원의 둘레: {:.3f}".format(circle.get_circumference()))
print("원의 넓이: {:.3f}".format(circle.get_area()))

원의 둘레: -12.566
원의 넓이: 12.566

원의 둘레는 음수일 수 없습니다. 따라서 `radius` 속성을 사용하지 못하도록 프라이빗 변수로 정의해야 합니다.

In [ ]:
class Circle:
    def __init__(self, radius):
        self.__radius = radius

    def get_circumference(self):
        return 2 * math.pi * self.__radius

    def get_area(self):
        return math.pi * (self.__radius ** 2)

프라이빗 변수로 설정된 `radius` 속성에 `-2`를 지정하고 실행해보겠습니다.

In [ ]:
circle = Circle(10)
circle.radius = -2

print("원의 둘레: {:.3f}".format(circle.get_circumference()))
print("원의 넓이: {:.3f}".format(circle.get_area()))

원의 둘레: 62.832
원의 넓이: 314.159

`-2`로 변경되지 않고 그대로 출력됐습니다. 속성에 접근해보겠습니다.

In [ ]:
circle.__radius

AttributeError: ignored

클래스가 속성을 가지지 않았다는 오류가 출력됐습니다. 프라이빗 변수 처리를 통해 속성이 숨겨지고 외부에서 호출할 수 없도록 바뀐 것입니다.

### **16.7.7. 게터 및 세터**

프라이빗 변수 처리로 속성에 접근할 수 없게 되었으므로, 원의 둘레를 변경하려면 **게터(getter)**와 **세터(setter)**를 사용해야 합니다. 이 둘은 속성에 간접적으로 접근하여 변숫값을 추출하거나 변경하는 데 쓰이는 함수입니다.

In [ ]:
class Circle:
    def __init__(self, radius):
        self.__radius = radius

    def get_circumference(self):
        return 2 * math.pi * self.__radius

    def get_area(self):
        return math.pi * (self.__radius ** 2)

    # 게터 함수를 선언합니다.
    def get_radius(self):
        return self.__radius

    # 세터 함수를 선언합니다.
    def set_radius(self, value):
        if value <= 0:
            raise TypeError('양수만 유효합니다.')
        self.__radius = value

In [ ]:
circle = Circle(10)

print("원의 둘레: {:.3f}".format(circle.get_circumference()))
print("원의 넓이: {:.3f}".format(circle.get_area()))
print("radius: {:.1f}".format(circle.get_radius()))

원의 둘레: 62.832
원의 넓이: 314.159
radius: 10.0

In [ ]:
circle.set_radius(5)
print("원의 둘레: {:.3f}".format(circle.get_circumference()))
print("원의 넓이: {:.3f}".format(circle.get_area()))

원의 둘레: 31.416
원의 넓이: 78.540

데코레이터를 사용하여 게터와 세터를 더 쉽게 만드는 방법도 있습니다. `@property`와 `@변수명.setter` 형식을 지정합니다.

In [ ]:
class Circle:
    def __init__(self, radius):
        self.__radius = radius

    def get_circumference(self):
        return 2 * math.pi * self.__radius

    def get_area(self):
        return math.pi * (self.__radius ** 2)

    @property
    def radius(self):
        return self.__radius

    @radius.setter
    def radius(self, value):
        if value <= 0:
            raise TypeError('양수만 유효합니다.')
        self.__radius = value

In [ ]:
circle = Circle(10)
print(f'기존 반지름: {circle.radius}')

circle.radius = 5
print(f'변경된 반지름: {circle.radius}')

기존 반지름: 10
변경된 반지름: 5

음수를 지정하여 예외를 강제로 발생시키겠습니다.

In [ ]:
circle.radius = -5

TypeError: ignored

### **16.7.8. 예외 클래스**

예외 클래스를 선언하기 전에 먼저 상속 형태를 나타내는 코드를 예시하겠습니다. 암기해두면 추후에 도움이 될 만한 코드입니다.

In [ ]:
class Parent:
    def __init__(self):
        self.value = 'Parent 클래스의 value 변수입니다.'
        print('Parent 클래스의 __init()__ 메서드가 호출됐습니다.')
    def test(self):
        print('Parent 클래스의 test() 메서드입니다.')

class Child(Parent):
    def __init__(self):
        Parent.__init__(self)
        print('Child 클래스의 __init()__ 메서드가 호출됐습니다.')

In [ ]:
parent = Parent()
parent.test()

Parent 클래스의 __init()__ 메서드가 호출됐습니다.
Parent 클래스의 test() 메서드입니다.

In [ ]:
child = Child()
child.test()
print(child.value)

Parent 클래스의 __init()__ 메서드가 호출됐습니다.
Child 클래스의 __init()__ 메서드가 호출됐습니다.
Parent 클래스의 test() 메서드입니다.
Parent 클래스의 value 변수입니다.

이제 예외 클래스를 선언하겠습니다. 먼저 기존에 존재하는 `Exception` 클래스를 수정하여 `CustomException` 클래스를 선언하겠습니다.

In [ ]:
help(Exception)

Help on class Exception in module builtins:

class Exception(BaseException)
 |  Common base class for all non-exit exceptions.
 |
 |  Method resolution order:
 |      Exception
 |      BaseException
 |      object
 |
 |  Methods defined here:
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from BaseException:
 |
 |  __delattr__(self, name, /)
 |      Implement delattr(self, name).
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __setattr__(self, name, value, /)
 |      Implement setattr(self, name, value).
 |
 |  __setstate__(...)
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  with_traceback(...)
 |      Exception.with_traceback(tb) --
 |      set self.__traceback__ to tb and return self.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from BaseException:
 |
 |  __cause__
 |      exception cause
 |
 |  __context__
 |      exception context
 |
 |  __dict__
 |
 |  __suppress_context__
 |
 |  __traceback__
 |
 |  args

In [ ]:
class TestException(Exception):
    def __init__(self):
        Exception.__init__(self)

이름만 다른 같은 클래스가 되었으므로 예외를 발생시킬 수 있습니다.

In [ ]:
raise Exception

Exception: ignored

In [ ]:
raise TestException

TestException: ignored

추가 요소를 넣겠습니다. `__init__`에서 문자열을 출력하게 하고, `Exception` 클래스가 가진 `__str__` 메서드를 재정의(오버라이드)하겠습니다. 참고로 재정의는 부모 클래스에 정의된 메서드를 자식 클래스에서 다시 정의하는 것을 의미합니다.

In [ ]:
class TestException(Exception):
    def __init__(self):
        Exception.__init__(self)
        print('예외가 발생할 것입니다.')
    def __str__(self):
        return '예외가 발생했습니다.'

In [ ]:
raise TestException

예외가 발생할 것입니다.

TestException: ignored

기존 함수나 변수 말고도 다른 것들을 새로 정의할 수도 있습니다.

In [ ]:
class TestException(Exception):
    def __init__(self, message, value):
        Exception.__init__(self)
        self.message = message
        self.value = value

    def __str__(self):
        return self.message

    def print(self):
        print('예외가 발생합니다.')
        print(self.message)
        print(self.value)

In [ ]:
raise TestException('TestException 발생', '777')

TestException: ignored

In [ ]:
try:
    raise TestException('TestException 발생', '777')
except TestException as te:
    te.print()

예외가 발생합니다.
TestException 발생
777

# **17. 모듈**

파이썬 코드를 작성하고 파일로 저장한 파일을 **모듈(Module)**이라고 부릅니다. 여러 코드에서 언제든 불러서 재사용할 수 있는 도구이며 여러 클래스와 메서드, 변수를 가졌습니다. 모듈은 사용자가 직접 작성하여 마련한 **외부 모듈**과 전문가에 의해 발명되어 기본으로 내장된 **표준 모듈**로 나뉩니다.

모듈을 사용하는 데에는 이점이 있습니다. 먼저 코드를 작성하고 관리하기에 편리합니다. 특히 복잡하고 긴 코드의 경우 기능별로 나눠서 구현하기 좋습니다. 공동으로 작업하는 경우에는 모듈별로 설계한 후에 전체 모듈을 통합하는 과정을 거칩니다. 각자가 맡은 파트에 집중할 수 있으므로 작업 효율성을 도모할 수 있습니다.

위에서 서술했듯이 모듈 내에 포함된 함수 또한 메서드라고 부릅니다. 물론 함수와 구분하여 표현할 필요는 없습니다. 파이썬은 모듈 내에 함수가 포함되어 있는 구조이므로 함수는 곧 메서드입니다.

설치된 모듈을 확인하겠습니다.

In [ ]:
pip list

Package                       Version
----------------------------- --------------
absl-py                       0.12.0
alabaster                     0.7.12
albumentations                0.1.12
altair                        4.1.0
appdirs                       1.4.4
argcomplete                   1.12.3
argon2-cffi                   21.3.0
argon2-cffi-bindings          21.2.0
arviz                         0.11.4
astor                         0.8.1
astropy                       4.3.1
astunparse                    1.6.3
atari-py                      0.2.9
atomicwrites                  1.4.0
attrs                         21.2.0
audioread                     2.1.9
autograd                      1.3
Babel                         2.9.1
backcall                      0.2.0
beautifulsoup4                4.6.3
bleach                        4.1.0
blis                          0.4.1
bokeh                         2.3.3
Bottleneck                    1.3.2
branca                        0.4.2
bs4                           0.0.1
CacheControl                  0.12.10
cached-property               1.5.2
cachetools                    4.2.4
catalogue                     1.0.0
certifi                       2021.10.8
cffi                          1.15.0
cftime                        1.5.1.1
chardet                       3.0.4
charset-normalizer            2.0.9
click                         7.1.2
cloudpickle                   1.3.0
cmake                         3.12.0
cmdstanpy                     0.9.5
colorcet                      2.0.6
colorlover                    0.3.0
community                     1.0.0b1
contextlib2                   0.5.5
convertdate                   2.3.2
coverage                      3.7.1
coveralls                     0.5
crcmod                        1.7
cufflinks                     0.17.3
cvxopt                        1.2.7
cvxpy                         1.0.31
cycler                        0.11.0
cymem                         2.0.6
Cython                        0.29.24
daft                          0.0.4
dask                          2.12.0
datascience                   0.10.6
debugpy                       1.0.0
decorator                     4.4.2
defusedxml                    0.7.1
descartes                     1.1.0
dill                          0.3.4
distributed                   1.25.3
dlib                          19.18.0
dm-tree                       0.1.6
docopt                        0.6.2
docutils                      0.17.1
dopamine-rl                   1.0.5
earthengine-api               0.1.290
easydict                      1.9
ecos                          2.0.7.post1
editdistance                  0.5.3
en-core-web-sm                2.2.5
entrypoints                   0.3
ephem                         4.1
et-xmlfile                    1.1.0
fa2                           0.3.5
fastai                        1.0.61
fastdtw                       0.3.4
fastprogress                  1.0.0
fastrlock                     0.8
fbprophet                     0.7.1
feather-format                0.4.1
filelock                      3.4.0
firebase-admin                4.4.0
fix-yahoo-finance             0.0.22
Flask                         1.1.4
flatbuffers                   2.0
folium                        0.8.3
future                        0.16.0
gast                          0.4.0
GDAL                          2.2.2
gdown                         3.6.4
gensim                        3.6.0
geographiclib                 1.52
geopy                         1.17.0
gin-config                    0.5.0
glob2                         0.7
google                        2.0.3
google-api-core               1.26.3
google-api-python-client      1.12.8
google-auth                   1.35.0
google-auth-httplib2          0.0.4
google-auth-oauthlib          0.4.6
google-cloud-bigquery         1.21.0
google-cloud-bigquery-storage 1.1.0
google-cloud-core             1.0.3
google-cloud-datastore        1.8.0
google-cloud-firestore        1.7.0
google-cloud-language         1.2.0
google-cloud-storage          1.18.1
google-cloud-translate        1.5.0
google-colab                  1.0.0
google-pasta                  0.2.0
google-resumable-media        0.4.1
googleapis-common-protos      1.53.0
googledrivedownloader         0.4
graphviz                      0.10.1
greenlet                      1.1.2
grpcio                        1.42.0
gspread                       3.0.1
gspread-dataframe             3.0.8
gym                           0.17.3
h5py                          3.1.0
HeapDict                      1.0.1
hijri-converter               2.2.2
holidays                      0.10.5.2
holoviews                     1.14.6
html5lib                      1.0.1
httpimport                    0.5.18
httplib2                      0.17.4
httplib2shim                  0.0.3
humanize                      0.5.1
hyperopt                      0.1.2
ideep4py                      2.0.0.post3
idna                          2.10
imageio                       2.4.1
imagesize                     1.3.0
imbalanced-learn              0.8.1
imblearn                      0.0
imgaug                        0.2.9
importlib-metadata            4.8.2
importlib-resources           5.4.0
imutils                       0.5.4
inflect                       2.1.0
iniconfig                     1.1.1
intel-openmp                  2021.4.0
intervaltree                  2.1.0
ipykernel                     4.10.1
ipython                       5.5.0
ipython-genutils              0.2.0
ipython-sql                   0.3.9
ipywidgets                    7.6.5
itsdangerous                  1.1.0
jax                           0.2.25
jaxlib                        0.1.71+cuda111
jdcal                         1.4.1
jedi                          0.18.1
jieba                         0.42.1
Jinja2                        2.11.3
joblib                        1.1.0
jpeg4py                       0.1.4
jsonschema                    2.6.0
jupyter                       1.0.0
jupyter-client                5.3.5
jupyter-console               5.2.0
jupyter-core                  4.9.1
jupyterlab-pygments           0.1.2
jupyterlab-widgets            1.0.2
kaggle                        1.5.12
kapre                         0.3.6
keras                         2.7.0
Keras-Preprocessing           1.1.2
keras-vis                     0.4.1
kiwisolver                    1.3.2
korean-lunar-calendar         0.2.1
libclang                      12.0.0
librosa                       0.8.1
lightgbm                      2.2.3
llvmlite                      0.34.0
lmdb                          0.99
LunarCalendar                 0.0.9
lxml                          4.2.6
Markdown                      3.3.6
MarkupSafe                    2.0.1
matplotlib                    3.2.2
matplotlib-inline             0.1.3
matplotlib-venn               0.11.6
missingno                     0.5.0
mistune                       0.8.4
mizani                        0.6.0
mkl                           2019.0
mlxtend                       0.14.0
more-itertools                8.12.0
moviepy                       0.2.3.5
mpmath                        1.2.1
msgpack                       1.0.3
multiprocess                  0.70.12.2
multitasking                  0.0.10
murmurhash                    1.0.6
music21                       5.5.0
natsort                       5.5.0
nbclient                      0.5.9
nbconvert                     5.6.1
nbformat                      5.1.3
nest-asyncio                  1.5.4
netCDF4                       1.5.8
networkx                      2.6.3
nibabel                       3.0.2
nltk                          3.2.5
notebook                      5.3.1
numba                         0.51.2
numexpr                       2.7.3
numpy                         1.19.5
nvidia-ml-py3                 7.352.0
oauth2client                  4.1.3
oauthlib                      3.1.1
okgrade                       0.4.3
opencv-contrib-python         4.1.2.30
opencv-python                 4.1.2.30
openpyxl                      2.5.9
opt-einsum                    3.3.0
osqp                          0.6.2.post0
packaging                     21.3
palettable                    3.3.0
pandas                        1.1.5
pandas-datareader             0.9.0
pandas-gbq                    0.13.3
pandas-profiling              1.4.1
pandocfilters                 1.5.0
panel                         0.12.1
param                         1.12.0
parso                         0.8.3
pathlib                       1.0.1
patsy                         0.5.2
pep517                        0.12.0
pexpect                       4.8.0
pickleshare                   0.7.5
Pillow                        7.1.2
pip                           21.1.3
pip-tools                     6.2.0
plac                          1.1.3
plotly                        4.4.1
plotnine                      0.6.0
pluggy                        0.7.1
pooch                         1.5.2
portpicker                    1.3.9
prefetch-generator            1.0.1
preshed                       3.0.6
prettytable                   2.4.0
progressbar2                  3.38.0
prometheus-client             0.12.0
promise                       2.3
prompt-toolkit                1.0.18
protobuf                      3.17.3
psutil                        5.4.8
psycopg2                      2.7.6.1
ptyprocess                    0.7.0
py                            1.11.0
pyarrow                       3.0.0
pyasn1                        0.4.8
pyasn1-modules                0.2.8
pycocotools                   2.0.3
pycparser                     2.21
pyct                          0.4.8
pydata-google-auth            1.2.0
pydot                         1.3.0
pydot-ng                      2.0.0
pydotplus                     2.0.2
PyDrive                       1.3.1
pyemd                         0.5.1
pyerfa                        2.0.0.1
pyglet                        1.5.0
Pygments                      2.6.1
pygobject                     3.26.1
pymc3                         3.11.4
PyMeeus                       0.5.11
pymongo                       3.12.1
pymystem3                     0.2.0
PyOpenGL                      3.1.5
pyparsing                     3.0.6
pyrsistent                    0.18.0
pysndfile                     1.3.8
PySocks                       1.7.1
pystan                        2.19.1.1
pytest                        3.6.4
python-apt                    0.0.0
python-chess                  0.23.11
python-dateutil               2.8.2
python-louvain                0.15
python-slugify                5.0.2
python-utils                  2.5.6
pytz                          2018.9
pyviz-comms                   2.1.0
PyWavelets                    1.2.0
PyYAML                        3.13
pyzmq                         22.3.0
qdldl                         0.1.5.post0
qtconsole                     5.2.2
QtPy                          2.0.0
regex                         2019.12.20
requests                      2.23.0
requests-oauthlib             1.3.0
resampy                       0.2.2
retrying                      1.3.3
rpy2                          3.4.5
rsa                           4.8
scikit-image                  0.18.3
scikit-learn                  1.0.1
scipy                         1.4.1
screen-resolution-extra       0.0.0
scs                           2.1.4
seaborn                       0.11.2
semver                        2.13.0
Send2Trash                    1.8.0
setuptools                    57.4.0
setuptools-git                1.2
Shapely                       1.8.0
simplegeneric                 0.8.1
six                           1.15.0
sklearn                       0.0
sklearn-pandas                1.8.0
smart-open                    5.2.1
snowballstemmer               2.2.0
sortedcontainers              2.4.0
SoundFile                     0.10.3.post1
spacy                         2.2.4
Sphinx                        1.8.6
sphinxcontrib-serializinghtml 1.1.5
sphinxcontrib-websupport      1.2.4
SQLAlchemy                    1.4.27
sqlparse                      0.4.2
srsly                         1.0.5
statsmodels                   0.10.2
sympy                         1.7.1
tables                        3.4.4
tabulate                      0.8.9
tblib                         1.7.0
tensorboard                   2.7.0
tensorboard-data-server       0.6.1
tensorboard-plugin-wit        1.8.0
tensorflow                    2.7.0
tensorflow-datasets           4.0.1
tensorflow-estimator          2.7.0
tensorflow-gcs-config         2.7.0
tensorflow-hub                0.12.0
tensorflow-io-gcs-filesystem  0.22.0
tensorflow-metadata           1.4.0
tensorflow-probability        0.15.0
termcolor                     1.1.0
terminado                     0.12.1
testpath                      0.5.0
text-unidecode                1.3
textblob                      0.15.3
Theano-PyMC                   1.1.2
thinc                         7.4.0
threadpoolctl                 3.0.0
tifffile                      2021.11.2
toml                          0.10.2
tomli                         1.2.2
toolz                         0.11.2
torch                         1.10.0+cu111
torchaudio                    0.10.0+cu111
torchsummary                  1.5.1
torchtext                     0.11.0
torchvision                   0.11.1+cu111
tornado                       5.1.1
tqdm                          4.62.3
traitlets                     5.1.1
tweepy                        3.10.0
typeguard                     2.7.1
typing-extensions             3.10.0.2
tzlocal                       1.5.1
uritemplate                   3.0.1
urllib3                       1.24.3
vega-datasets                 0.9.0
wasabi                        0.8.2
wcwidth                       0.2.5
webencodings                  0.5.1
Werkzeug                      1.0.1
wheel                         0.37.0
widgetsnbextension            3.5.2
wordcloud                     1.5.0
wrapt                         1.13.3
xarray                        0.18.2
xgboost                       0.90
xkit                          0.0.0
xlrd                          1.1.0
xlwt                          1.3.0
yellowbrick                   1.3.post1
zict                          2.0.0
zipp                          3.6.0

In [ ]:
pip show xgboost

Name: xgboost
Version: 0.90
Summary: XGBoost Python Package
Home-page: https://github.com/dmlc/xgboost
Author: None
Author-email: None
License: Apache-2.0
Location: /usr/local/lib/python3.7/dist-packages
Requires: scipy, numpy
Required-by:

## **17.1. 표준 모듈**

파이썬은 기본적으로 유용한 여러 모듈을 제공합니다. 이 중에 몇 가지 모듈만 살필 예정입니다. 각종 모듈은 [파이썬 표준 라이브러리](https://docs.python.org/3.6/library)에 구체적으로 설명되어 있습니다.

### **17.1.1. 수학 모듈**

수학은 `math` 모듈로 구현되어 있습니다. 모듈은 `import` 명령어로 부릅니다. 참고로 import의 사전적 의미는 수입(하다), '불러오다'입니다. 모듈을 임포트하면 여러 형식으로 사용할 수 있습니다. 여러 형식은 아래와 같습니다.

```
import 모듈
모듈.클래스()
모듈.메서드()
모듈.변수
```

먼저 `math` 모듈을 부르겠습니다.

In [ ]:
import math

모듈이 가진 메서드와 변수를 확인하려면 `math.`를 입력합니다. 함수와 변수의 리스트가 자동으로 뜹니다. `help(math)`를 선언하면 모듈에 대한 자세한 정보를 확인할 수 있습니다.

In [ ]:
math.

In [ ]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(x, y, /)
        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    pow(x, y, /)
        Return x**y (x to the power of y).

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

몇 가지 메서드를 사용해보겠습니다.

In [ ]:
print(f'math.ceil(5.6): {math.ceil(5.6)}')
print(f'math.floor(5.6): {math.floor(5.6)}')
print(f'math.log(2): {math.log(2)}')
print(f'math.log2(2): {math.log2(2)}')
print(f'math.log10(2): {math.log10(2)}')

math.ceil(5.6): 6
math.floor(5.6): 5
math.log(2): 0.6931471805599453
math.log2(2): 1.0
math.log10(2): 0.3010299956639812

모듈이 가진 모든 도구를 사용하는 것은 아닙니다. 필요한 도구만 편리하게 사용하려면 아래 형식을 취하여 필요한 도구만 개별적으로 호출합니다.

```
from 모듈 import 필요한 클래스 or 메서드 or 변수
```

에컨대 이렇게 개별적으로 호출해두면 `모듈.메서드()`처럼 꼭 `모듈.`을 붙이지 않고 바로 `메서드()`로 선언해도 메서드를 사용할 수 있습니다.

In [ ]:
from math import sin, cos, tan

print(f'sin(1): {sin(1)}')
print(f'cos(1): {cos(1)}')
print(f'tan(1): {tan(1)}')

sin(1): 0.8414709848078965
cos(1): 0.5403023058681398
tan(1): 1.5574077246549023

다만 아래처럼 `*`로 선언하여 전체를 호출하는 경우는 식별자명이 충돌할 수 있으므로 자제하는 편이 낫습니다.

```
from 모듈 import *
```

모듈명이 길거나 다른 식별자와 충돌하는 경우에는 `as`를 붙여서 임의로 식별자를 지정하여 사용할 수 있습니다.

```
import 모듈 as 임의의 식별자
```

In [ ]:
import math as m

print(f'm.sin(1): {m.sin(1)}')
print(f'm.cos(1): {m.cos(1)}')
print(f'm.tan(1): {m.tan(1)}')

m.sin(1): 0.8414709848078965
m.cos(1): 0.5403023058681398
m.tan(1): 1.5574077246549023

### **17.1.2. 난수 모듈**

임의의 숫자를 **난수(random number)**라고 부릅니다. `random` 모듈이 가진 메서드로 여러 형태의 난수를 생성할 수 있습니다. 물론 항목도 생성할 수 있습니다.

먼저 난수 모듈을 임포트 합니다.

In [ ]:
import random

In [ ]:
# 출력 내용이 기므로 주석으로 처리합니다.
# help(random)

`random` 모듈이 가진 여러 메서드 중에 주로 사용하는 메서드는 아래와 같습니다.

- `random()`: 0.0과 1.0 사이의 임의의 실수를 생성합니다. 형식은 `random.random()`입니다.

- `randint(시작, 끝)`: 시작과 끝 사이의 임의의 정수를 생성합니다. 형식은 `random.randint(시작, 끝)`입니다.

- `randrange([시작,] 끝 [,단계])`: 시작과 끝 사이에서 단계에 맞게 임의의 정수를 생성합니다. 시작과 단계는 생략할 수 있습니다. 형식은 `random.randrange(([시작,] 끝 [,단계])`입니다.

- `choice([항목1, 항목2, ..., 항목n])`: 지정한 항목 중에 임의의 항목을 생성합니다. 형식은 `random.choice([항목1, 항목2, ..., 항목n])`입니다.

- `sample([모집단 숫자들], 개수)`: 리스트로 이뤄진 모집단 숫자들에서 개수만큼 생성합니다. 형식은 `random.sample([모집단 숫자들], 개수)`입니다.

몇 가지 메서드를 사용해보겠습니다.

In [ ]:
from random import randint, randrange, choice, sample

In [ ]:
print(f'randint(0, 8): {randint(0, 8)}')
print(f'randrange(0, 10, 2): {randrange(0, 10, 2)}')
print(f'choice(["사과", "바나나", "포도", 4, 5, 6]): {choice(["사과", "바나나", "포도", 4, 5, 6])}')
print(f'sample([1, 2, 3, "사과", "바나나", "포도"], 4): {sample([1, 2, 3, "사과", "바나나", "포도"], 4)}')

randint(0, 8): 5
randrange(0, 10, 2): 4
choice(["사과", "바나나", "포도", 4, 5, 6]): 6
sample([1, 2, 3, "사과", "바나나", "포도"], 4): [1, '사과', '바나나', '포도']

### **17.1.3. 날짜 및 시간 모듈**

`datetime` 모듈은 날짜와 시간과 관련된 모듈입니다. 날짜를 다루는 `date` 클래스, 시간을 다루는 `time` 클래스, 둘 모두를 다루는 `datetime` 클래스를 가집니다. 

형식은 아래와 같습니다.

```
import datetime

date_cls = datetime.date(year, month, day)
time_cls = datetime.time(hour, minute, second)
datetime_cls = datetime.datetime(year, month, day, hour, minute, second)
```

`datetime` 모듈이 가진 `date` 클래스와 `time` 클래스를 호출해서 변수에 지정했습니다. 각 클래스는 개별적으로 속성을 가집니다. 여기서 속성은 괄호 안의 속성명을 그대로 가지고, 각 클래스는 클래스 메서드를 가집니다. 관련 설명은 아래에서 예시로 들겠습니다.

In [ ]:
import datetime

In [ ]:
# 출력 내용이 기므로 주석으로 처리합니다.
# help(datetime)

#### **17.1.3.1. 날짜 클래스**

먼저 변수에 클래스를 넘기는 방법으로 사용하는 방식입니다. `date` 클래스입니다.

In [ ]:
date_211005 = datetime.date(2021, 10, 5)
print(f'datetime.date(2021, 10, 5): {date_211005}')

datetime.date(2021, 10, 5): 2021-10-05

클래스의 속성을 따로 호출할 수도 있습니다.

In [ ]:
print(f'datetime.date({date_211005.year}, {date_211005.month}, {date_211005.day})')

datetime.date(2021, 10, 5)

`date` 클래스로 생성한 변수를 이용하여 변수 간 일수 차이를 구할 수 있습니다.

In [ ]:
date_211005 = datetime.date(2021, 10, 5)
date_140416 = datetime.date(2014, 4, 16)
print(date_211005 - date_140416)
print(date_140416 - date_211005)

2729 days, 0:00:00
-2729 days, 0:00:00

연산을 마친 후에는 데이터 타입이 바뀝니다. 데이터 타입은 클래스입니다.

In [ ]:
type(date_140416)

datetime.date

`timedelta` 또한 클래스입니다.

In [ ]:
date_diff = date_211005 - date_140416
type(date_diff)

datetime.timedelta

시간을 제외하고 숫자만 출력하려면 `timedelta` 클래스가 가진 `days` 속성을 선언합니다.

In [ ]:
date_diff.days

2729

오늘 날짜를 출력하려면 `date` 클래스의 `today()` 메서드를 호출합니다.

In [ ]:
print(f'Today is {datetime.date.today()}')

Today is 2021-10-08

#### **17.1.3.2. 시간 클래스**

`time` 클래스에 대한 예시입니다.

In [ ]:
time_195804 = datetime.time(19, 58, 4)
print(f'datetime.time(19, 58, 4): {time_195804}')

datetime.time(19, 58, 4): 19:58:04

`date` 클래스처럼 클래스가 가진 속성을 개별적으로 호출할 수 있습니다. 다만 `time` 클래스는 `date` 클래스처럼 빼기 연산은 지원하지 않습니다.

In [ ]:
print(f'datetime.time({time_195804.hour}, {time_195804.minute}, {time_195804.second})')

datetime.time(19, 58, 4)

참고로 `timedate` 모듈의 `time` 클래스와는 무관한, `time` 모듈의 `sleep()` 메서드는 특정 시간 동안 코드 진행을 멈추는 데 활용하는 유용한 메서드입니다.

In [ ]:
import time

print('3초간 처리를 멈춥니다.')
time.sleep(3)
print('완료되었습니다.')

3초간 처리를 멈춥니다.
완료되었습니다.

#### **17.1.3.3. 날짜 시간 클래스**

`datetime` 클래스는 날짜와 시간 모두를 나타냅니다. 사용법은 위에서 설명한 두 클래스와 같습니다. 다만 현재 시각을 구하려면 `now()` 메서드를 사용해야 합니다.

In [ ]:
now = datetime.datetime.now()
print(now)
type(now)

2022-01-07 14:45:22.295700

datetime.datetime

현재 시각을 개별적으로 출력할 수도 있습니다. 방법은 두 가지입니다. 하나는 속성을 사용하는 방법이고, 다른 하나는 `{:%Y-%m-%d %H:%M:%S}` 형식을 사용하는 방법입니다. 구분 기호는 다르게 지정할 수 있습니다.

아래에서 예시하겠습니다.

In [ ]:
print(f"Now is {now.year}-{now.month}-{now.day} {now.hour}:{now.minute}:{now.second}")
print('Now is {:%Y-%m-%d %H:%M:%S}'.format(now))
print('Now is {:%Y.%m.%d. %H/%M/%S}'.format(now))

Now is 2022-1-7 14:45:22
Now is 2022-01-07 14:45:22
Now is 2022.01.07. 14/45/22

`strftime()` 메서드를 사용하는 방법도 있습니다.

In [ ]:
now = datetime.datetime.now()
# # 각 원소를 매개변수로 지정하기 위해
# `format(*'년월일시분초')`에서 문자열 앞에 전개 연산자 `*`을 붙입니다.
# 전개 연산자 `*`은 배열의 원소나 객체를 나열하는 연산자입니다.
# f-문자열이 아닌 `format()` 함수를 사용하기 적합할 때 적용하면 유용합니다.
now_strftime = now.strftime('%Y{} %m{} %d{} %H{} %M{} %S{}').format(*'년월일시분초')
print(now_strftime)

2022년 01월 07일 14시 45분 57초

`datetime` 클래스는 `date` 클래스처럼 빼기 연산을 지원합니다. 연산하면 `timedelta` 클래스로 바뀝니다.

In [ ]:
my_birthday = datetime.datetime(1989, 6, 23, 18, 30, 0)
print(f'오늘까지 {now - my_birthday}만큼 살았습니다.')

I_live = now - my_birthday
print(f'오늘까지 {I_live.days}일만큼 살았습니다.')
print(f'Type is {type(I_live)}.')

오늘까지 11885 days, 20:15:22.295700만큼 살았습니다.
오늘까지 11885일만큼 살았습니다.
Type is <class 'datetime.timedelta'>.

현재에서 1주 1일 1시간 1분 1초 후의 날짜와 시간을 구하겠습니다.

In [ ]:
now = datetime.datetime.now()
after = now + datetime.timedelta(weeks=1, days=1, hours=1, minutes=1, seconds=1)

print(after.strftime('%Y{} %m{} %d{} %H{} %M{} %S{}').format(*'년월일시분초'))

2022년 01월 15일 16시 02분 30초

다만 `timedelta()` 메서드는 얼마큼 이후 날짜와 시간을 구하는 기능은 없으므로 `replace()` 함수를 활용하여 값을 교체합니다.

In [ ]:
plus_5_years = now.replace(year=(now.year + 5))
print(plus_5_years.strftime('%Y{} %m{} %d{} %H{} %M{} %S{}').format(*'년월일시분초'))

2027년 01월 07일 15시 01분 29초

### **17.1.4. 달력 모듈**

달력 모듈은 몇 가지 예시로 간단하게 설명하겠습니다.

먼저 `calendar` 모듈을 부른 후에 `calendar` 메서드를 사용하여 2021년을 출력하겠습니다.

In [ ]:
import calendar

print(calendar.calendar(2021))

                                  2021

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7       1  2  3  4  5  6  7
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       8  9 10 11 12 13 14
11 12 13 14 15 16 17      15 16 17 18 19 20 21      15 16 17 18 19 20 21
18 19 20 21 22 23 24      22 23 24 25 26 27 28      22 23 24 25 26 27 28
25 26 27 28 29 30 31                                29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                      1  2          1  2  3  4  5  6
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30
                          31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1             1  2  3  4  5
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12
12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19
19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26
26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30
                          30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
25 26 27 28 29 30 31      29 30                     27 28 29 30 31

매개변수 `m`에 값을 부여하여 한 줄에 출력되는 달을 변경하겠습니다.

In [ ]:
print(calendar.calendar(2021, m=5))

                                                            2021

      January                   February                   March                     April                      May
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7       1  2  3  4  5  6  7                1  2  3  4                      1  2
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       8  9 10 11 12 13 14       5  6  7  8  9 10 11       3  4  5  6  7  8  9
11 12 13 14 15 16 17      15 16 17 18 19 20 21      15 16 17 18 19 20 21      12 13 14 15 16 17 18      10 11 12 13 14 15 16
18 19 20 21 22 23 24      22 23 24 25 26 27 28      22 23 24 25 26 27 28      19 20 21 22 23 24 25      17 18 19 20 21 22 23
25 26 27 28 29 30 31                                29 30 31                  26 27 28 29 30            24 25 26 27 28 29 30
                                                                                                        31

        June                      July                     August                  September                  October
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                1  2  3  4                         1             1  2  3  4  5                   1  2  3
 7  8  9 10 11 12 13       5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
14 15 16 17 18 19 20      12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
21 22 23 24 25 26 27      19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
28 29 30                  26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
                                                    30 31

      November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7             1  2  3  4  5
 8  9 10 11 12 13 14       6  7  8  9 10 11 12
15 16 17 18 19 20 21      13 14 15 16 17 18 19
22 23 24 25 26 27 28      20 21 22 23 24 25 26
29 30                     27 28 29 30 31

`month()` 함수를 사용하면 월만 표시합니다.

In [ ]:
print(calendar.month(2021, 10))

    October 2021
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

`monthrange()` 함수를 사용하면 특정한 달의 1일의 요일과 날짜 수를 표시합니다. 요일은 숫자로 표현되는데 월요일은 `0`, 화요일은 `1`, 수요일은 `2` ... 일요일은 `6`입니다.

In [ ]:
print(calendar.monthrange(2021, 10))

(4, 31)

`firstweekday()` 함수를 사용하면 일주일의 시작 요일을 구할 수 있습니다. 기본값은 월요일인 `0`입니다.

In [ ]:
calendar.firstweekday()

0

`firstweekday()` 함수에서 월요일을 주의 시작 요일로 표현합니다. 이 시작 요일을 바꾸려면 `setfirstweekday(요일을 나타내는 숫자)` 함수를 사용합니다. 요일을 나타내는 숫자 대신 `calendar.SUNDAY` 형식으로 인자를 지정할 수 있습니다.

In [ ]:
calendar.setfirstweekday(6) # 또는 `calendar.SUNDAY`로 지정합니다.
print(calendar.month(2021, 10))
print(f'달력에서 첫 주의 시작을 0인 월요일에서 {calendar.firstweekday()}인 일요일로 바꿉니다.')

    October 2021
Su Mo Tu We Th Fr Sa
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

달력에서 첫 주의 시작을 0인 월요일에서 6인 일요일로 바꿉니다.

`weekday()` 함수는 날짜에 해당하는 요일을 숫자로 출력합니다.

In [ ]:
print(calendar.weekday(2021, 10, 5))

1

`isleap()` 함수는 윤년인 해인지 여부를 출력합니다. 윤년이면 `True`입니다.

In [ ]:
print(calendar.isleap(2021))
print(calendar.isleap(2020))
print(calendar.isleap(2019))
print(calendar.isleap(2018))

False
True
False
False

### **17.1.5. 시스템 정보 모듈**

`sys` 모듈은 시스템 정보를 가진 모듈입니다. 명령 매개변수를 다룰 때 사용합니다.

In [ ]:
import sys

In [ ]:
# 출력 내용이 기므로 주석으로 처리합니다.
# help(sys)

명령 매개변수만 확인하겠습니다. 자세한 내용은 [링크](https://wikidocs.net/33)를 참고하시기 바랍니다.

In [ ]:
print(f'sys.argv: {sys.argv}')

sys.argv: ['/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py', '-f', '/root/.local/share/jupyter/runtime/kernel-e83efef2-0ea5-4b3a-acec-777cdbdc1067.json']

### **17.1.6. 운영체제 기능 모듈**

`os` 모듈은 운영체제 기능을 가진 모듈입니다. 폴더 생성, 제거, 확인 등 운영체제와 관련된 모든 일을 할 수 있습니다.

In [ ]:
import os

In [ ]:
# 출력 내용이 기므로 주석으로 처리합니다.
# help(os)

몇 가지 메서드와 변수를 사용해보겠습니다.

In [ ]:
print(f'운영체제: {os.name}')
print(f'현재 폴더: {os.getcwd()}')
print(f'폴더 내 데이터: {os.listdir()}')

운영체제: posix
현재 폴더: /content
폴더 내 데이터: ['.config', 'gdrive', 'sample_data']

In [ ]:
# 폴더를 생성합니다.
os.mkdir('temporary_folder')

# 폴더를 삭제합니다. 단, 폴더가 비어있어야 제거할 수 있습니다.
os.rmdir('temporary_folder')

In [ ]:
# 파일을 생성하여 문자열을 작성합니다.
with open('temporary_file.txt', 'w') as f:
    f.write("It's just test.")

# 파일명을 바꿉니다.
os.rename('temporary_file.txt', 'tem_file.txt')

# 파일을 삭제합니다.
os.remove('tem_file.txt')

In [ ]:
# 시스템 명령어를 실행합니다.
os.system('dir')

0

`os.listdir()` 메서드와 `os.path.isdir()` 메서드를 사용하면 특정 디렉터리를 읽고 파일 디렉터리인지 확인할 수 있습니다.

In [ ]:
dir_list = os.listdir('.')
print(f'os.listdir(): {dir_list}')
print()

for path in dir_list:
    if os.path.isdir(path):
        print(f'폴더: {path}')
    else:
        print(f'파일: {path}')

os.listdir(): ['.config', 'gdrive', 'sample_data']

폴더: .config
폴더: gdrive
폴더: sample_data

폴더 내부에 있는 모든 파일을 탐색하려면 재귀 함수 구성으로 작성할 수 있습니다.

In [ ]:
def read_folder(path):

    dir_list = os.listdir(path)

    for element in dir_list:
        if os.path.isdir(element):
            read_folder(element)
        else:
            print(f'파일: {element}')

read_folder('.')

파일: .last_survey_prompt.yaml
파일: .last_opt_in_prompt.yaml
파일: config_sentinel
파일: .last_update_check.json
파일: gce
파일: logs
파일: active_config
파일: configurations
파일: MyDrive
파일: .file-revisions-by-id
파일: .shortcut-targets-by-id
파일: .Trash-0
파일: anscombe.json
파일: README.md
파일: mnist_test.csv
파일: california_housing_train.csv
파일: california_housing_test.csv
파일: mnist_train_small.csv

### **17.1.7. URL 모듈**

`urllib` 패키지는 URL을 다루는 데 쓰입니다. 모듈을 한 데 모아 놓은 것을 패키지라고 합니다. 패키지는 다음 파트에서 다룹니다.

In [ ]:
import urllib

help(urllib)

Help on package urllib:

NAME
    urllib

MODULE REFERENCE
    https://docs.python.org/3.7/library/urllib

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

PACKAGE CONTENTS
    error
    parse
    request
    response
    robotparser

FILE
    /usr/lib/python3.7/urllib/__init__.py

`urllib` 패키지에 `error`, `parse`, `request`, `response`, `robotparser`가 콘텐츠로 존재합니다. 이 모든 콘텐츠를 `help()` 함수로 살펴보면 클래스와 메서드가 아닌 모듈이라는 점을 알 수 있습니다.

In [ ]:
# 긴 내용이므로 주석으로 처리합니다.
# help(error)
# help(parse)
# help(request)
# help(response)
# help(robotparser)

`urllib` 패키지의 `request` 모듈을 임포트 하고, `request` 모듈이 가진 `urlopen` 메서드를 활용하겠습니다. 이 메서드로 URL 주소의 페이지를 열고, `read()` 메서드로 웹 페이지 내용을 읽습니다.

In [ ]:
from urllib import request

naver_url = request.urlopen('https://www.naver.com/')
result = naver_url.read()


# print(result)    # 바이너리 데이터가 길게 출력되므로 주석으로 처리합니다.

## **17.2. 외부 모듈**

사람들이 직접 만들어서 배포하는 모듈을 **외부 모듈**이라고 합니다. **넘파이(Numpy)**, **판다스(Pandas)**, **사이킷런(scikit-learn)**, **맷플롯립(Matplotlib)**, **텐서플로우(Tensorflow)**, **플라스크(Flask)**, **장고(Django)** 등 많은 종류의 외부 모듈이 존재합니다. 기실 명확한 명칭이라면 모듈보다는 패키지가 더 적확한 표현입니다. 물론 구분하지 않고 써도 무관합니다.

모듈은 `라이브러리(library)`와 `프레임워크(framework)`로 나뉩니다. 라이브러리는 정상적으로 제어하는 모듈이고, 프레임워크는 제어 역전이 발생하는 모듈입니다. 현업에서는 둘을 구분하지 않고 사용합니다. 라이브러리와 프레임워크의 차이점은 [링크](https://m.blog.naver.com/dktmrorl/222121510562)를 참고하시기 바랍니다.

모듈을 설정하는 형식은 아래와 같습니다.

```
pip install 모듈명
```

여기서 사용하는 `pip`는 패키지입니다. 자세한 내용은 [링크](https://pip.pypa.io/en/stable/user_guide/#installing-packages)를 참조하시기 바랍니다.

In [ ]:
import pip

help(pip)

Help on package pip:

NAME
    pip

PACKAGE CONTENTS
    __main__
    _internal (package)
    _vendor (package)

FUNCTIONS
    main(args=None)
        This is an internal API only meant for use by pip's own console scripts.

        For additional details, see https://github.com/pypa/pip/issues/7498.

DATA
    List = typing.List
    Optional = typing.Optional

VERSION
    21.1.3

FILE
    /usr/local/lib/python3.7/dist-packages/pip/__init__.py

데이터 분석에 필요한 모듈은 **2. 데이터를 다루기 위한 파이썬 패키지**에서 상세하게 다루겠습니다.

## **17.3. 모듈 생성하기**

모듈은 코드를 작성한 후에 `모듈명.py` 파일로 저장합니다.

먼저 **IPython**에 있는 **내장 마술 명령어(magic command)**인 `%%writefile`에 대해 설명하겠습니다. 이 명령어로 코드를 파일로 저장할 수 있습니다. 예시는 아래와 같습니다.

```
%%writefile -a 파일명.py
코드 내용
```

여기서 `-a`를 지정하면 기존 파일 내용의 뒤에 내용을 추가하고, 지정하지 않으면 같은 파일명을 가진 파일에 내용을 덮어씁니다.

다음은 `%load` 명령어를 사용해서 코드 파일을 불러오는 방법입니다.

```
%load 파일명.py
```

마지막으로 `%run` 명령어를 사용해서 코드 파일을 실행하는 방법입니다.

```
%run 파일명.py
```

이제 간단한 모듈을 작성하겠습니다. 기존에 경로를 설정했던 '/content/gdrive/MyDrive/Python_for_Data_Analytics_Science'에 저장하겠습니다.

In [ ]:
# `-a`를 지정하지 않겠습니다. 
%%writefile /content/gdrive/MyDrive/Python_for_Data_Analytics_Science/test_module.py

def test_print():
    return 'Is it test?'

a = 15
b = 30

def test_num(c):
    return a + b * c

Overwriting /content/gdrive/MyDrive/Python_for_Data_Analytics_Science/test_module.py

파일을 확인하겠습니다. `!type` 명령어를 사용합니다.

In [ ]:
!type /content/gdrive/MyDrive/Python_for_Data_Analytics_Science/test_module.py

/content/gdrive/MyDrive/Python_for_Data_Analytics_Science/test_module.py is /content/gdrive/MyDrive/Python_for_Data_Analytics_Science/test_module.py

### **17.3.1. 모듈 임포트 하기**

모듈이 가진 클래스, 메서드, 변수는 `dir(모듈명)` 형식으로 확인할 수 있습니다. 먼저 모듈을 임포트 하고 클래스와 메서드, 변수를 확인하겠습니다.

In [ ]:
cd /content/gdrive/MyDrive/Python_for_Data_Analytics_Science

/content/gdrive/MyDrive/Python_for_Data_Analytics_Science

In [ ]:
import test_module

dir(test_module)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'a',
 'b',
 'test_num',
 'test_print']

위에서 생성한 `test_module` 모듈의 함수와 변수를 호출하겠습니다.

In [ ]:
print(f"'test_print()' 함수를 호출하면 {test_module.test_print()}가 출력됩니다.")
print(f"'test_sum()' 함수를 호출하면 {test_module.test_num(5)}가 출력됩니다.")
print(f"'a' 변수를 호출하면 {test_module.a}가 출력됩니다.")
print(f"'b' 변수를 호출하면 {test_module.b}가 출력됩니다.")

'test_print()' 함수를 호출하면 Is it test?가 출력됩니다.
'test_sum()' 함수를 호출하면 165가 출력됩니다.
'a' 변수를 호출하면 15가 출력됩니다.
'b' 변수를 호출하면 30가 출력됩니다.

간단한 예시를 하나만 들겠습니다.

In [ ]:
# 두 요소를 임포트 하겠습니다.
from test_module import test_print, b

print(test_print())
print(b)

Is it test?
30

여러 다른 모듈이 각각 가진 요소(클래스, 함수, 변수)를 임포트 할 경우에 요소의 이름이 동일하면 가장 마지막 줄에서 선언한 요소만 사용할 수 있습니다. 마지막 줄보다 전에 선언한 요소는 마지막 줄에서 선언한 요소에 의해 뒤로 밀려나므로 사용할 수 없습니다.

예컨대 `test_module1` 모듈의 `test_print` 함수를 선언하고, 그 다음 줄에서 `test_module2` 모듈의 `test_print` 함수를 선언하면, `test_module1` 모듈의 `test_print` 함수는 사용할 수 없습니다. `test_module2` 모듈의 `test_print` 함수만 사용할 수 있습니다.

참고로 요소를 임포트 할 때 별칭을 지정해서 사용할 수도 있습니다. 형식은 아래와 같습니다.

```
from test_module import test_print as tp
from test_module import test_num as tn

print(tp())
print(tn(6))
```

### **17.3.2. 모듈 바로 실행하기**

모듈을 임포트 하지 않고 바로 실행할 수 있습니다. `%run` 명령어를 사용하면 모듈을 바로 실행할 수 있습니다.

예시는 아래와 같습니다.

In [ ]:
%%writefile /content/gdrive/MyDrive/Python_for_Data_Analytics_Science/test_module.py

# 기존에 생성했던 `test_module` 모듈입니다.
def test_print():
    return 'Is it test?'

a = 15
b = 30

def test_num(c):
    return a + b * c

# 단 이 모듈은 메서드와 변수만 선언되었고 출력하는 메서드는 선언하지 않았습니다.
# 메서드가 바로 실행될 수 있도록 두 메서드를 추가합니다. 물론 테스트용입니다. 
print(test_print())
print(test_num(5))

Overwriting /content/gdrive/MyDrive/Python_for_Data_Analytics_Science/test_module.py

In [ ]:
%run /content/gdrive/MyDrive/Python_for_Data_Analytics_Science/test_module.py

Is it test?
165

모듈이 바로 실행됐습니다. 다만 위 모듈의 마지막 줄에 추가한 두 메서드는 테스트용이므로 실제 애플리케이션에서는 반드시 삭제해야 합니다.

물론 이 작업을 일일이 수행하지 않으면서 코드를 유지할 수 있는 방법이 있습니다. 모듈을 실제로 사용하는 경우와 테스트용으로 사용하는 경우를 구분지어서 필요에 따라 사용하도록 `if __name__ == "main__":` 형식을 붙입니다. 아래에서 이 형식을 사용해보겠습니다.

파이썬은 `__name__` 변수를 사용할 수 있습니다. 이 변수에 무엇이 들어있는지 확인하겠습니다.

In [ ]:
print(__name__)

__main__

`__main__`이 들어있습니다. 프로그래밍 언어에서 프로그램으로 진입하는 지점을 **엔트리 포인트(entry point)**라고 부릅니다. 출력된 결과처럼 **메인(main)**이라고 부르기도 합니다. 엔트리포인트 내부에서 `__name__`은 `__main__`인 것입니다.

엔트리포인트 내부가 아닌 모듈 내부에서 `__name__`은 무엇을 출력하는지 확인하겠습니다. `main` 모듈을 생성하겠습니다.

In [ ]:
%%writefile /content/gdrive/MyDrive/Python_for_Data_Analytics_Science/main.py

import test_module

print(__name__)

Overwriting /content/gdrive/MyDrive/Python_for_Data_Analytics_Science/main.py

`main` 모듈을 임포트 하겠습니다.

In [ ]:
import main

main

모듈명인 `main`이 들어있습니다. 모듈 내에 `__name__`을 선언하면 모듈명을 출력합니다.

이제 `if __name__ == "main__":` 형식을 사용해보겠습니다. 모듈에 이 형식을 추가하겠습니다.

In [ ]:
%%writefile /content/gdrive/MyDrive/Python_for_Data_Analytics_Science/test_module.py

def test_print():
    return 'Is it test?'

a = 15
b = 30

def test_num(c):
    return a + b * c

if __name__ == "__main__":
    print('모듈을 테스트합니다.')
    print(test_print())
    print(test_num(5))

Overwriting /content/gdrive/MyDrive/Python_for_Data_Analytics_Science/test_module.py

이제 다시 모듈을 바로 실행하겠습니다.

In [ ]:
%run /content/gdrive/MyDrive/Python_for_Data_Analytics_Science/test_module.py

모듈을 테스트합니다.
Is it test?
165

`%run` 명령어를 선언하여 모듈을 바로 실행했으므로 추가한 내용이 그대로 출력됐습니다.

이번에는 모듈을 임포트 하겠습니다.

In [ ]:
import test_module

아무것도 출력되지 않았습니다. `if __name__ == "main__":` 형식을 추가하였으므로 모듈을 임포트 해도 바로 실행되지 않습니다. `__name__` 객체가 모듈명인 `test_module`과 일치하지 않기 때문입니다. 즉, 현재 파일이 엔트리 포인트로 실행되는지 모듈로 실행되는지 여부를 알 수 있습니다.

엔트리 포인트로 실행하기 위해 새 모듈을 생성하겠습니다.

In [ ]:
%%writefile /content/gdrive/MyDrive/Python_for_Data_Analytics_Science/test_module_main.py

import test_module as tm

print(tm.test_print())
print(tm.a)
print(tm.b)
print(tm.test_num(5))

Overwriting /content/gdrive/MyDrive/Python_for_Data_Analytics_Science/test_module_main.py

새 모듈을 임포트 하겠습니다.

In [ ]:
import test_module_main

Is it test?
15
30
165

### **17.3.3. 모듈 임포트 후 실행하기**

모듈을 임포트 해서 실행하도록 구분하려면 위에서 추가한 if문에 `else` 조건을 추가합니다.

In [ ]:
%%writefile /content/gdrive/MyDrive/Python_for_Data_Analytics_Science/test_module.py

def test_print():
    return 'Is it test?'

a = 15
b = 30

def test_num(c):
    return a + b * c

if __name__ == "__main__":
    print('모듈을 테스트합니다.')
    print(test_print())
    print(test_num(5))
else:
    print('임포트 되었습니다. 모듈을 직접 실행합니다.')

Overwriting /content/gdrive/MyDrive/Python_for_Data_Analytics_Science/test_module.py

In [ ]:
%run /content/gdrive/MyDrive/Python_for_Data_Analytics_Science/test_module.py

모듈을 테스트합니다.
Is it test?
165

In [ ]:
import test_module

사실 모듈을 위 방식으로 임포트 하면 '임포트 되었습니다. 모듈을 직접 실행합니다.'가 출력되어야 하지만 출력되지 않았습니다. 해당 모듈을 한 번만이라도 선언하면 뒤에서 같은 모듈을 다시 선언해도 모듈의 수정된 내용을 반영하지 않습니다. '임포트 되었습니다. 모듈을 직접 실행합니다.'가 출력되게 하려면 모든 커널을 초기화하고 재시작해야 합니다.

# **18. 패키지**

여러 모듈을 한데 모아 놓은 것을 **패키지(pakage)**라고 부릅니다. 수많은 모듈을 모아서 패키지로 생성하면 코드를 효율적으로 다룰 수 있습니다.

아래는 `helicopter`라는 이름을 가진 패키지의 구조에 대한 예시입니다.

```
\--helicopter
   |   __init__.py
   |
   +---go
   |      go_up.py
   |      go_down.py
   |      go_right.py
   |      go_left.py
   |      __init__.py
   |
   +---stop
   |      take_off.py
   |      land.py
   |      __init__.py
   |
   \---inspect
          full_check.py
          part_check.py
          __init__.py
```

패키지인 `helicopter`는 폴더 형식으로 구성됩니다. 이 패키지(폴더)안에 여러 폴더와 파일(모듈)이 포함되어 있습니다. 먼저 `helicopter` 폴더에 `__init__.py` 파일이 들어있고, `go`, `stop`, `inspect` 폴더에 각각 다른 파일(모듈)과 `__init__.py` 파일이 들어있습니다.

각 폴더에 들어있는 `__init__.py` 파일은 패키지의 일부를 나타냅니다. 이 파일 안에 패키지 초기화 코드를 포함시킬 수도 있고 공백 파일로 형성할 수도 있습니다. 아울러 `__all__`이라는 이름을 가진 리스트를 포함시키는데, 이 리스트에 지정한 모듈들은 `from 패키지명 import *`로 모든 모듈을 임포트 할 때 전부 임포트 할 수 있도록 합니다. 아래 형식처럼 사용합니다.

```
__all__ = ['go_up', 'go_down', 'go_right', 'go_left', 'take_off', ..., 'part_check']

# 선택 사항으로써 출력 문자열을 지정할 수도 있습니다.
print('모든 패키지를 임포트 했습니다.')
```

`__init__.py` 파일은 파이썬 버전이 업그레이드되면서 불필요하게 된 파일이지만 하위 호환성을 고려하여 해당 파일을 꼭 생성하는 편이 현명합니다.

## **18.1. 패키지 생성하기**

위에서 예시한 `helicopter` 패키지를 생성하겠습니다. 먼저 구글 드라이브의 `/content/gdrive/MyDrive/Python_for_Data_Analytics_Science` 폴더에 `test_packages` 폴더를 생성하겠습니다.

In [ ]:
mkdir /content/gdrive/MyDrive/Python_for_Data_Analytics_Science/test_packages

mkdir: cannot create directory ‘/content/gdrive/MyDrive/Python_for_Data_Analytics_Science/test_packages’: File exists

`test_packages` 폴더 안에 `helicopter` 폴더를 생성하겠습니다.

In [ ]:
mkdir /content/gdrive/MyDrive/Python_for_Data_Analytics_Science/test_packages/helicopter

mkdir: cannot create directory ‘/content/gdrive/MyDrive/Python_for_Data_Analytics_Science/test_packages/helicopter’: File exists

이제 `helicopter` 폴더 안에 `__init__.py` 파일을 생성하겠습니다. 예시이므로 공백 파일로 생성하겠습니다. 아래에 주석으로 `#None`이라고 달아뒀습니다. 아무 내용도 넣지 않으면 매직 명령어가 작동하지 않습니다.

In [ ]:
%%writefile /content/gdrive/MyDrive/Python_for_Data_Analytics_Science/test_packages/helicopter/__init__.py
# None

Overwriting /content/gdrive/MyDrive/Python_for_Data_Analytics_Science/test_packages/helicopter/__init__.py

`helicopter` 폴더 안에 `go` 폴더를 만들고 `__init__.py` 파일을 생성하겠습니다. 이 파일 역시 공백 파일입니다.

In [ ]:
mkdir /content/gdrive/MyDrive/Python_for_Data_Analytics_Science/test_packages/helicopter/go

mkdir: cannot create directory ‘/content/gdrive/MyDrive/Python_for_Data_Analytics_Science/test_packages/helicopter/go’: File exists

In [ ]:
%%writefile /content/gdrive/MyDrive/Python_for_Data_Analytics_Science/test_packages/helicopter/go/__init__.py
# None

Overwriting /content/gdrive/MyDrive/Python_for_Data_Analytics_Science/test_packages/helicopter/go/__init__.py

이제 `go` 폴더 안에 파일을 만들겠습니다. `go_up.py` 파일과 `go_down.py` 파일만 만들겠습니다. 이 파일들은 `go` 폴더 안에 분류한 모듈입니다.

In [ ]:
%%writefile /content/gdrive/MyDrive/Python_for_Data_Analytics_Science/test_packages/helicopter/go/go_up.py

def go_up_fast():
    print('고도를 빠르게 올립니다.')

def go_up_slow():
    print('고도를 천천히 올립니다.')

Overwriting /content/gdrive/MyDrive/Python_for_Data_Analytics_Science/test_packages/helicopter/go/go_up.py

In [ ]:
%%writefile /content/gdrive/MyDrive/Python_for_Data_Analytics_Science/test_packages/helicopter/go/go_down.py

def go_down_fast():
    print('고도를 빠르게 내립니다.')

def go_down_slow():
    print('고도를 천천히 내립니다.')

Overwriting /content/gdrive/MyDrive/Python_for_Data_Analytics_Science/test_packages/helicopter/go/go_down.py

## **18.2. 패키지 사용하기**

패키지의 모듈, 클래스, 메서드, 함수를 호출하는 방법은 기존 방법과 같습니다. 폴더 내 모듈을 임포트 하려면 `import 패키지명.폴더명.모듈명` 형식으로 선언하면 됩니다. 마찬가지로 모듈 내 클래스를 호출하려면 `import 패키지명.폴더명.모듈명.클래스명`을 선언합니다.

아래에 몇 가지 예제를 들겠습니다. 먼저 `go_up` 모듈을 임포트 하고 두 메서드를 실행하겠습니다.

In [ ]:
import test_packages.helicopter.go.go_up

test_packages.helicopter.go.go_up.go_up_fast()
test_packages.helicopter.go.go_up.go_up_slow()

고도를 빠르게 올립니다.
고도를 천천히 올립니다.

메서드까지 접근하여 호출하는 코드가 매우 길게 늘어집니다. 이런 경우에는 `from 패키지명 또는 폴더명 import 임포트할 것` 형식으로 짧게 서술할 수 있습니다.

In [ ]:
from test_packages.helicopter.go import go_up

go_up.go_up_fast()

고도를 빠르게 올립니다.

메서드만 코드로 작성해서 호출하겠습니다.

In [ ]:
from test_packages.helicopter.go.go_up import go_up_fast
go_up_fast()

고도를 빠르게 올립니다.

모든 메서드를 호출하려면 `import *` 형식을 취합니다. 필요한 메서드만 호출하려면 `import 메서드명, 메서드명, ..., 메서드명` 형식을 취합니다.

In [ ]:
# 모든 메서드를 선언합니다.
from test_packages.helicopter.go.go_up import *

# 필요한 메서드만 선언합니다.
from test_packages.helicopter.go.go_up import go_up_fast, go_up_slow

참고로 모듈, 클래스, 메서드, 변수 모두 `as 별칭` 형식으로 별칭을 붙일 수 있습니다. 이는 위에서 다뤘던 내용이므로 생략하겠습니다.

# **연습문제 풀이**

* 리스트에 포함된 숫자들을 홀수와 짝수로 나누고 자릿수를 출력하세요.

```
<출력 결과>
홀수 1135는 4자릿수입니다.
홀수 223는 3자릿수입니다.
짝수 734는 3자릿수입니다.
짝수 112는 3자릿수입니다.
짝수 704는 3자릿수입니다.
짝수 98는 2자릿수입니다.
```

In [ ]:
# 제시문
list_of_numbers = [1135, 223, 734, 112, 704, 98]

In [ ]:
# 답안
for number in numbers:
    if number % 2 == 1:
        print(f'홀수 {number}는 {len(str(number))}자릿수입니다.')
    else:
        print(f'짝수 {number}는 {len(str(number))}자릿수입니다.')

홀수 1135는 4자릿수입니다.
홀수 223는 3자릿수입니다.
짝수 734는 3자릿수입니다.
짝수 112는 3자릿수입니다.
짝수 704는 3자릿수입니다.
짝수 98는 2자릿수입니다.



---

* 리스트에 포함된 숫자들을 세로로 출력하세요.

```
<출력 결과>
1
2
3
4
5
6
7
```

In [ ]:
# 제시문
list_of_lists = [
               [1, 2],
               [3, 4, 5],
               [6, 7]
]

In [ ]:
# 답안
for nums in list_of_lists:
    for num in nums:
        print(num)

1
2
3
4
5
6
7

---

* 리스트를 출력하세요.

```
<출력 결과>
[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]
```

In [ ]:
# 제시문
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
list_of_lists = [[], [], [], []]

In [ ]:
# 답안
for number in numbers:
    list_of_lists[(number + 3) % 4].append(number)

print(list_of_lists)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]



---

* 아래 출력 결과와 동일하게 출력하세요.

```
i = 0, j = 1
i = 1, j = 3
i = 2, j = 5
i = 3, j = 7
[1, 4, 3, 16, 5, 36, 7, 64, 9]
```

In [ ]:
# 제시문
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# 답안
for i in range(0, len(numbers) // 2):
    j = (i * 2) + 1
    print(f'i = {i}, j = {j}')
    numbers[j] = numbers[j] ** 2

print(numbers)

i = 0, j = 1
i = 1, j = 3
i = 2, j = 5
i = 3, j = 7
[1, 4, 3, 16, 5, 36, 7, 64, 9]



---

* 리스트에 포함된 딕셔너리에서 정보를 출력하세요.

```
<출력결과>
# 내가 좋아하는 게임 시리즈
1. 슈퍼마리오 시리즈(닌텐도)
2. 젤다의 전설 시리즈(닌텐도)
3. 소닉 시리즈(세가)
4. 삼국지 시리즈(코에이)
5. 스타크래프트 시리즈(블리자드)
```

In [ ]:
# 제시문
list_of_games = [
         {'name': '슈퍼마리오', 'brand': '닌텐도'},
         {'name': '젤다의 전설', 'brand': '닌텐도'},
         {'name': '소닉', 'brand': '세가'},
         {'name': '삼국지', 'brand': '코에이'},
         {'name': '스타크래프트', 'brand': '블리자드'}
]

In [ ]:
# 답안
print_order = 1

for games in list_of_games:
    print(f"{print_order}. {games['name']} 시리즈({games['brand']})")
    print_order += 1

1. 슈퍼마리오 시리즈(닌텐도)
2. 젤다의 전설 시리즈(닌텐도)
3. 소닉 시리즈(세가)
4. 삼국지 시리즈(코에이)
5. 스타크래프트 시리즈(블리자드)



---

* 리스트에 포함된 숫자의 개수를 딕셔너리 형식으로 출력하세요.

```
<출력 결과>
{1: 3, 2: 3, 3: 2, 4: 4, 5: 4, 7: 2, 9: 2, 8: 3}
```

In [ ]:
# 제시문
numbers = [1, 2, 3, 4, 5, 7, 9, 4, 5, 2, 3, 5, 4, 9, 8, 8, 8, 5, 1, 1, 4, 2, 7]
dict_numbers_count = {}

In [ ]:
# 답안
for number in numbers:
    if number in dict_numbers_count:
        dict_numbers_count[number] = dict_numbers_count[number] + 1
    else:
        dict_numbers_count[number] = 1

print(dict_numbers_count)

{1: 3, 2: 3, 3: 2, 4: 4, 5: 4, 7: 2, 9: 2, 8: 3}



---

* 아래 리스트가 몇 가지 숫자를 가지는지 구하는 프로그램을 생성하세요(1, 3, 5, 7이 사용되어 총 4개가 사용된 것입니다).

```
[1, 3, 5, 7, 1, 3, 5, 1, 7, 1, 3, 5]
```

<출력 결과>
```
숫자 종류는 총 4개입니다.
{1: 4, 3: 3, 5: 3, 7: 2}
```

In [40]:
# 답안 1
num_list = [1, 3, 5, 7, 1, 3, 5, 1, 7, 1, 3, 5]
num_count = {}

for num in num_list:
    if num in num_count:
        num_count[num] = num_count[num] + 1
    else:
        num_count[num] = 1
        
print(f'숫자 종류는 총 {len(num_count.keys())}개입니다.')
print(num_count)

숫자 종류는 총 4개입니다.
{1: 4, 3: 3, 5: 3, 7: 2}

In [41]:
# 답안 2
num_list = [1, 3, 5, 7, 1, 3, 5, 1, 7, 1, 3, 5]
num_count = {}

for num in num_list:
    if num not in num_count:
        num_count[num] = 0
    num_count[num] += 1
    
print(f'숫자 종류는 총 {len(num_count.keys())}개입니다.')
print(num_count)

숫자 종류는 총 4개입니다.
{1: 4, 3: 3, 5: 3, 7: 2}



---

* DNA는 A(아데닌), T(티민), G(구아닌), C(사이토신)이라는 요소로 구성됩니다. 염기 서열을 입력하면 아래처럼 각 요소의 개수를 출력하세요.

```
<출력 결과>
염기 서열을 입력하세요: ctacaatgtcagtatacccattgcattagccgg
* a 개수: 9개
* t 개수: 9개
* g 개수: 6개
* c 개수: 9개
```

In [43]:
dna = input('염기 서열을 입력하세요:')
element_count = {
    'a': 0,
    't': 0,
    'g': 0,
    'c': 0
    }

for element in dna:
    element_count[element] += 1

for key in element_count:
    print(f'* {key} 개수: {element_count[key]}개')

염기 서열을 입력하세요:ctacaatgtcagtatacccattgcattagccgg
* a 개수: 9개
* t 개수: 9개
* g 개수: 6개
* c 개수: 9개

* 이번에는 아래처럼 요소 개수를 출력하세요.

```
<출력 결과>
염기 서열을 입력하세요: ctacaatgtcagtatacccattgcattagccgg

cta
caa
tgt
cag
tat
acc
cat
tgc
att
agc
cgg

{'cta': 1, 'caa': 1, 'tgt': 1, 'cag':1, 'tat':1, 'acc': 1, 'cat': 1, 'tgc': 1, 'att': 1, 'agc': 1, 'cgg': 1}
```

In [53]:
dna = input('염기 서열을 입력하세요: ')
print()

for i in range(0, len(dna), 3):
    element = dna[i:i+3]
    if len(element) == 3:
        print(element)

print()

element_count = {}

for i in range(0, len(dna), 3):
    element = dna[i:i+3]
    if len(element) == 3:
        if element not in element_count:
            element_count[element] = 0
        element_count[element] += 1
print(element_count)

염기 서열을 입력하세요: ctacaatgtcagtatacccattgcattagccgg

cta
caa
tgt
cag
tat
acc
cat
tgc
att
agc
cgg

{'cta': 1, 'caa': 1, 'tgt': 1, 'cag': 1, 'tat': 1, 'acc': 1, 'cat': 1, 'tgc': 1, 'att': 1, 'agc': 1, 'cgg': 1}



---

* 중첩된 아래 리스트의 중첩을 제거하는 리스트 평탄화 작업을 수행하세요.

```
[1, 2, [3, 4, 5], 6, 7, [8, 9]]
```

```
<출력 결과>
[1, 2, 3, 4, 5, 6, 7, 8, 9]로 리스트 평탄화가 수행되었습니다.
```

In [61]:
input_list = [1, 2, [3, 4, 5], 6, 7, [8, 9]]
output_list = []

for i in input_list:
    if type(i) == list:
        for j in i:
            output_list.append(j)
    else:
        output_list.append(i)

print(f'{output_list}로 리스트 평탄화가 수행되었습니다.')

[1, 2, 3, 4, 5, 6, 7, 8, 9]로 리스트 평탄화가 수행되었습니다.



---

* 딕셔너리에 포함된 내용을 아래 형식으로 출력하세요.

```
<출력 결과>
* name: mj-1000
* P-day: 2021-8-14
* price: 15000
* bar: aluminum
* tongs: steel
* use: home
* use: craft
* use: industrial
```

In [ ]:
# 제시문
our_product = {
    'name': 'mj-1000',
    'P-day': '2021-8-14',
    'price': 15000,
    'component':{
        'bar': 'aluminum',
        'tongs': 'steel'
        },
    'use': ['home', 'craft', 'industrial']
    }

In [ ]:
# 답안
for key in our_product:
    if type(our_product[key]) == str:
        print(f'* {key}: {our_product[key]}')
    elif type(our_product[key]) == int:
        print(f'* {key}: {our_product[key]}')
    elif type(our_product[key]) == dict:
        for inner_key in our_product[key]:
            print(f'* {inner_key}: {our_product[key][inner_key]}')
    elif type(our_product[key]) == list:
        for inner_key in our_product[key]:
            print(f'* {key}: {inner_key}')

* name: mj-1000
* P-day: 2021-8-14
* price: 15000
* bar: aluminum
* tongs: steel
* use: home
* use: craft
* use: industrial



---

* 아래 출력 결과처럼 피라미드 반쪽면 생성하세요.

```
*
**
***
****
*****
******
*******
********
*********
```

In [ ]:
# 답안 1
output = ''

for i in range(1, 10):
    for j in range(0, i):
        output += '*'
    output += '\n'
print(output)

*
**
***
****
*****
******
*******
********
*********

In [ ]:
# 답안 2
output = ''

for i in range(1, 10):
    output += ('*' * i)
    output += '\n'
print(output)

*
**
***
****
*****
******
*******
********
*********

* 아래 출력 결과처럼 피라미드를 생성하세요.

```
              *
             ***
            *****
           *******
          *********
         ***********
        *************
       ***************
      *****************
     *******************
    *********************
   ***********************
  *************************
 ***************************
```

In [ ]:
# 답안
output = ''

for i in range(1, 15):
    for j in range(14, i, -1):
        output += ' '
    for k in range(0, 2 * i - 1):
        output += '*'
    output += '\n'
print(output)

             *
            ***
           *****
          *******
         *********
        ***********
       *************
      ***************
     *****************
    *******************
   *********************
  ***********************
 *************************
***************************



---

* 두 리스트를 사용하여 새로운 딕셔너리를 만들고 아래처럼 출력하세요. 첫 번째 리스트는 키를 의미하고, 두 번째 리스트는 값을 의미합니다.

```
<출력 결과>
{'theme': 'health', 'date': '2021-12-24', 'grade': 'A', 'price': 25000}
```

In [ ]:
# 제시문
list_of_keys = ['theme', 'date', 'grade', 'price']
list_of_values = ['health', '2021-12-24', 'A', 25000]
book = {}

In [ ]:
# 답안
for i in range(0, len(list_of_keys)):
    book[list_of_keys[i]] = list_of_values[i]

print(book)

{'theme': 'health', 'date': '2021-12-24', 'grade': 'A', 'price': 25000}



---

* 1부터 숫자를 하나씩 차례로 더하면 아래와 같습니다.

$$1$$

$$1 + 2 = 3$$

$$1 + 2 + 3 = 6$$

$$\vdots$$

$$1 + 2 + \cdots + 174 = 15051$$

출력 결과는 아래와 같습니다. 

```
<출력 결과>
174까지 더하면 15000을 넘습니다. 모두 더한 값은 15051입니다.
```

위와 같은 출력 결과를 도출하기 위해 while문을 사용하여 코드를 작성하세요.

In [ ]:
# 제시문
goal_num = 15000
i = 1
sum_num = 0

In [ ]:
# 답안
while sum_num < goal_num:    # 더한 값이 넘어야 할 목푯값보다 작으면 반복합니다.
    sum_num += i    # 더한 값에 더할 값을 더해 나갑니다.
    i += 1    # 더할 값을 1씩 증가시킵니다.

print(f'{i}까지 더하면 {goal_num}을 넘습니다. 모두 더한 값은 {sum_num}입니다.')

174까지 더하면 15000을 넘습니다. 모두 더한 값은 15051입니다.



---

* 1 ~ 1300까지 숫자 중에 두 수를 곱해서 최댓값이 되는 경우를 코드로 구현하세요. 출력 결과는 아래와 같습니다.

```
650와 650를 곱하면 최댓값 422500가 도출됩니다.
```

In [ ]:
# 제시문
max_num = 0
a = 0
b = 0

In [ ]:
# 답안
for num_1 in range(1, 1300 // 2 + 1):
    num_2 = 1300 - num_1
    multiplied_num = num_1 * num_2
    if max_num < multiplied_num:
        a = num_1
        b = num_2
        max_num = multiplied_num

print(f'{a}와 {b}를 곱하면 최댓값 {max_num}가 도출됩니다.')

650와 650를 곱하면 최댓값 422500가 도출됩니다.



---

* 200 ~ 500 사이에 있는 숫자 중에 8진수로 변환하면 7이 두 개씩 포함된 숫자를 찾고, 그 숫자들의 총합을 구하여 10진수로 출력하세요(2진수: `{:b}`, 8진수: `{:o}`, 16진수: `{:x}`).

```
<출력 결과>
* 255: 377
* 319: 477
* 383: 577
* 447: 677
* 455: 707
* 463: 717
* 471: 727
* 479: 737
* 487: 747
* 495: 757
* total sum: 4254
```

In [ ]:
# 답안
pick_num = [n for n in range(200, 501) if '{:o}'.format(n).count('7') == 2]

for n in pick_num:
    print('* {}: {}'.format(n, '{:o}'.format(n)))
    
print(f'* total sum: {sum(output)}')

* 255: 377
* 319: 477
* 383: 577
* 447: 677
* 455: 707
* 463: 717
* 471: 727
* 479: 737
* 487: 747
* 495: 757
* total sum: 4254



---

* 중첩된 리스트 `test_list`를 1차원으로 펼치는 함수를 재귀 함수로 선언하세요. 중첩된 리스트를 펼치는 작업을 평탄화(flatten)라고 합니다.

```
<출력 결과>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
```

In [ ]:
# 제시문
test_list = [[1, 2], 3, 4, [5, 6, [7, 8], [9, 10, 11, 12]]]

In [ ]:
# 답안
def flatten_list(list_input):
    added_list = []
    for element in list_input:
        if type(element) == list:
            added_list += flatten_list(element)
        else:
            added_list.append(element)
    return added_list

In [ ]:
flatten_list(test_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]



---

* 아래 출력 결과와 동일하게 출력하세요. 단, `join()` 함수를 필수로 사용하세요.

```
<출력 결과>
1 - 2 - 3 - 4 - 5 - 6 - 7 - 8
```

In [ ]:
# 제시문
nums = [1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# 답안
bar = ' - '
print(bar.join(map(str, nums)))

1 - 2 - 3 - 4 - 5 - 6 - 7 - 8



---

* 각 문제에서 요구하는 수를 추출하세요.

In [ ]:
# 제시문
nums = list(range(1, 101))

* 짝수만 추출하세요.

In [ ]:
print(list(filter(lambda x: x % 2 == 0, nums)))
print()

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

* 10이상 21미만의 수를 추출하세요.

In [ ]:
# 답안
print(list(filter(lambda x: 10 <= x < 21, nums)))
print()

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

* 세제곱해서 1000미만인 수를 출력하세요.

In [ ]:
# 답안
print(list(filter(lambda x: x**3 < 1000, nums)))
print()

[1, 2, 3, 4, 5, 6, 7, 8, 9]



---