<a href="https://colab.research.google.com/github/LeeSeungwon89/Python_for_Data_Analytics_Science/blob/main/1.%20%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%A5%BC%20%EB%8B%A4%EB%A3%A8%EA%B8%B0%20%EC%9C%84%ED%95%9C%20%ED%8C%8C%EC%9D%B4%EC%8D%AC%20%EA%B8%B0%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. 연산자 기호**

## **1.1. 몫**

몫은 '//'를 사용하여 구합니다.

In [1]:
11 // 5

2

## **1.2. 나머지**

나머지는 '%'를 사용하여 구합니다.

In [2]:
11 % 5

1

## **1.3. 함수로 몫과 나머지 구하기**

In [3]:
divmod(11, 5)

(2, 1)

# **2. 과학적인 표기법**

매우 큰 수나 작은 수를 다루려면 10의 거듭제곱을 나타내는 'e$n$'으로 입력할 수 있습니다. '$n$'은 정수이며 양수, 음수, 0 모두 가능합니다.

$4 \times 10^7$

In [4]:
4e7

40000000.0

$2 \times 10^{15}$

In [5]:
2e15

2000000000000000.0

10의 15승까지 숫자로 표시됩니다.

$6 \times 10^{16}$

In [6]:
6e16

6e+16

10의 16승부터 과학적인 표기법으로 표시됩니다.

$6 \times 10^{17}$

In [7]:
6e17

6e+17

$4 \times 10^{-1}$

In [8]:
4e-1

0.4

$4 \times 10^{-4}$

In [9]:
4e-4

0.0004

10의 -4승까지 숫자로 표시됩니다.

$4 \times 10^{-5}$

In [10]:
4e-5

4e-05

10의 -5승부터는 과학적인 표기법으로 표시됩니다.

$4 \times 10^{-6}$

In [11]:
4e-6

4e-06

# **3. 진법과 진수**

파이썬은 10진법 외에 2진법, 8진법, 16진법을 지원합니다. 16진법은 {0 ~ 9, a, b, c, d, e, f}로 표현됩니다.

2진수를 입력하려면 '0b', 8진수를 입력하려면 '0o', 16진수를 입력하려면 '0x'를 숫자 앞에 붙입니다.

간단하게 17을 예로 들겠습니다. 해당하는 진법의 함수도 포함합니다.

10진법

In [12]:
17

17

2진법

In [13]:
0b10001

17

In [14]:
bin(17)

'0b10001'

8진법

In [15]:
0o21

17

In [16]:
oct(17)

'0o21'

16진법

In [17]:
0x11

17

In [18]:
hex(17)

'0x11'

참고로 함수로 출력된 결과는 문자열이므로 산술 연산에 적용되지 않습니다.

# **4. 변수명 생성 규칙**

변수명을 지정할 때는 규칙을 잘 지켜야 합니다.

간과할 수 있는 규칙은 아래와 같습니다.

- 문자, 숫자, 언더라인(_)을 사용합니다. 다만 보통의 경우는 언더라인으로 시작하는 변수명은 지정할 수는 있지만 일반적으로 구성하지 않습니다. 

- 숫자로 시작하는 변수명은 가능하지 않습니다.   
예컨대 '2apple'은 불가능합니다.

- 밑줄이 아닌 기호는 변수명에 들어갈 수 없습니다.   
예컨대 'apple&', 'bana@na', '$peach' 같은 기호들입니다.

- 예약어는 변수명으로 사용할 수 없습니다. 예약어란 `True`, `False`, `def`, `if`, `for`처럼 이미 지정되어 코딩에 쓰이는 표현을 의미합니다.   
예컨대 `if = 4 + 3`으로 지정하면 에러가 납니다.

# **5. 문자열**

문자열에 큰따옴표(")와 작은따옴표(') 모두를 포함하거나, 여러 행의 문자열을 나열하거나, 문자열을 입력한 상태 그대로 출력하려면 문자열 전체를 큰따옴표 세 개나 작은따옴표 세 개로 감쌉니다.

In [19]:
string = '''문자열에 큰따옴표(")와 작은따옴표(') 모두를 포함하거나,
여러 행의 문장을 나열하거나,
문장을 입력한 상태 그대로 출력하려면
문자열 전체를 큰따옴표 세 개나 작은따옴표 세 개로 감쌉니다.'''
print(string)

문자열에 큰따옴표(")와 작은따옴표(') 모두를 포함하거나,
여러 행의 문장을 나열하거나,
문장을 입력한 상태 그대로 출력하려면
문자열 전체를 큰따옴표 세 개나 작은따옴표 세 개로 감쌉니다.

## **5.1. 부분 문자열로 나누기**

기존 문자열을 부분으로 나눠서 리스트화하려면 `split()` 함수를 사용합니다.

In [20]:
colors = 'red, blue, yellow, pink'
colors.split()

['red,', 'blue,', 'yellow,', 'pink']

변수에 할당하지 않고 바로 전달해도 됩니다.

In [21]:
'red, blue, yellow, pink'.split()

['red,', 'blue,', 'yellow,', 'pink']

'red,'처럼 쉼표(,)까지 하나의 부분으로 처리됐습니다. 여기에서 `split()` 함수에 `sep` 매개변수를 `','`로 지정하면 쉼표는 제외하고 처리합니다. `sep` 매개변수의 sep는 seperator(구분자)의 약자입니다. 참고로 `sep`를 생략하고 `','`만 지정한 `split(',')`도 가능합니다.

In [22]:
colors.split(sep=',')

['red', ' blue', ' yellow', ' pink']

공백으로 구분된 경우에도 적용할 수 있습니다. 인자를 `' '`로 지정해도 되고 안 해도 괜찮습니다. 다만 한 칸 공백이 아닌 모든 종류의 공백의 경우는 인자로 아무것도 지정하지 않아야 합니다.

In [23]:
colors_blank = 'red blue yellow pink'
colors_blank.split()

['red', 'blue', 'yellow', 'pink']

In [24]:
colors_blank_f = 'red   blue  yellow \n pink   \n\n\n'
colors_blank.split()

['red', 'blue', 'yellow', 'pink']

`maxsplit` 매개변수에 값을 지정해서 원하는 만큼 분리할 수 있습니다.

In [25]:
colors = 'red blue yellow pink'
print(colors.split(maxsplit=1))
print(colors.split(maxsplit=2))

['red', 'blue yellow pink']
['red', 'blue', 'yellow pink']

`maxsplit` 매개변수와 `sep` 매개변수에 값을 지정하면 전화번호를 분리하는 데 유용합니다.

In [26]:
p_num = '+82-031-1234-5678'
split_p_num = p_num.split('-')
print("'-' 사용:", split_p_num)
split_p_num = p_num.split('-', maxsplit=1)
print("'-'와 maxsplit=1 사용:", split_p_num)
print('집 전화번호: {}'.format(split_p_num[1]))

'-' 사용: ['+82', '031', '1234', '5678']
'-'와 maxsplit=1 사용: ['+82', '031-1234-5678']
집 전화번호: 031-1234-5678

## **5.2. 문자열 삭제하기**

[링크 텍스트](https://)앞과 뒤 공백이나 개행열을 삭제하려면 `strip()` 함수를 사용합니다. 'strip'의 사전적 의미는 '벗겨내기'이므로, 이 함수는 앞뒤의 바깥 원소부터 하나씩 삭제합니다.

아래 예시로 설명을 이어갑니다.

함수 안에 삭제하려는 문자를 넣습니다. 그러면 앞뒤의 모든 해당 문자를 삭제합니다.

In [27]:
strip1 = 'gggabcdefgggggggg' 
strip1.strip('g')

'abcdef'

다만 아래와 같은 형태는 앞의 'g'만 삭제합니다. 뒤에 'h'가 있으므로 'g'까지 접근하지 못합니다.

In [28]:
strip2 = 'gggabcdefgggggggghh'
strip2.strip('g')

'abcdefgggggggghh'

이 상황에서는 'h'를 삭제하고 'g'를 삭제하면 됩니다.

In [29]:
strip2 = 'gggabcdefgggggggghh'
# 순서는 무관합니다.
print(strip2.strip('gh'))
print(strip2.strip('hg'))

abcdef
abcdef

'f'만 남기겠습니다. 'f'까지 접근하려면 'f' 주변의 모든 원소를 하나씩 `strip()` 함수에 포함시켜야 합니다.

In [30]:
strip3 = '!@#$%gggabc   !@#$%defggg gggg     ghh  \n'
# '\n'을 제외하고 벗겨내면 앞만 벗겨내고 뒤는 벗겨내지 못합니다.
print(strip3.strip('@$#%!badcegh '))
# '\n'을 포함시키면 뒤까지 벗겨냅니다.
print(strip3.strip('@$#%!badcegh \n'))

fggg gggg     ghh

f

공백과 개행문자(\n)를 제거하려면 `strip()` 함수 내에 값을 생략해도 됩니다.

In [31]:
strip4 = '  apple\n  \n\n'
strip4.strip()

'apple'

참고로 `lstrip()` 함수는 문자열 왼쪽, `rstrip()` 함수는 문자열 오른쪽을 삭제합니다. 예시는 생략합니다.

`split()` 함수와 `strip()` 함수를 함께 사용해서 앞 뒤 공백이 불규칙적으로 배열된 원소들의 리스트를 정돈하겠습니다.

In [32]:
fruits = '  apple, banana  ,   grape   ,  strawberry, pear   '
fruits_list = fruits.split(',')
print(fruits_list)

['  apple', ' banana  ', '   grape   ', '  strawberry', ' pear   ']

In [33]:
fruits_list_fin = []

for fruits in fruits_list:
    fruits_strip = fruits.strip()
    # `append()` 함수는 오른쪽(마지막)에 원소를 추가하는 함수입니다.
    # 자세한 설명은 리스트 파트에서 정리합니다.
    fruits_list_fin.append(fruits_strip)

print(fruits_list_fin)

['apple', 'banana', 'grape', 'strawberry', 'pear']

## **5.3. 문자열 연결하기**

문자열을 연결하는 방법은 '+' 연산자를 사용하는 방법과 `join()` 함수를 사용하는 방법이 있습니다.

먼저 '+' 연산자를 사용하는 방법에 대한 예시입니다.

In [34]:
 fruits = ['apple', 'banana', 'grape', 'strawberry', 'pear']
 favorite = '는 내가 제일 좋아하는 과일이지.'
 print(fruits[3] + favorite)

strawberry는 내가 제일 좋아하는 과일이지.

`join()` 함수를 사용하면 리스트의 모든 원소를 연결할 수 있습니다.

In [35]:
favorites = '를 좋아하고, '
favorites.join(fruits)

'apple를 좋아하고, banana를 좋아하고, grape를 좋아하고, strawberry를 좋아하고, pear'

마지막 원소에는 '를 좋아하고, '라는 문자열이 연결되지 않았습니다. 마지막 원소이므로 다음 원소를 이을 필요가 없습니다. 문장을 마무리하기 위해 '+' 연산자를 사용하여 '를 좋아하지.'를 연결하겠습니다.

In [36]:
 favorites.join(fruits) + '를 좋아하지.'

'apple를 좋아하고, banana를 좋아하고, grape를 좋아하고, strawberry를 좋아하고, pear를 좋아하지.'

`join()` 함수와 관련된 몇 가지 예를 더 들겠습니다.

In [37]:
loc = ['경기도', '성남시', '분당구', '정자일로']
blank = ' '
print(blank.join(loc))
print(' '.join(loc))

경기도 성남시 분당구 정자일로
경기도 성남시 분당구 정자일로

## **5.4. 문자열 검색하기**

`find()` 함수를 사용하여 지정한 문자열과 일치하는 처음 문자열의 시작 위치를 알 수 있습니다.

In [38]:
string_love = 'I love you. You love me. Wow!'
print('I의 처음 위치:', string_love.find('I'))
print('공백의 처음 위치:', string_love.find(' '))
print('l의 처음 위치:', string_love.find('l'))
print('lo의 처음 위치:', string_love.find('lo'))
# 처음 발견하는 'o'의 위치를 반환합니다.
print('o의 처음 위치:', string_love.find('o'))
print('y의 처음 위치:', string_love.find('y'))
print('you의 처음 위치:', string_love.find('you'))

I의 처음 위치: 0
공백의 처음 위치: 1
l의 처음 위치: 2
lo의 처음 위치: 2
o의 처음 위치: 3
y의 처음 위치: 7
you의 처음 위치: 7

검색 범위의 시작 위치와 끝 위치를 지정할 수도 있습니다. 끝 위치 - 1까지 검색하며, 단어 검색에 실패하면 -1을 반환합니다.

In [39]:
string_love = 'I love you. You love me. Wow!'
print("7 ~ 49 중에 첫 'love'의 위치는?", string_love.find('love', 7, 50))
print("0 ~ 49 중에 첫 'love'의 위치는?", string_love.find('love', 0, 50))
# 끝 위치를 생략하거나 '-1'을 지정하면 문자열 끝의 위치를 의미합니다.
print("7 ~ 끝 중에 첫 'love'의 위치는?", string_love.find('love', 7))
print("7 ~ 끝(-1) 중에 첫 'love'의 위치는?", string_love.find('love', 7, -1))
# 아무것도 찾지 못하면 -1을 반환합니다.
print("못 찾았군요?", string_love.find('love', 17))

7 ~ 49 중에 첫 'love'의 위치는? 16
0 ~ 49 중에 첫 'love'의 위치는? 2
7 ~ 끝 중에 첫 'love'의 위치는? 16
7 ~ 끝(-1) 중에 첫 'love'의 위치는? 16
못 찾았군요? -1

문자열에서 검색 대상인 문자열의 등장 횟수는 `count()` 함수로 출력할 수 있습니다. 이 함수 역시 검색 범위의 시작 위치와 끝 위치를 지정할 수 있습니다.

In [40]:
string_love = 'I love you. You love me. Wow!'
print("'love'의 개수는 몇 개?", string_love.count('love'))
print("'love'의 개수는 몇 개?", string_love.count('love', 3))
print("'o'의 개수는 몇 개?", string_love.count('o'))
print("'o'의 개수는 몇 개?", string_love.count('o', 5, 10))
print("'e'의 개수는 몇 개?", string_love.count('e', 23))

'love'의 개수는 몇 개? 2
'love'의 개수는 몇 개? 1
'o'의 개수는 몇 개? 5
'o'의 개수는 몇 개? 1
'e'의 개수는 몇 개? 0

`startswith()` 함수와 `endswith()` 함수로 각각 시작과 끝의 문자열이 지정한 문자열과 같은지 True와 False로 알 수 있습니다.

In [41]:
string_love = 'I love you. You love me. Wow!'
print("'I'로 시작?", string_love.startswith('I'))
print("'love'로 시작?", string_love.startswith('Iove'))
print("'!'로 끝?", string_love.endswith('!'))
print("' '로 끝?", string_love.endswith(' '))

'I'로 시작? True
'love'로 시작? False
'!'로 끝? True
' '로 끝? False

## **5.5. 문자열 변경하기**

`replace()` 함수로 지정한 문자열로 변경할 수 있습니다.

형식은 아래와 같습니다.

`문자열.replace('바꿀 문자열', '새로운 문자열'[, 횟수])`

여기에서 횟수는 생략할 수 있습니다.

In [42]:
string_love1 = 'I love you. You love me. We love you. What?'
print(string_love1.replace('love', 'hate'))
print(string_love1.replace('love', 'hate', 2))

I hate you. You hate me. We hate you. What?
I hate you. You hate me. We love you. What?

문자열을 삭제할 때도 `replace()` 함수를 활용할 수 있습니다.

In [43]:
string_love_del = '-I; -love; -you.;'

string_love_del1 = string_love_del.replace('-', '')
print("'-'를 제거하면:", string_love_del1)

string_love_del2 = string_love_del1.replace(';', '')
print("';'를 제거하면:", string_love_del2)

'-'를 제거하면: I; love; you.;
';'를 제거하면: I love you.

대소문자로 바꾸려면 각각 `upper()` 함수와 `lower()` 함수를 사용합니다.

In [44]:
print(string_love.upper())
print(string_love.lower())

I LOVE YOU. YOU LOVE ME. WOW!
i love you. you love me. wow!

## **5.6. 문자열 확인하기**

문자열의 구성 요소를 확인하는 방법에 대해 설명합니다. 

아래는 관련된 함수의 목록입니다. 모든 형식은 `문자열.함수`입니다.

- `isdigit()`: 숫자로만 구성되었는지 여부를 확인합니다.

- `isalnum()`: 문자와 숫자로만 구성되었는지 여부를 확인합니다. 특수 문자나 공백이 포함되면 False입니다.

- `isalpha()`: 문자로만 구성되었는지 여부를 확인합니다.

- `isupper()`, `islower()`: 로마자 대문자, 로마자 소문자로만 구성되었는지 여부를 확인합니다.

- `isspace()`: 공백으로만 구성되었는지 여부를 확인합니다.

몇 가지 예시를 듭니다.

In [45]:
print("'love'는 숫자로만 구성되었는가?", 'love'.isdigit())
print("'love'는 문자로만 구성되었는가?",'love'.isalpha())
print("'love'는 대문자로만 구성되었는가?",'love'.isupper())
print("'love'는 소문자로만 구성되었는가?",'love'.islower())
print("'love'는 문자와 숫자로만 구성되었는가?", 'love'.isalnum())
print("'My love'는 문자와 숫자로만 구성되었는가?", 'My love'.isalnum())
print("'My love!!'는 문자와 숫자로만 구성되었는가?", 'My love!!'.isalnum())

'love'는 숫자로만 구성되었는가? False
'love'는 문자로만 구성되었는가? True
'love'는 대문자로만 구성되었는가? False
'love'는 소문자로만 구성되었는가? True
'love'는 문자와 숫자로만 구성되었는가? True
'My love'는 문자와 숫자로만 구성되었는가? False
'My love!!'는 문자와 숫자로만 구성되었는가? False

# **6. 리스트**

## **6.1. 인덱싱**

리스트에서 인덱스의 범위를 지정해서 항목 일부만 가져오는 방법을 설명하겠습니다. 

```
리스트[start:end]
리스트[start:end:step]
```   

파이썬은 숫자 1이 아닌 숫자 0을 지정하면 첫 번째 원소부터 가져옵니다. 따라서 start부터 end-1까지 원소를 가져오게 됩니다. start를 생략하면 0으로 간주하고, end를 생략하면 마지막 숫자로 간주합니다. 추가로 step를 지정하면 증가하는 정도(지정한 숫자)만큼 건너뛰면서 원소를 가져옵니다. 음수로 지정하면 역순으로 가져옵니다.

In [46]:
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print('a[0:4]:', a[0:4])
print('a[3:9]:', a[3:9])
print('a[:5]:', a[:5])
print('a[5:]:', a[5:])
print('a[::2]:', a[::2])
print('a[::3]:', a[::3])
print('a[::-1]:', a[::-1])
print('a[6::-1]:', a[6::-1])
print('a[:5:-1]:', a[:5:-1])

a[0:4]: [0, 1, 2, 3]
a[3:9]: [3, 4, 5, 6, 7, 8]
a[:5]: [0, 1, 2, 3, 4]
a[5:]: [5, 6, 7, 8, 9]
a[::2]: [0, 2, 4, 6, 8]
a[::3]: [0, 3, 6, 9]
a[::-1]: [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
a[6::-1]: [6, 5, 4, 3, 2, 1, 0]
a[:5:-1]: [9, 8, 7, 6]

## **6.2. 원소 삭제하기**

인덱스가 i인 원소를 제거하려면 `del 리스트명[i]`를 코딩합니다.

In [47]:
del a[4]
print(a)

[0, 1, 2, 3, 5, 6, 7, 8, 9]

## **6.3. 원소 존재 여부 확인하기**

리스트에 원소가 존재하는지 여부를 확인하려면 `원소 in 리스트명`을 코딩합니다. 원소가 존재하면 True, 존재하지 않으면 False입니다.

In [48]:
b = [0, 1, 2, 3]
print('3?', 3 in b)
print('4?', 4 in b)

3? True
4? False

## **6.4. 리스트 함수 적용하기**

리스트와 관련된 함수를 설명합니다. 리스트에 추가, 삽입, 삭제, 반환, 정렬을 수행할 수 있습니다.

아래는 함수 목록입니다.

- `append()`: 원소 하나를 마지막에 추가합니다. `리스트.append('원소명')` 형식입니다.

- `extend()`: 원소 여러 개를 마지막에 추가합니다. `리스트.extend('원소명', '원소명', ...)` 형식입니다.

- `insert()`: 특정 위치에 원소를 삽입합니다. `리스트.insert(삽입 위치, '원소명')` 형식입니다.

- `remove()`: 입력값과 일치하는 첫 원소를 삭제합니다. `리스트.remove('원소명')` 형식입니다.

- `pop()`: 마지막 원소를 제거하고 반환합니다. `리스트.pop()` 형식입니다.

- `index()`: 인자와 일치하는 처음 원소의 위치를 반환합니다. `객체명 = 리스트.index('원소명')` 형식입니다.

- `count()`: 인자와 일치하는 원소의 개수를 반환합니다. `객체명 = 리스트.count('원소명')` 형식입니다.

- `sort()`: 원소를 순방향으로 정렬합니다. `리스트.sort()` 형식입니다.

- `reverse()`: 원소를 역순으로 정렬합니다. `리스트.reverse()` 형식입니다.

`append()` 함수의 예시입니다.

In [49]:
fruits = ['apple', 'banana', 'peach', 'grape']
print(fruits)
fruits.append('pear')
print("fruits.append('pear'):", fruits)

['apple', 'banana', 'peach', 'grape']
fruits.append('pear'): ['apple', 'banana', 'peach', 'grape', 'pear']

`extend()` 함수의 예시입니다.

In [50]:
fruits = ['apple', 'banana', 'peach', 'grape']
print(fruits)
# 리스트로 묶어서 지정해야 합니다.
fruits.extend(['pear', 'strawberry'])
print("fruits.extend(['pear', 'strawberry']):", fruits)

['apple', 'banana', 'peach', 'grape']
fruits.extend(['pear', 'strawberry']): ['apple', 'banana', 'peach', 'grape', 'pear', 'strawberry']

`insert()` 함수의 예시입니다.

In [51]:
fruits = ['apple', 'banana', 'peach', 'grape']
print(fruits)
fruits.insert(0, 'pear')
print("fruits.insert(0, 'pear')", fruits)

['apple', 'banana', 'peach', 'grape']
fruits.insert(0, 'pear') ['pear', 'apple', 'banana', 'peach', 'grape']

`index()` 함수와 `count()` 함수의 예시입니다.

In [52]:
fruits_index = fruits.index('peach')
print("fruits.index('peach'):", fruits_index)
fruits_count = fruits.count('peach')
print("fruits.count('peach'):", fruits_count)

fruits.index('peach'): 3
fruits.count('peach'): 1

# **7. 튜플**

튜플은 리스트와 비슷하지만 차이점이 하나 있습니다. 튜플은 한 번 생성하면 추가, 삭제, 변경할 수 없습니다. 따라서 리스트에서 사용하는 함수 중에 원소를 추가, 삭제, 변경하지 않는 함수만 사용할 수 있습니다. 즉 `index()`, `count()` 함수를 사용할 수 있습니다.

## **7.1. 원소가 하나인 튜플 생성하기**

원소(인자)를 하나만 가진 튜플을 생성하는 방법을 설명합니다. 튜플이 원소를 하나만 가지려면 원소를 입력하고 뒤에 ','를 붙여야 합니다.

In [53]:
tuple1 = (16,)
print(tuple1)
tuple2 = 16,
print(tuple2)

(16,)
(16,)

# **8. 세트**

세트는 수학의 집합 개념을 실현할 목적으로 만들었습니다. 리스트와 튜플과 유사하며, 리스트에서 쓰이는 함수를 적용할 수 있습니다. 차이점이라면 데이터에 순서가 존재하지 않고 데이터가 중복될 수 없습니다. 아울러 집합과 관련된 개념인 합집합, 차집합, 교집합을 구하는 함수를 사용할 수 있습니다.

## **8.1. 데이터 중복 불가**

세트에는 데이터가 중복될 수 없습니다.

In [54]:
set_1 = {0, 1, 2, 3}
print(set_1)
set_2 = {0, 0, 1, 1, 2, 3}
print(set_2)

{0, 1, 2, 3}
{0, 1, 2, 3}

## **8.2. 집합 관련 함수 적용하기**

세트1(set1)과 세트2(set2)가 존재한다고 가정하겠습니다.

아래는 집합 관련 함수 목록입니다. 형식은 `set1.함수(set2)`입니다.

- `union()`: 합집합

- `difference()`: 차집합

- `intersection()`: 교집합

`intersection()` 함수만 예시합니다. 모든 함수는 형식이 같습니다.

In [55]:
set1 = {0, 1, 2, 3, 4, 5}
set2 = {0, 2, 4, 6}
set1.intersection(set2)

{0, 2, 4}

## **8.3. 연산자를 이용하여 집합 구하기**

함수가 아닌 연산자만으로 각 집합을 구할 수 있습니다. 합집합은 '|'로, 차집합은 '-'로, 교집합은 '&'로 구합니다.

합집합에 대한 예시입니다.

In [56]:
set1 | set2

{0, 1, 2, 3, 4, 5, 6}

## **8.4. 타입 변환하기**

리스트와 튜플과 세트는 각 타입을 변환할 수 있습니다. 다만 함수를 적용했을 때 기존 타입이 변하지는 않습니다. 변환 타입을 유지하려면 따로 객체에 지정해야 합니다.

아래는 변환할 타입에 대한 함수 목록입니다.

- `객체명 = list(변환 대상)`: 리스트로 변환합니다.

- `객체명 = tuple(변환 대상)`: 튜플로 변환합니다.

- `객체명 = set(변환 대상)`: 세트로 변환합니다.

In [57]:
type(set1)

set

In [58]:
list(set1)

[0, 1, 2, 3, 4, 5]

In [59]:
type(set1)

set

세트 타입을 리스트 함수를 사용해서 리스트로 출력했지만 여전히 'set1'은 세트 타입입니다.

리스트 타입으로 유지하려면 객체를 따로 생성해서 출력값을 옮겨야 합니다.

In [60]:
set_to_list = list(set1)
type(set_to_list)

list

# **9. 딕셔너리**

일반 사전은 표제어와 설명이 한 짝으로 구성되며, 표제어를 찾으면 설명을 볼 수 있습니다. 같은 이치로 파이썬 딕셔너리는 키(key)와 값(value)으로 대응하고, 키를 찾으면 값을 확인할 수 있습니다. 따라서 딕셔너리를 인덱싱 하려면 키를 이용합니다. 키는 숫자나 문자열이고, 값은 모든 타입입니다.

아래는 딕셔너리의 형식입니다.

```
dict = {key1: value1, key2: value2, key3: value3}
```

## **9.1. 딕셔너리 생성하기**

한국 내 지역명을 예시로 딕셔너리를 생성합니다.

In [61]:
loc_dict = {'서울': '종로', '경기': '분당', '인천': '부평', '충남': '논산'}
loc_dict

{'경기': '분당', '서울': '종로', '인천': '부평', '충남': '논산'}

입력 순서와 다르게 출력됐습니다. 딕셔너리는 순서가 중요하지 않습니다. 입력 순서를 그대로 출력하려면 `print()` 메서드를 붙여줍니다.

In [62]:
print(loc_dict)

{'서울': '종로', '경기': '분당', '인천': '부평', '충남': '논산'}

값은 모든 타입이 가능하다고 명시했습니다. 예컨대 리스트 형태도 가능합니다.

In [63]:
num_dict = {0: [1, 2, 3], 4: [5, 6, 7], 8: [9, 10, 11]}
num_dict

{0: [1, 2, 3], 4: [5, 6, 7], 8: [9, 10, 11]}

여러 타입이 복잡하게 혼재될 수도 있습니다.

In [64]:
complicated_dict = {0: 1, 2: [3, 4, 5], 'six': (7, 8),
                    'sub_num_dict': {0: 1, 2: (3, 4), 'five': [6, 7]},
                    'nine': 'finished'}
print(complicated_dict)

{0: 1, 2: [3, 4, 5], 'six': (7, 8), 'sub_num_dict': {0: 1, 2: (3, 4), 'five': [6, 7]}, 'nine': 'finished'}

## **9.2. 키를 지정하여 값을 출력하기**

바로 위에서 복잡하게 생성한 'complicated_dict' 딕셔너리를 리스트로 지정하여 해당하는 값을 출력하겠습니다.

In [65]:
complicated_dict['sub_num_dict']

{0: 1, 2: (3, 4), 'five': [6, 7]}

## **9.3. 데이터 추가하기**

지속해서 'complicated_dict' 딕셔너리를 사용합니다. 딕셔너리에 값을 추가하려면 `딕셔너리[key] = value` 형태를 사용합니다.

아래 코드로 예시합니다.

In [66]:
# `'complicated_dict' 딕셔너리에 'ten'이라는 키를 생성하고
# [11, 12]`를 짝짓는다고 생각하면 이해하기에 한결 편리합니다.
complicated_dict['ten'] = [11, 12]
print(complicated_dict)

{0: 1, 2: [3, 4, 5], 'six': (7, 8), 'sub_num_dict': {0: 1, 2: (3, 4), 'five': [6, 7]}, 'nine': 'finished', 'ten': [11, 12]}

## **9.4. 데이터 수정하기**

'complicated_dict' 딕셔너리에 있는 기존의 값을 수정할 때도 값을 추가하는 방식인 `딕셔너리[key] = value` 형태를 사용합니다.

아래 코드로 예시합니다.

In [67]:
complicated_dict['sub_num_dict'] = {0: 1, 2: 3}
print(complicated_dict)

{0: 1, 2: [3, 4, 5], 'six': (7, 8), 'sub_num_dict': {0: 1, 2: 3}, 'nine': 'finished', 'ten': [11, 12]}

## **9.5. 데이터 삭제하기**

'complicated_dict' 딕셔너리에 있는 값을 삭제하려면 `del 딕셔너리[key]` 형태를 사용합니다. 키에 해당하는 값이 키와 함께 삭제됩니다.

아래 코드로 예시합니다.

In [68]:
del complicated_dict['sub_num_dict']
print(complicated_dict)

{0: 1, 2: [3, 4, 5], 'six': (7, 8), 'nine': 'finished', 'ten': [11, 12]}

## **9.6. 딕셔너리 함수 적용하기**

딕셔너리도 전용 함수가 있습니다. 형식은 `딕셔너리.함수()`입니다.

아래는 딕셔너리 전용 함수 목록을 예시로 풀어낸 형식입니다.

- `complicated_dict.keys()`: 모든 키를 리스트로 출력합니다.

- `complicated_dict.values()`: 모든 값을 리스트로 출력합니다.

- `complicated_dict.items()`: 키와 값의 짝을 리스트 안에 튜플로 출력합니다.

- `complicated_dict.update(loc_dict)`: 딕셔너리에 다른 딕셔너리가 가진 데이터를 추가합니다.

- `complicated_dict.clear()`: 모든 원소를 삭제합니다.

`key()` 함수에 대한 예시입니다.

In [69]:
print(complicated_dict)
print(complicated_dict.keys())

{0: 1, 2: [3, 4, 5], 'six': (7, 8), 'nine': 'finished', 'ten': [11, 12]}
dict_keys([0, 2, 'six', 'nine', 'ten'])

`values()` 함수에 대한 예시입니다.

In [70]:
print(complicated_dict)
print(complicated_dict.values())

{0: 1, 2: [3, 4, 5], 'six': (7, 8), 'nine': 'finished', 'ten': [11, 12]}
dict_values([1, [3, 4, 5], (7, 8), 'finished', [11, 12]])

`items()` 함수에 대한 예시입니다. 리스트에 튜플로 키와 값이 묶입니다.

In [71]:
print(complicated_dict)
print(complicated_dict.items())

{0: 1, 2: [3, 4, 5], 'six': (7, 8), 'nine': 'finished', 'ten': [11, 12]}
dict_items([(0, 1), (2, [3, 4, 5]), ('six', (7, 8)), ('nine', 'finished'), ('ten', [11, 12])])

데이터를 분석할 때는 일반적으로 리스트를 사용하는 경우가 많습니다. 리스트로 변환하는 작업에 능숙해야 합니다. 

아래는 이를 예시한 코드입니다.

In [72]:
print(list(complicated_dict.keys()))
print(list(complicated_dict.values()))
print(list(complicated_dict.items()))

[0, 2, 'six', 'nine', 'ten']
[1, [3, 4, 5], (7, 8), 'finished', [11, 12]]
[(0, 1), (2, [3, 4, 5]), ('six', (7, 8)), ('nine', 'finished'), ('ten', [11, 12])]

`update()` 함수에 대한 예시입니다.

In [73]:
complicated_dict.update(loc_dict)
print(complicated_dict)

{0: 1, 2: [3, 4, 5], 'six': (7, 8), 'nine': 'finished', 'ten': [11, 12], '서울': '종로', '경기': '분당', '인천': '부평', '충남': '논산'}

`clear()` 함수를 사용하면 세트 형태는 남고 모든 데이터가 삭제됩니다. 타입 또한 여전히 세트입니다.

In [74]:
complicated_dict.clear()
print(complicated_dict)
type(complicated_dict)

{}

dict

# **10. 제어문**

제어문은 조건문과 반복문으로 나뉩니다. 말그대로 조건문은 조건에 따라 다른 명령을 수행하도록 작성한 코드이고, 반복문은 특정 명령을 반복하도록 작성한 코드입니다. 이 두 문형은 매우 밀접한 관계이므로 주로 혼합하여 구성합니다.

## **10.1. pass 활용하기**

코딩하는 과정 중에 `pass`를 활용하면 큰 도움이 됩니다. 초기 단계에 전체적인 코드 틀을 형성하면서 `pass`를 활용하고, 세세하게 코딩하는 단계에서 `pass`를 제거해가며 코드 전체를 완성하는 것입니다. 기실 틀만 잡고 아무 코드가 없는 상태에서는 애러가 발생하기 마련입니다. 이를 `pass`가 방지하는 것입니다.

아래는 설명에 대한 예시입니다.

In [75]:
a = 100
if a > 190:
    pass
elif 100 <= a < 190:
    pass
else:
    pass

## **10.2. range() 함수 적용하기**

`range()` 함수는 for문에서 자주 사용합니다. 형식은 `range(시작, 끝, 단계)`이며, 인덱싱처럼 끝은 끝-1입니다. 지정한 끝의 전까지만 범위를 지정합니다.

In [76]:
for i in range(0, 6, 2):
    print(i)

0
2
4

`range(시작, 끝, 단계)` 형식에서 시작과 단계를 생략하면 끝만 남습니다. 여기서 시작과 단계는 각각 0과 1로 간주합니다.

In [77]:
for i in range(8):
    print(i)

0
1
2
3
4
5
6
7

`range()` 함수로 결과를 출력하려면 `list()` 함수를 사용해야 합니다.

In [78]:
print(range(0, 6, 2))

range(0, 6, 2)

`range(0, 6, 2)`이라는 형태로 출력됐습니다. 원소를 출력하려면 `list()` 함수로 묶어야 합니다.

In [79]:
list(range(0, 6, 2))

[0, 2, 4]

## **10.3. zip() 함수 적용하기**

`zip()` 함수는 여러 리스트의 값을 하나로 묶는 데에 사용할 수 있습니다.

아래 코드로 설명합니다.

In [80]:
fruits = ['banana', 'apple', 'grape', 'strawberry']
names = ['승원', '미니', '꼬맹', '철수']

for fruits, names in zip(fruits, names):
    print(fruits, names)

banana 승원
apple 미니
grape 꼬맹
strawberry 철수

## **10.4. while문**

for문이 단순하게 반복만 수행하는 형태라면, while문은 조건에 따라 반복하고 멈추는 형태입니다.

아래는 while문에 대한 예시입니다.

In [81]:
i = 0
# 예를 들고자 변수명을 `sum`으로 지정했을 뿐입니다.
# 실제로 sum은 함수 `sum()`이 존재하므로 올바르지 않은 변수명입니다.
sum = 0

while (sum < 10):
    i = i + 1
    sum = sum + i
    print(i, sum)

1 1
2 3
3 6
4 10

무한으로 반복하게 하려면 조건을 항상 참인 `True`로 지정합니다.

In [82]:
# 주석으로 처리합니다.
# while True:
#     print('infinite')

## **10.5. continue와 break으로 제어하기**

continue는 처음으로 돌아가서 반복을 수행하고, break은 반복문을 빠져나옵니다.

먼저 continue에 대한 예시입니다.

In [83]:
for i in range(6):
    if i == 3:
        continue
    print(i)

0
1
2
4
5

3만 빼놓고 출력했습니다.

다음은 break에 대한 예시입니다.

In [84]:
for i in range(6):
    if i > 4:
        break
    print(i)

0
1
2
3
4

'i'가 4보다 크므로 빠져나왔습니다.

continue와 break을 모두 사용하겠습니다.

In [85]:
i = 0

while True:
    i = i + 1
    if i == 3:
        print("it's 3.")
        continue
    if i > 6:
        break
    print(i)

1
2
it's 3.
4
5
6

## **10.6. 리스트 컴프리헨션**

리스트 컴프리헨션(comprehension)은 리스트 안에 코드가 들어있는 것을 의미합니다(컴프리헨션의 사전적 의미는 이해, '포함'입니다). 리스트 안에 반복문이 들어있으면 반복문을 한 줄로 작성할 수 있습니다.

형식은 아래와 같습니다.
```
[반복 실행문 for 반복 변수 in 반복 범위]
```
형식에 대한 예시를 들겠습니다.

In [86]:
num = [1, 2, 3, 4, 5]
list_comprehension1 = [i * 3 for i in num]
print(list_comprehension1)

[3, 6, 9, 12, 15]

반복문에 조건을 부여할 수도 있습니다.

형식은 아래와 같습니다.

```
[반복 실행문 for 반복 변수 in 반복 범위 if 조건]
```

형식에 대한 예시를 듭니다.

In [87]:
list_comprehension2 = [i * 3 for i in num if i > 2]
print(list_comprehension2)

[9, 12, 15]

# **11. 입출력**

## **11.1. 출력**

예시하면서 설명합니다.

콤마로 구분하면 원소가 한 칸씩 띈 상태로 출력됩니다.

매개변수 `sep`에 문자열을 지정하면 빈칸 대신 다른 형태를 넣을 수 있습니다.

빈칸을 붙이려면 더하기 연산자를 사용합니다.

콤마와 더하기는 함께 사용할 수 있습니다.

In [88]:
print('콤마 사용:', 'ab', 'cd', 'ef', 'gh')
print('sep 사용: ', 'ab', 'cd', 'ef', 'gh', sep='^')
print('더하기 사용:', 'ab'+'cd'+'ef'+'gh')
print('혼합 사용', 'ab' + 'cd', 'ef' + 'gh')

콤마 사용: ab cd ef gh
sep 사용: ^ab^cd^ef^gh
더하기 사용: abcdefgh
혼합 사용 abcd efgh

`end` 매개변수는 두 줄로 출력된 결과를 한 줄로 출력하게 합니다.

In [89]:
print('This is')
print('Sparta')
print()
print('This is', end=' just ')
print('Sparta')

This is
Sparta

This is just Sparta

'%' 연산자를 이용한 각종 출력 방식을 설명합니다.

예시를 들면서 설명하겠습니다.

In [90]:
dog = '개'
print('지나가는 %s가 웃어!' %dog)

지나가는 개가 웃어!

데이터가 문자 타입이라면 `%s`, 실수 타입이라면 `%f`, 정수 타입이라면 `%d`로 지정합니다. 위 코드는 문자 타입이므로 `%s`입니다.

데이터가 다수여도 적용할 수 있습니다. 

이에 대한 예시입니다.

In [91]:
dogs = '몰티즈', '푸들', 2
print('지나가는 %s랑 %s %d마리가 웃어!' %dogs)
print('지나가는 %s랑 %s %s마리가 웃어!' %dogs)
print('지나가는 %s랑 %s %f마리가 웃어!' %dogs)

지나가는 몰티즈랑 푸들 2마리가 웃어!
지나가는 몰티즈랑 푸들 2마리가 웃어!
지나가는 몰티즈랑 푸들 2.000000마리가 웃어!

`format()` 메서드를 이용해서 문자열을 출력할 수도 있습니다.

예시로 설명하겠습니다.

In [92]:
my_country = 'korea'
your_country = 'USA'
print("I'm in {0}, You're in {1}.".format(my_country, your_country))

I'm in korea, You're in USA.

여러 문자열을 한꺼번에 출력할 수도 있고, 하나만 선택해서 출력할 수도 있습니다.

In [93]:
colors = ['red', 'blue', 'yellow', 'skyblue']
print('I have {0}.'.format(colors))
print('My favorite color is {0}.'.format(colors[0]))
print('Your favorite color is {0}.'.format(colors[3]))

I have ['red', 'blue', 'yellow', 'skyblue'].
My favorite color is red.
Your favorite color is skyblue.

출력할 객체의 데이터를 지정할 수도 있습니다.

In [94]:
my_country = 'korea'
your_country = 'USA'
colors = ['red', 'blue', 'yellow', 'skyblue']
print("I'm in {0}. My favorite colors are {2}, {3}.".
      format(my_country, your_country, colors[0], colors[1]))

I'm in korea. My favorite colors are red, blue.

`{숫자}` 형태가 아닌 `{}` 형태로도 지정할 수 있습니다. 순차적으로 데이터를 출력합니다.

In [95]:
print("I'm in {}, You're in {}.".format(my_country, your_country))

I'm in korea, You're in USA.

문자열뿐만 아니라 숫자인 데이터도 출력할 수 있습니다. 설명은 생략합니다.

다만 숫자를 출력할 때는 형식을 지정할 수 있습니다.

아래는 먼저 정수에 대한 예시입니다.

`{N:nd}` 형식으로 정수를 출력합니다. `N`은 데이터의 위치, `n`은 공백칸의 개수입니다. 공백칸수에 해당하는 숫자가 클수록 공백이 커집니다.

In [96]:
num_d = 6
print('공백칸 수를 지정해볼까? {0:1d}'.format(num_d))
print('공백칸 수를 지정해볼까? {0:2d}'.format(num_d))
print('공백칸 수를 지정해볼까? {0:7d}'.format(num_d))

공백칸 수를 지정해볼까? 6
공백칸 수를 지정해볼까?  6
공백칸 수를 지정해볼까?       6

공백 대신 숫자 0을 채우는 방법도 있습니다. `{N:0nd}` 형식을 취합니다. 숫자 `n`을 지정하여 공백 대신 0의 개수를 채웁니다.

In [97]:
print('0으로 공백을 채워..{0:04d}'.format(num_d))
print('0으로 공백을 채워..{0:09d}'.format(num_d))

0으로 공백을 채워..0006
0으로 공백을 채워..000000006

`{N:>nd}`와 `{N:<nd}`는 각각 오른쪽 정렬과 왼쪽 정렬입니다. `n`은 공백칸의 개수입니다.

In [98]:
print('숫자를 정렬할 거야.{0:>5d}..완료!'.format(num_d))
print('숫자를 정렬할 거야.{0:<5d}..완료!'.format(num_d))

숫자를 정렬할 거야.    6..완료!
숫자를 정렬할 거야.6    ..완료!

숫자를 진수 형태로도 출력할 수 있습니다.

아래에서 예시하겠습니다.

In [99]:
two = 2
eight = 8
sixteen = 16
print('2의 진수는 {:#x}'.format(two))
print('2의 진수는 (#을 생략하면) {:x}'.format(two))
print('8의 진수는 {:#o}'.format(eight))
print('8의 진수는 (#을 생략하면) {:o}'.format(eight))
print('16의 진수는 {:#b}'.format(sixteen))
print('16의 진수는 (#을 생략하면) {:b}'.format(sixteen))

2의 진수는 0x2
2의 진수는 (#을 생략하면) 2
8의 진수는 0o10
8의 진수는 (#을 생략하면) 10
16의 진수는 0b10000
16의 진수는 (#을 생략하면) 10000

예시 그대로입니다.

아래는 실수에 대한 예시입니다.

`{N:.nf}` 형식입니다. `n`에 소수점 자리 수를 지정할 수 있습니다.

In [100]:
num_f = 123.4567
print('소수점 몇 째 자리까지 출력할까? {:.2f}'.format(num_f))
print('소수점 몇 째 자리까지 출력할까? {:.3f}'.format(num_f))
print('소수점 몇 째 자리까지 출력할까? {:.4f}'.format(num_f))

소수점 몇 째 자리까지 출력할까? 123.46
소수점 몇 째 자리까지 출력할까? 123.457
소수점 몇 째 자리까지 출력할까? 123.4567

아래는 각종 숫자 출력 방식입니다.

먼저 `{N:.n%}` 형식으로 소수점을 지정하고 퍼센트를 붙일 수 있습니다.

In [101]:
print('퍼센트를 붙이자. {:.0%}'.format(num_f))
print('퍼센트를 붙이자. {:.1%}'.format(num_f))
print('퍼센트를 붙이자. {:.2%}'.format(num_f))
print('퍼센트를 붙이자. {:.4%}'.format(num_f))

퍼센트를 붙이자. 12346%
퍼센트를 붙이자. 12345.7%
퍼센트를 붙이자. 12345.67%
퍼센트를 붙이자. 12345.6700%

','를 3칸마다 붙일 수 있습니다. `{N:,}` 형식입니다.

In [102]:
num_money = 97000000
print('금액에 붙이는 쉼표를 달자. {:,}$'.format(num_money))

금액에 붙이는 쉼표를 달자. 97,000,000$

지수로 표현할 수 있습니다. 형식은 `{:.ne}`이고, 소수점 자리 수는 `n`에 지정합니다.

In [103]:
num_e = 8530000000
print('지수로 표현하면? {:.1e}'.format(num_e))
print('지수로 표현하면? {:.2e}'.format(num_e))
print('지수로 표현하면? {:.4e}'.format(num_e))

지수로 표현하면? 8.5e+09
지수로 표현하면? 8.53e+09
지수로 표현하면? 8.5300e+09

## **11.2. 입력**

직접 데이터를 입력하는 함수는 `input()`입니다. `객체명 = input(데이터)` 형식으로 쓰입니다. 숫자나 문자열 모두 입력할 수 있습니다.

In [104]:
input_data = input('주문하시겠어요? ')
print('주문하신 메뉴는 {}입니다.'.format(input_data))

주문하시겠어요? americano
주문하신 메뉴는 americano입니다.

숫자를 입력해서 연산 작업을 할 수도 있습니다. 이때 입력한 숫자는 문자형로 인식되므로, 연산 작업을 수행하려면 객체를 숫자형으로 변환하기 위해 정수로 바꾸는 `int()` 함수 또는 실수로 바꾸는 `float()` 함수로 묶어서 숫자로 바꿔야 합니다.

In [105]:
input_data = input('데이터를 입력하세요.')
final_data = int(input_data) + 5
print('최종 데이터는 {}입니다'.format(final_data))

데이터를 입력하세요.17
최종 데이터는 22입니다

# **12. 파일 다루기 기본**

## **12.1. 파일 열기**

`open()` 함수를 사용해서 파일을 열 수 있습니다.

형식은 아래와 같습니다.

`file = open('파일이름', '파일열기속성')`

`파일열기속성`에 포함되는 목록은 아래와 같습니다.

- `r`: 읽기 모드로 파일을 엽니다. `파일열기속성`을 지정하지 않았을 때 기본값으로 지정되는 인자입니다.

- `w`: 쓰기 모드로 파일을 엽니다. 파일명이 같은 파일이 존재하면 기존 내용은 자동으로 삭제됩니다. `x` 인자의 경우는 파일명이 같은 파일이 존재하면 오류가 납니다.

- `a`: 추가 모드로 파일을 엽니다. 파일명이 같은 파일이 없으면 사실상 `w` 인자와 동일합니다.

- `t`: 텍스트 모드로 파일을 엽니다. 기본적으로 지정되는 인자입니다.

- `b`: 바이너리 모드로 파일을 엽니다.

정리하자면 `파일열기속성`에 아무것도 지정하지 않으면 `rt`로 자동으로 지정되는 것입니다. `w`만 지정한다면 자동으로 `wt`로 지정됩니다. 여러 속성을 혼합해서 지정할 수도 있는데, 예를 들면 `rb`이며 `br`도 가능합니다. 

아래 코드에서 예시합니다.

In [106]:
# 임의로 지정한 파일명입니다. 불러 올 파일이 없으므로 오류가 납니다.
# test_file = open('my_favorite', 'rb')

## **12.2. 파일 쓰기**

파일을 연 후에 쓰기 작업을 수행할 수 있습니다. 단, 쓰기 작업을 수행하려면 파일을 `w` 형식으로 열어야 합니다.

아래는 파일을 쓰고 닫는 형식입니다.

```
file.write(데이터)
file.close()
```

예시를 들기 위해 구글 드라이브와 연동합니다.

In [107]:
from google.colab import drive
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

파일을 쓰고 저장하기 위해 경로를 잡습니다.

In [108]:
cd /content/gdrive/MyDrive/Python_for_Data_Analytics_Science

/content/gdrive/MyDrive/Python_for_Data_Analytics_Science

파일 쓰기에 대한 예시입니다. 지정된 경로에 해당 파일이 저장됩니다.

In [109]:
test_file = open('test.txt','w')
test_file.write('Test text')
test_file.close()

## **12.3. 파일 읽기**

위에서 생성한 'test.txt'을 읽겠습니다.

In [110]:
# 기본값이 `r`이므로 따로 지정하지 않아도 괜찮습니다.
test_file = open('test.txt')
read_file = test_file.read()
test_file.close()
print(read_file)

Test text

## **12.4. 반복문으로 파일 쓰기**

먼저 for문으로 문자열을 작성하는 법을 설명합니다.

아래는 5 + 0 = 5부터 5 + 7 = 12까지 줄을 바꿔서 파일에 텍스트를 쓰는 for문입니다.

In [111]:
file = open('for_plus5.txt', 'w')
for num in range(8):
    plus5 = '5 + {} = {}\n'.format(num, num+5)
    file.write(plus5)
file.close()

## **12.5. 반복문으로 파일 읽기**

파일 내용을 한 줄씩 읽으려면 `readline()` 함수나 `readlines()` 함수를 사용합니다.

- `readline()`: 문자열 한 줄을 읽습니다. 

- `readlines()`: 전체 문자열을 읽고 한 줄씩 쉼표로 구분되는 리스트로 바꿉니다.

먼저 `readline()` 함수에 대한 예시입니다.

In [112]:
file = open('for_plus5.txt')
line1 = file.readline()
line2 = file.readline()
line3 = file.readline()
line4 = file.readline()
file.close()
print(line1)
print(line2)
print(line3)

5 + 0 = 5

5 + 1 = 6

5 + 2 = 7

위에서 개행 문자로 `\n`을 지정했기 때문에 한 줄씩 개행되면서 문자열이 출력됐습니다. 개행되지 않도록 출력하려면 `end=''`로 매개변수르 지정합니다. `''`는 빈칸이므로 빈 문자열은 읽지 않도록 조치하는 것입니다.

In [113]:
print(line1, end='')
print(line2, end='')
print(line3, end='')

5 + 0 = 5
5 + 1 = 6
5 + 2 = 7

while문으로 파일을 읽겠습니다. 위처럼 빈 문자열을 읽지 않도록 지정하겠습니다.

In [114]:
file = open('for_plus5.txt')
line = file.readline()
# line이 False이면 빈 문자열이므로 해당 문자열은 생략하고 출력하지 않습니다.
while line:
    print(line, end='')
    line = file.readline()
file.close()

5 + 0 = 5
5 + 1 = 6
5 + 2 = 7
5 + 3 = 8
5 + 4 = 9
5 + 5 = 10
5 + 6 = 11
5 + 7 = 12

`readlines()` 함수에 대한 예시입니다. 리스트 형태로 구성되며 한 줄씩 원소로 갖습니다.

In [115]:
file = open('for_plus5.txt')
lines = file.readlines()
file.close()
print(lines)

['5 + 0 = 5\n', '5 + 1 = 6\n', '5 + 2 = 7\n', '5 + 3 = 8\n', '5 + 4 = 9\n', '5 + 5 = 10\n', '5 + 6 = 11\n', '5 + 7 = 12\n']

리스트에 할당된 원소인 문자열을 빈 문자열을 제외하고 출력하려면 for문으로도 처리할 수 있습니다.

In [116]:
file = open('for_plus5.txt')
lines = file.readlines()
file.close()
for line in lines:
    print(line, end='')

5 + 0 = 5
5 + 1 = 6
5 + 2 = 7
5 + 3 = 8
5 + 4 = 9
5 + 5 = 10
5 + 6 = 11
5 + 7 = 12

위 코드에서 더 축약할 수도 있습니다. 'lines' 객체에 문자열을 지정하지 않고 바로 for문으로 넘깁니다.

In [117]:
file = open('for_plus5.txt')
for line in file.readlines():
    print(line, end='')
file.close()

5 + 0 = 5
5 + 1 = 6
5 + 2 = 7
5 + 3 = 8
5 + 4 = 9
5 + 5 = 10
5 + 6 = 11
5 + 7 = 12

위 코드에서 'file' 객체만 입력하는 것으로 갈음할 수도 있습니다. 'file' 객체는 `readlines()` 함수로 처리한 리스트 형태의 원소가 담겨있기 때문입니다.

In [118]:
file = open('for_plus5.txt')
for line in file:
    print(line, end='')
file.close()

5 + 0 = 5
5 + 1 = 6
5 + 2 = 7
5 + 3 = 8
5 + 4 = 9
5 + 5 = 10
5 + 6 = 11
5 + 7 = 12

## **12.6. with문으로 파일 쓰고 읽기**

with문은 위에서 하나씩 지정했던 읽고 닫는 과정을 스스로 처리합니다. 따로 `close()` 메서드를 지정할 필요가 없습니다.

코드 형식은 아래와 같습니다.

```
with open('파일명', '파일열기속성') as f
```

파일에 데이터를 쓸 경우의 형식은 아래와 같습니다.

```
with open('파일명', '파일열기속성') as f:
    f.write(데이터)
```

파일을 읽는 경우의 형식은 아래와 같습니다.

```
with open('파일명', '파일열기속성') as f:
    file_data = f.read()
```

with문을 사용하는 예시입니다. 먼저 파일을 생성해서 텍스트를 추가하겠습니다.

In [119]:
with open('test2.txt', 'w') as f:
    f.write("Ok. It's 'with' power.\n")
    f.write("So powerful 'with'.\n")

생성한 텍스트 파일을 읽겠습니다.

In [120]:
with open('test2.txt') as f:
    with_power = f.read()
    print(with_power)

Ok. It's 'with' power.
So powerful 'with'.

with문과 반복문을 함께 사용하겠습니다. 이번에는 빼기 연산을 반복하는 파일을 만듭니다.

In [121]:
with open('with_subtract4.txt', 'w') as f:
    for i in range(12):
        subtract4 = '4 - {} = {}\n'.format(i, 4 - i)
        f.write(subtract4)

생성한 파일을 읽습니다. 위에서처럼 빈 문자열은 읽지 않습니다.

In [122]:
with open('with_subtract4.txt') as f:
    for line in f:
        print(line, end='')

4 - 0 = 4
4 - 1 = 3
4 - 2 = 2
4 - 3 = 1
4 - 4 = 0
4 - 5 = -1
4 - 6 = -2
4 - 7 = -3
4 - 8 = -4
4 - 9 = -5
4 - 10 = -6
4 - 11 = -7

# **13. 텍스트 파일 다루기**

먼저 텍스트 파일을 생성하여 구글 드라이브의 폴더에 저장하겠습니다.

In [123]:
with open('fruits_sales.txt', 'w') as f:
    f.write("date  banana  apple  grape  strawberry\n")
    f.write("9.26.   16     32     11        62\n")
    f.write("9.27.   18     22     36        9\n")
    f.write("9.28.   12     31     28        53\n")
    f.write("9.29.   54     23     21        8\n")

저장한 텍스트 파일을 읽습니다.

In [124]:
with open('fruits_sales.txt') as f:
    fruits_sales = f.read()
    print(fruits_sales)

date  banana  apple  grape  strawberry
9.26.   16     32     11        62
9.27.   18     22     36        9
9.28.   12     31     28        53
9.29.   54     23     21        8

텍스트 파일의 첫 줄을 읽습니다.

In [125]:
with open('fruits_sales.txt') as f:
    fruits_sales_line1 = f.readline()
    print(fruits_sales_line1)

date  banana  apple  grape  strawberry

공백과 개행열을 제거하고 리스트로 만듭니다.

In [126]:
print(fruits_sales_line1.split())

['date', 'banana', 'apple', 'grape', 'strawberry']

for문을 사용해서 두 번째 줄부터 마지막 줄까지 첫 줄처럼 리스트로 출력하겠습니다. 먼저 첫 줄을 떼서 변수에 넘기는 작업이 선행되어야 합니다. 그리고나서 두 번째 줄부터 마지막 줄까지 for문으로 한 줄씩 출력합니다.

In [127]:
with open('fruits_sales.txt') as f:
    fruits_sales_line1 = f.readline()
    fruits_sales_line1.split()
    for line in f:
        fruits_line_list = line.split()
        print(fruits_line_list)

['9.26.', '16', '32', '11', '62']
['9.27.', '18', '22', '36', '9']
['9.28.', '12', '31', '28', '53']
['9.29.', '54', '23', '21', '8']

리스트로 출력하는 것뿐만 아니라 새로 생성한 리스트에 원소들을 저장하겠습니다. 원소들은 숫자로 입력된 상태지만 형식은 문자열(string)입니다. 데이터 분석을 위해서는 `int()` 함수를 사용하여 숫자로 변환해야 합니다.

아래 코드로 전체적인 과정을 정리하고 내용을 추가하겠습니다.

In [128]:
with open('fruits_sales.txt') as f:
    fruits_sales_line1 = f.readline()
    fruits_sales_line1_split = fruits_sales_line1.split()

    date = []
    banana = []
    apple = []
    grape = []
    strawberry = []

    for line in f:
        fruits_sales_list = line.split()
        date.append(fruits_sales_list[0])
        banana.append(int(fruits_sales_list[1]))
        apple.append(int(fruits_sales_list[2]))
        grape.append(int(fruits_sales_list[3]))
        strawberry.append(int(fruits_sales_list[4]))

    print('첫 줄:', fruits_sales_line1_split)
    print('판매일자: {}'.format(date))
    print('{} 판매량: {}'.format(fruits_sales_line1_split[1], banana))
    print('{} 판매량: {}'.format(fruits_sales_line1_split[2], apple))
    print('{} 판매량: {}'.format(fruits_sales_line1_split[3], grape))
    print('{} 판매량: {}'.format(fruits_sales_line1_split[4], strawberry))

첫 줄: ['date', 'banana', 'apple', 'grape', 'strawberry']
판매일자: ['9.26.', '9.27.', '9.28.', '9.29.']
banana 판매량: [16, 18, 12, 54]
apple 판매량: [32, 22, 31, 23]
grape 판매량: [11, 36, 28, 21]
strawberry 판매량: [62, 9, 53, 8]

위의 변수들을 토대로 총 판매량과 평균 판매량을 구하겠습니다. 평균을 구하는 다양한 방법은 [링크](https://blockdmask.tistory.com/559)를 참고하시기 바랍니다.

In [131]:
banana_sum = sum(banana)
apple_sum = sum(apple)
grape_sum = sum(grape)
strawberry_sum = sum(strawberry)
sum_list = [banana_sum, apple_sum, grape_sum, strawberry_sum]

banana_mean = banana_sum/len(banana)
apple_mean = apple_sum/len(apple)
grape_mean = grape_sum/len(grape)
strawberry_mean = strawberry_sum/len(strawberry)
mean_list = [banana_mean, apple_mean, grape_mean, strawberry_mean]

for i in range(len(sum_list)):
    print('{} 총 판매량: {}개\n      평균 판매량: {}개'.format(fruits_sales_line1_split[i+1],
                                                    sum_list[i], int(mean_list[i])))

banana 총 판매량: 100개
      평균 판매량: 25개
apple 총 판매량: 108개
      평균 판매량: 27개
grape 총 판매량: 96개
      평균 판매량: 24개
strawberry 총 판매량: 132개
      평균 판매량: 33개

코드를 아래처럼 더 짧게 작성할 수도 있습니다.

In [132]:
fruits_list = [banana, apple, grape, strawberry]

for i in range(len(fruits_sales_line1_split)-1):
    print('{} 총 판매량: {}개\n      평균 판매량: {}개'.format(fruits_sales_line1_split[i+1],
                                                    sum(fruits_list[i]), int(sum(fruits_list[i])/len(fruits_list[i]))))

banana 총 판매량: 100개
      평균 판매량: 25개
apple 총 판매량: 108개
      평균 판매량: 27개
grape 총 판매량: 96개
      평균 판매량: 24개
strawberry 총 판매량: 132개
      평균 판매량: 33개

# **14. 함수**

## **14.1. 전역 변수와 지역 변수**

전역 변수(global variable)는 전체 코드에서 사용할 수 있는 코드이고, 지역 변수(local variable)는 함수가 호출될 때만 사용할 수 있는 코드입니다.

아래 코드로 설명합니다.

In [133]:
# 전역 변수입니다 .
a = 11

def function1():
    # 지역 변수입니다. function1() 함수에만 적용되는 변수입니다.
    a = 55
    # format 대신 f로도 표현할 수 있습니다.
    print(f'`function1` 함수의 지역 변수는 a = {a}입니다.')

def function2():
    # 지역 변수를 지정하지 않으면 전역 변수가 적용됩니다.
    print(f'`function2` 함수의 전역 변수는 a = {a}입니다.')

# 이 함수를 호출하면 전역 변수가 변경됩니다.
def function3():
    # 기존에 지정된 전역 변수를 `global 전역변수명`으로 선언해서 변경합니다.
    global a
    a = 77
    print(f'`function3` 함수의 전역 변수는 a = {a}입니다.')

In [134]:
function1()
function2()
print(f'전역 변수는 a = {a}')

`function1` 함수의 지역 변수는 a = 55입니다.
`function2` 함수의 전역 변수는 a = 11입니다.
전역 변수는 a = 11

In [135]:
function3()
print(f'`function3` 함수로 변경된 전역 변수는 a = {a}입니다.')
function2()

`function3` 함수의 전역 변수는 a = 77입니다.
`function3` 함수로 변경된 전역 변수는 a = 77입니다.
`function2` 함수의 전역 변수는 a = 77입니다.

## **14.2. 람다 함수**

람다(lambda) 함수는 한 줄로 구성된 함수입니다.

기본 형식은 아래와 같습니다.

`lambda 인자 = 함수식`

이 형식에서 인자는 여러 개를 지정할 수 있습니다. 인자 구분은 쉼표(,)로 합니다.

아래 코드들을 토대로 여러 사용 방식을 예시합니다.

In [136]:
lambda x : x * 8 (2)

괄호로 묶으면 값이 출력됩니다.

In [137]:
(lambda x : x * 8) (2)

16

변수에 할당해서 사용할 수도 있습니다.

In [138]:
lambda_times = lambda x : x * 8
lambda_times(4)

32

여러 인자를 활용할 수도 있습니다.

In [139]:
lambda_tps = lambda x, y, z : x * y + z
lambda_tps(5, 4, 5)

25

## **14.3. bool 함수**

아래와 같은 조건에 따라 True와 False 중에 하나를 출력하는 함수입니다.

빈칸(None)이면 False를 출력합니다. 공백(' ')은 빈칸이 아니라 엄연히 문자열입니다.

In [140]:
print(f"`bool('')`는 빈칸이므로 {bool('')}입니다.")
print(f"`bool(None)`는 빈칸이므로 {bool(None)}입니다.")
print(f"`bool(' ')`는 공백이므로 {bool(' ')}입니다.")

`bool('')`는 빈칸이므로 False입니다.
`bool(None)`는 빈칸이므로 False입니다.
`bool(' ')`는 공백이므로 True입니다.

숫자가 0이면 False를 출력합니다.

In [141]:
print(f"`bool(0)`는 0이므로 {bool(0)}입니다.")

`bool(0)`는 0이므로 False입니다.

리스트와 튜플, 세트를 변수로 할당하여 적용할 수 있습니다. 원소가 존재하면 True입니다.

아래 코드는 원소가 없는 빈칸이므로 False를 출력합니다.

In [142]:
a = []
b = ()
c = {}
print(bool(a))
print(bool(b))
print(bool(c))

False
False
False

리스트, 튜플, 세트에 여러 개의 원소를 가지면 0이나 빈칸을 포함하더라도 True를 출력합니다.

In [143]:
a = [0, 1]
b = ('', 1)
print(bool(a))
print(bool(b))

True
True

`bool()` 함수를 사용한 간단한 예시입니다.

In [144]:
def favorite_fruits(fruits):
    # True인 경우에 수행합니다.
    if bool(fruits):
        print(f'좋아하는 과일은 {fruits}입니다.')
    # False인 경우에 수행합니다.
    else:
        print('값을 입력하세요.')

In [145]:
favorite_fruits('딸기')

좋아하는 과일은 딸기입니다.

In [146]:
favorite_fruits('')

값을 입력하세요.

# **15. 클래스**

클래스에 대한 개념은 위에서 정리한 개념들처럼 기초적인 내용은 제외했습니다. 주로 코드를 통해 예시하는 방식으로 설명할 예정입니다.

코드를 예시하기 전에 몇 가지 필요한 내용을 목록으로 나열하겠습니다. 난해한 내용은 아닙니다.

- **클래스**는 객체를 만들기 위한 기본 틀이고, **객체**는 이 틀을 바탕으로 생성된 결과물입니다. 종종 이 둘을 붕어빵 틀과 붕어빵으로 비유하곤 합니다. 이 붕어빵 틀에 팥이나 치즈나 피자를 넣으면 각각 팥붕어빵, 치즈붕어빵, 피자붕어빵이 됩니다. 객체에 포함된 변수에 값을 다르게 할당하면 객체의 속성이 달라지고, 각각 다른 속성을 가진 객체가 되는 것과 같은 이치입니다. 참고로 객체는 클래스의 인스턴스(instance)라고 부릅니다. instance의 의미는 경우, 예 등입니다. 클래스가 특정 객체를 만든 특정 경우나 예 정도로 생각할 수 있습니다.

- 클래스명은 가독성을 추구하고자 로마자 알파벳 대문자로 시작합니다. 예를 들면 'Fruits', 'TestFruits' 같은 형태입니다. 물론 객체는 소문자로 이뤄집니다.

- 코드 예시로 다시 설명하겠지만 클래스에서 정의한 함수에 처음 부여하는 인자는 `self`입니다. `self`는 객체를 생성하고 나서 객체 자신을 참조하는 데 사용하는 인자입니다. 함수 대부분에(기실 모든 함수에) `self` 인자를 부여합니다.

- 함수와 메서드(method)는 종종 용어를 사용할 때 혼동을 일으키곤 합니다. 결론적으로 말하면 두 용어를 구분하지 않고 사용해도 괜찮습니다. 클래스에서 정의한 함수를 객체에 넘겨주고 사용할 때는 메서드(method)라고 합니다. 그러나 클래스에서 정의한 함수 자체를 메서드라고 부르기도 합니다. 따라서 메서드는 함수이고, 함수는 메서드입니다.

## **15.1. 클래스 및 객체 생성하기**

간단한 클래스를 생성해보겠습니다. 클래스는 헬기의 속도, 이동 방향, 멈춤, 재출발 함수를 가집니다.

헬기 클래스에 몇 가지 함수를 포함시킵니다.

In [147]:
class Helicopter():

    def go(self, speed):
        print(f'헬기는 {speed}Km/h로 비행합니다.')

    def turn(self, direction):
        print(f'헬기는 {direction} 방향으로 비행합니다.')

    def stop(self):
        print(f'{self.use} 용도인 {self.color}색 헬기는 비행하다가 멈춥니다.')

    def restart(self):
        print('멈췄던 헬기가 다시 이동합니다.')

클래스의 객체(인스턴스)를 생성하고, 생성한 객체에 속성값을 부여하겠습니다.

In [148]:
# 클래스의 객체(인스턴스)를 생성합니다.
# 클래스를 객체에 넘겨주는 방식을 취합니다.
my_helicopter1 = Helicopter()
# 객체에 속성값을 부여합니다. 'color'와 'use'는 위 클래스에서 지정한 변수입니다.
# 이 변수들에 속성값을 부여하는 것입니다.
my_helicopter1.color = 'dark green'
my_helicopter1.use = 'battle'

객체의 속성값을 확인하겠습니다. 속성값을 확인하는 방법은 `객체명.변수명`입니다.

In [149]:
print(f'my_helicopter1의 색상은 {my_helicopter1.color}입니다.')
print(f'my_helicopter1의 용도는 {my_helicopter1.use}입니다.')

my_helicopter1의 색상은 dark green입니다.
my_helicopter1의 용도는 battle입니다.

## **15.2. 메서드 호출하기**

객체의 메서드를 호출하겠습니다. 메서드를 호출하는 방법은 `객체명.함수명`입니다. 속성값을 확인하는 방법과 같습니다.

In [150]:
my_helicopter1.go(100)
my_helicopter1.turn('left')
my_helicopter1.stop()
my_helicopter1.restart()

헬기는 100Km/h로 비행합니다.
헬기는 left 방향으로 비행합니다.
battle 용도인 dark green색 헬기는 비행하다가 멈춥니다.
멈췄던 헬기가 다시 이동합니다.

다른 객체를 생성해서 적용하겠습니다.

In [151]:
my_helicopter2 = Helicopter()
my_helicopter2.color = 'blue'
my_helicopter2.use = 'travel'

my_helicopter2.go(90)
my_helicopter2.turn('straight')
my_helicopter2.stop()
my_helicopter2.restart()

헬기는 90Km/h로 비행합니다.
헬기는 straight 방향으로 비행합니다.
travel 용도인 blue색 헬기는 비행하다가 멈춥니다.
멈췄던 헬기가 다시 이동합니다.

## **15.3. 객체 초기화하기**

위에서 객체에 속성값을 부여하는 과정은 아래와 같았습니다.
```
my_helicopter2 = Helicopter()
my_helicopter2.color = 'blue'
my_helicopter2.use = 'travel'
```
여기에서 아래 코드처럼 속성값을 더 간략하게 부여할 수 있는 방법이 있습니다.
```
my_helicopter2 = Helicopter('blue', 'travel')
```
클래스의 변수인 `color`와 `use`에 입력한 속성값을 그대로 전달합니다. 한 줄에 객체명과 속성값만 바꾸는 방식입니다.

다만 이 방식을 사용하려면 클래스를 선언할 때 초기화 함수인 `__init__`을 구현해야 합니다. 이 함수는 객체가 생성될 때 자동으로 실행됩니다.

기존 헬기 클래스 코드에 `__init__` 함수를 포함시키겠습니다.

In [152]:
class Helicopter():

    def __init__(self, color, use):
        self.color = color
        self.use = use

    def go(self, speed):
        print(f'헬기는 {speed}Km/h로 비행합니다.')

    def turn(self, direction):
        print(f'헬기는 {direction} 방향으로 비행합니다.')

    def stop(self):
        print(f'{self.use} 용도인 {self.color}색 헬기는 비행하다가 멈춥니다.')

    def restart(self):
        print('멈췄던 헬기가 다시 이동합니다.')

새로운 객체를 생성해서 적용하겠습니다.

In [153]:
my_helicopter3 = Helicopter('White', 'Emergency services')
print(f'my_helicopter3의 색상은 {my_helicopter3.color}입니다.')
print(f'my_helicopter3의 용도는 {my_helicopter3.use}입니다.')

my_helicopter3.go(110)
my_helicopter3.turn('right')
my_helicopter3.stop()
my_helicopter3.restart()

my_helicopter3의 색상은 White입니다.
my_helicopter3의 용도는 Emergency services입니다.
헬기는 110Km/h로 비행합니다.
헬기는 right 방향으로 비행합니다.
Emergency services 용도인 White색 헬기는 비행하다가 멈춥니다.
멈췄던 헬기가 다시 이동합니다.

## **15.4. 각종 변수**

클래스의 변수는 위치에 따라 기능과 용도가 다릅니다.

### **15.4.1. 클래스 변수**

**클래스 변수(class variable)**는 클래스 내에서 함수 바깥에 위치한 변수입니다. 모든 인스턴스가 사용할 수 있는 변수입니다.

아래에서 코드로 예시하겠습니다.

In [154]:
class Helicopter():

    # 클래스 변수를 생성합니다. 함수 바깥에 위치합니다.
    helicopter_count = 0

    def __init__(self, color, use):
        self.color = color
        self.use = use
        # 클래스 변수를 사용하여 1을 더해 나갑니다.
        # 반드시 `클래스명.변수명`으로 지정해야 합니다.
        Helicopter.helicopter_count = Helicopter.helicopter_count + 1

    def go(self, speed):
        print(f'헬기는 {speed}Km/h로 비행합니다.')

    def turn(self, direction):
        print(f'헬기는 {direction} 방향으로 비행합니다.')

    def stop(self):
        print(f'{self.use} 용도인 {self.color}색 헬기는 비행하다가 멈춥니다.')

    def restart(self):
        print('멈췄던 헬기가 다시 이동합니다.')

헬기 객체 두 대를 더 생성하겠습니다. 그리고 클래스 변수로 추가한 헬기 대수를 확인하겠습니다.

In [155]:
my_helicopter4 = Helicopter('red', 'firefighting')
print(f'보유한 헬기 대수는 {my_helicopter4.helicopter_count}입니다.')

보유한 헬기 대수는 1입니다.

In [156]:
my_helicopter5 = Helicopter('green', 'environment management')
print(f'보유한 헬기 대수는 {my_helicopter5.helicopter_count}입니다.')

보유한 헬기 대수는 2입니다.

### **15.4.2. 인스턴스 변수**

**인스턴스 변수(instance variable)**는 클래스 내에서 함수 안에 위치한 변수입니다. 클래스 변수와 인스턴스 변수는 별개로 사용됩니다. 아울러 생성한 객체에 해당되는 속성값만 가집니다.

아래 코드에서 인스턴스 변수를 표시하겠습니다. 상세한 설명은 생략합니다.

In [157]:
class Helicopter():

    # 클래스 변수입니다.
    helicopter_count = 0

    # 인스턴스 변수인 `color`와 `use`입니다.
    # 객체를 생성하면 지정한 속성값은 초기화됩니다.
    def __init__(self, color, use):
        self.color = color
        self.use = use
        Helicopter.helicopter_count = Helicopter.helicopter_count + 1

    def go(self, speed):
        print(f'헬기는 {speed}Km/h로 비행합니다.')

    def turn(self, direction):
        print(f'헬기는 {direction} 방향으로 비행합니다.')

    def stop(self):
        print(f'{self.use} 용도인 {self.color}색 헬기는 비행하다가 멈춥니다.')

    def restart(self):
        print('멈췄던 헬기가 다시 이동합니다.')

## **15.5. 각종 메서드**

메서드는 세 가지 종류입니다. 아래 파트에서 코드로 설명합니다.

### **15.5.1. 인스턴스 메서드**

**인스턴스 메서드(instance method)**는 위에서 생성한 클래스에 속해있는 모든 메서드입니다. 객체가 개별적으로 호출하는 함수입니다.

추가로 `execution_of_duty`라는 인스턴스 메서드를 기존에 지정한 인스턴스 변수와 인스턴스 메서드와 접목하여 생성하겠습니다.

아래 코드에서 주석으로 설명합니다.

In [158]:
class Helicopter():

    helicopter_count = 0

    # 인스턴스 메서드입니다. 초기화 함수도 인스턴스 메서드입니다.
    def __init__(self, color, use):
        self.color = color
        self.use = use
        Helicopter.helicopter_count = Helicopter.helicopter_count + 1
    # 인스턴스 메서드입니다.
    def go(self, speed):
        # 새로 생성할 인스턴스 메서드에서 사용할 인스턴스 변수를 생성합니다.
        self.speed = speed
        print(f'헬기는 {speed}Km/h로 비행합니다.')
    # 인스턴스 메서드입니다.
    def turn(self, direction):
        print(f'헬기는 {direction} 방향으로 비행합니다.')
    # 인스턴스 메서드입니다.
    def stop(self):
        print(f'{self.use} 용도인 {self.color}색 헬기는 비행하다가 멈춥니다.')
    # 인스턴스 메서드입니다.
    def restart(self):
        print('멈췄던 헬기가 다시 이동합니다.')

    # 새로운 인스턴스 메서드를 생성합니다.
    def execution_of_duty(self):
        print(f'{self.use} 임무 수행을 시작합니다.')
        # 인스턴스 메서드 안에 기존에 지정한 인스턴스 메서드를 포함시킵니다.
        self.go(self.speed)
        self.stop()
        self.restart()

In [159]:
my_helicopter6 = Helicopter('yellow', 'business')
my_helicopter6.go(90)
my_helicopter6.execution_of_duty()

헬기는 90Km/h로 비행합니다.
business 임무 수행을 시작합니다.
헬기는 90Km/h로 비행합니다.
business 용도인 yellow색 헬기는 비행하다가 멈춥니다.
멈췄던 헬기가 다시 이동합니다.

새로 생성한 인스턴스 메서드를 호출했더니 기존 인스턴스 메서드들도 함께 호출됐습니다.

### **15.5.2. 정적 메서드**

**정적 메서드(static method)**는 클래스와 객체와 전혀 무관하게 작동하는 메서드입니다. 'static'은 '고정된, 정지 상태의'를 의미합니다. 즉 클래스 안에서 독립적으로 고정된 상태로 생각할 수 있습니다.

정적 메서드에는 몇 가지 특징이 있습니다. 클래스 안에 위치하지만 `self` 인자를 사용하지 않습니다. 아울러 정적 메서드 구역에서는 인스턴스 메서드와 인스턴스 변수에 접근할 수 없습니다.

정적 메서드를 선언하려면 **데코레이터(Decorator)**인 `@staticmethod`를 함수 위에 지정합니다. 

아래 코드로 예시합니다.

In [160]:
class Helicopter():

    helicopter_count = 0

    # 정적 메서드를 지정합니다. `self` 인자는 지정하지 않습니다.
    @staticmethod
    def country(producing_country):
        if producing_country == 'Republic of Korea':
            print('대한민국에서 생산되었습니다.')
        elif producing_country == 'USA':
            print('미국에서 생산되었습니다.')
        else:
            print(f'{producing_country}에서 생산되었습니다.')
            
    def __init__(self, color, use):
        self.color = color
        self.use = use
        Helicopter.helicopter_count = Helicopter.helicopter_count + 1

    def go(self, speed):
        self.speed = speed
        print(f'헬기는 {speed}Km/h로 비행합니다.')

    def turn(self, direction):
        print(f'헬기는 {direction} 방향으로 비행합니다.')

    def stop(self):
        print(f'{self.use} 용도인 {self.color}색 헬기는 비행하다가 멈춥니다.')

    def restart(self):
        print('멈췄던 헬기가 다시 이동합니다.')

    def execution_of_duty(self):
        print(f'{self.use} 임무 수행을 시작합니다.')
        self.go(self.speed)
        self.stop()
        self.restart()

`self` 인자를 지정하지 않았으므로 인스턴스로 함수를 호출할 수 없습니다. `클래스명.정적메서드명()`으로만 정적 메서드를 호출할 수 있습니다.

In [161]:
Helicopter.country('Republic of Korea')
Helicopter.country('Germany')

대한민국에서 생산되었습니다.
Germany에서 생산되었습니다.

### **15.5.3. 클래스 메서드**

**클래스 메서드(class method)**는 클래스를 관리하는 데 주로 사용하며, 기존에 지정한 클래스 변수를 사용하기 위한 메서드이기도 합니다.

`self` 인자 대신 `cls` 인자를 지정합니다. 클래스를 의미하는 `cls` 인자로 클래스 변수에 접근할 수 있습니다.

정적 메서드처럼 클래스 메서드 또한 데코레이터를 지정해야 합니다. `@classmethod`로 함수 위에 지정합니다.

아래 코드에 클래스 메서드를 지정하겠습니다.

In [162]:
class Helicopter():

    # 클래스 변수입니다. 이 변수를 사용하기 위해 클래스 메서드를 지정하겠습니다.
    helicopter_count = 0

    # 클래스 메서드를 생성합니다. 인자로 `cls`를 지정합니다.
    @classmethod
    def count(cls):
        print(f'보유한 헬기의 대수는 {cls.helicopter_count}대입니다.')

    @staticmethod
    def country(producing_country):
        if producing_country == 'Republic of Korea':
            print('대한민국에서 생산되었습니다.')
        elif producing_country == 'USA':
            print('미국에서 생산되었습니다.')
        else:
            print(f'{producing_country}에서 생산되었습니다.')

    def __init__(self, color, use):
        self.color = color
        self.use = use
        Helicopter.helicopter_count = Helicopter.helicopter_count + 1

    def go(self, speed):
        self.speed = speed
        print(f'헬기는 {speed}Km/h로 비행합니다.')

    def turn(self, direction):
        print(f'헬기는 {direction} 방향으로 비행합니다.')

    def stop(self):
        print(f'{self.use} 용도인 {self.color}색 헬기는 비행하다가 멈춥니다.')

    def restart(self):
        print('멈췄던 헬기가 다시 이동합니다.')

    def execution_of_duty(self):
        print(f'{self.use} 임무 수행을 시작합니다.')
        self.go(self.speed)
        self.stop()
        self.restart()

클래스 함수(메서드)를 호출하려면 `클래스명.클래스메서드명()` 형식을 취합니다.

In [163]:
Helicopter.count()

보유한 헬기의 대수는 0대입니다.

지금까지 클래스를 새로 선언하면서 내용을 추가했습니다. 클래스를 새로 선언하면 기존에 생성됐던 인스턴스는 모두 초기화됩니다.

모든 인스턴스를 가져오겠습니다.

In [164]:
my_helicopter1 = Helicopter('Dark green', 'Battle')
my_helicopter2 = Helicopter('Blue', 'travel')
my_helicopter3 = Helicopter('White', 'Emergency services')
my_helicopter4 = Helicopter('red', 'firefighting')
my_helicopter5 = Helicopter('green', 'environment management')
my_helicopter6 = Helicopter('yellow', 'business')

다시 클래스 메서드를 호출합니다.

In [165]:
Helicopter.count()

보유한 헬기의 대수는 6대입니다.

## **15.6. 클래스 상속**

이미 생성한 클래스에서 선언한 메서드와 변수를 새 클래스로 가져와서 사용하도록(상속하도록) 지정할 수 있습니다. 여기서 이미 생성한 클래스란 메서드와 변수를 넘겨주는(상속해주는) **부모 클래스(=상위 클래스, 슈퍼 클래스)**, 새 클래스란 메서드와 변수를 가져와서 사용하는(상속하는) **자식 클래스(=하위 클래스, 서브 클래스)**를 의미합니다. 다시 말하면 자식 클래스는 부모 클래스가 가진 메서드와 변수를 가져와서 사용하도록 새로 생성하는 클래스입니다.

아래 코드를 통해 예시하겠습니다. 먼저 기존에 생성한 부모 클래스입니다.

In [166]:
class Helicopter():

    helicopter_count = 0

    @classmethod
    def count(cls):
        print(f'보유한 헬기의 대수는 {cls.helicopter_count}대입니다.')

    @staticmethod
    def country(producing_country):
        if producing_country == 'Republic of Korea':
            print('대한민국에서 생산되었습니다.')
        elif producing_country == 'USA':
            print('미국에서 생산되었습니다.')
        else:
            print(f'{producing_country}에서 생산되었습니다.')

    def __init__(self, color, use):
        self.color = color
        self.use = use
        Helicopter.helicopter_count = Helicopter.helicopter_count + 1

    def go(self, speed):
        self.speed = speed
        print(f'헬기는 {speed}Km/h로 비행합니다.')

    def turn(self, direction):
        print(f'헬기는 {direction} 방향으로 비행합니다.')

    def stop(self):
        print(f'{self.use} 용도인 {self.color}색 헬기는 비행하다가 멈춥니다.')

    def restart(self):
        print('멈췄던 헬기가 다시 이동합니다.')

    def execution_of_duty(self):
        print(f'{self.use} 임무 수행을 시작합니다.')
        self.go(self.speed)
        self.stop()
        self.restart()

### **15.6.1. 자식 클래스 생성하기**

자식 클래스를 생성하겠습니다. 자식 클래스명은 수륙양용 헬기를 의미하는 `Amphibious`입니다.

In [167]:
# 자식 클래스에 부모 클래스를 인자로 지정합니다.
class AmphbiousHelicopter(Helicopter):
    # 초기화 함수의 인자에 부모 클래스에서 사용한 변수인 `color`, `use`를 지정하고
    # 자식 클래스에서 사용할 `location`이라는 변수를 추가로 지정합니다.
    def __init__(self, color, use, size):
        # 부모 클래스에서 사용하는 초기화를 그대로 사용합니다.
        # `super().__init__(color, use) 또한 사용할 수 있는 형식입니다.
        # `super()`를 사용할 때는 `self` 인자를 포함시키지 않습니다.
        Helicopter.__init__(self, color, use)
        self.size = size
    
    def water_landing(self):
        print(f'{self.color} 색상인 {self.size} 크기의 {self.use}용 헬기가 물에 착륙합니다.')

    def ground_landing(self):
        print(f'{self.color} 색상인 {self.size} 크기의 {self.use}용 헬기가 물에 착륙합니다.')

`mro()` 메서드를 사용하여 상속 관계를 확인하겠습니다. `클래스명.mro()` 형식으로 사용합니다.

In [168]:
AmphbiousHelicopter.mro()

[__main__.AmphbiousHelicopter, __main__.Helicopter, object]

### **15.6.2. 자식 클래스의 인스턴스**

자식 클래스의 인스턴스를 생성하여 메서드를 호출하겠습니다.

In [169]:
my_helicopter7 = AmphbiousHelicopter('rainbow', 'toy', 'big')
my_helicopter7.go(20)
my_helicopter7.turn('back')
my_helicopter7.stop()
my_helicopter7.restart()
print()
my_helicopter7.execution_of_duty()
print()
my_helicopter7.water_landing()
my_helicopter7.ground_landing()

헬기는 20Km/h로 비행합니다.
헬기는 back 방향으로 비행합니다.
toy 용도인 rainbow색 헬기는 비행하다가 멈춥니다.
멈췄던 헬기가 다시 이동합니다.

toy 임무 수행을 시작합니다.
헬기는 20Km/h로 비행합니다.
toy 용도인 rainbow색 헬기는 비행하다가 멈춥니다.
멈췄던 헬기가 다시 이동합니다.

rainbow 색상인 big 크기의 toy용 헬기가 물에 착륙합니다.
rainbow 색상인 big 크기의 toy용 헬기가 물에 착륙합니다.

### **15.6.3. 메서드 오버라이딩**

참고로 부모 클래스의 메서드명과 자식 클래스의 메서드명이 같은 경우에는 자식 클래스의 메서드가 수행됩니다. 이를 **메서드 오버라이딩 (Method overriding)**이라고 부릅니다.

물론 부모 클래스의 메서드도 호출하고, 자식 클래스의 메서드도 함께 호출하는 방법이 있습니다. `super().함수명`을 지정하면 부모 클래스의 메서드와 자식 클래스의 메서드를 모두 호출합니다. 예시는 생략하겠습니다.

### **15.6.4. 다중 상속**

**다중 상속**이란 말그대로 자식 클래스가 여러 부모 클래스의 메서드와 변수를 상속하는 것을 의미합니다.

아래는 형식에 대한 간단한 예시입니다.

```
# 첫 번째 부모 클래스입니다.
class Helicopter1():
.
.
.
# 두 번째 부모 클래스입니다.
class Helicopter2():
.
.
.
# 자식 클래스입니다. 두 부모 클래스를 인자로 지정합니다.
class AmphbiousHelicopter(Helicopter1, Helicopter2):
.
.
.
```

# **16. 모듈**

파이썬 코드를 작성하고 파일로 저장한 파일을 **모듈(Module)**이라고 부릅니다. 여러 코드에서 언제든 불러서 재사용할 수 있는 도구라고 볼 수 있습니다. 모듈은 사용자가 직접 작성하여 마련한 모듈과 전문가에 의해 발명되어 기본으로 내장된 모듈로 나뉩니다. 

모듈을 사용하는 데에는 이점이 있습니다. 먼저 코드를 작성하고 관리하기에 편리합니다. 특히 복잡하고 긴 코드의 경우 기능별로 나눠서 구현하기 좋습니다. 공동으로 작업하는 경우에는 모듈별로 설계한 후에 전체 모듈을 통합하는 과정을 거칩니다. 각자가 맡은 파트에 집중할 수 있으므로 작업 효율성을 도모할 수 있습니다.

## **16.1. 모듈 생성하기**

모듈은 코드를 작성한 후에 `모듈명.py` 파일로 저장합니다.

먼저 IPython에 있는 **내장 마술 명령어(magic command)**인 `%%writefile`에 대해 설명하겠습니다. 이 명령어로 코드를 파일로 저장할 수 있습니다. 예시는 아래와 같습니다.

```
%%writefile -a 파일명.py
코드 내용
```

여기서 `-a`를 지정하면 기존 파일 내용의 뒤에 내용을 추가하고, 지정하지 않으면 같은 파일명을 가진 파일에 내용을 덮어씁니다.

다음은 `%load` 명령어를 사용해서 코드 파일을 불러오는 방법입니다.

```
%load 파일명.py
```

마지막으로 `%run` 명령어를 사용해서 코드 파일을 실행하는 방법입니다.

```
%run 파일명.py
```

이제 간단한 모듈을 작성하겠습니다. 기존에 경로를 설정했던 '/content/gdrive/MyDrive/Python_for_Data_Analytics_Science'에 저장하겠습니다.

In [170]:
# `-a`를 지정하지 않겠습니다. 
%%writefile /content/gdrive/MyDrive/Python_for_Data_Analytics_Science/test_module.py

def test_print():
    return 'Is it test?'

a = 15
b = 30

def test_num(c):
    return a + b * c

Overwriting /content/gdrive/MyDrive/Python_for_Data_Analytics_Science/test_module.py

파일을 확인하겠습니다.

In [171]:
!type /content/gdrive/MyDrive/Python_for_Data_Analytics_Science/test_module.py

/content/gdrive/MyDrive/Python_for_Data_Analytics_Science/test_module.py is /content/gdrive/MyDrive/Python_for_Data_Analytics_Science/test_module.py

## **16.2. 모듈 임포트 하기**

모듈은 `import` 명령어로 부릅니다. 참고로 import의 사전적 의미는 수입(하다), '불러오다'입니다. 모듈을 임포트하면 여러 형식으로 사용할 수 있습니다. 

형식은 아래와 같습니다.
```
import 모듈명
모듈명.클래스명()
모듈명.함수()
모듈명.변수
```

모듈이 가진 클래스, 메서드, 변수는 `dir(모듈명)` 형식으로 확인할 수 있습니다.

In [180]:
dir(test_module)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'a',
 'b',
 'test_num',
 'test_print']

위에서 생성한 `test_module` 모듈을 임포트 하고 함수를 호출하겠습니다.

In [177]:
import test_module

print(f"'test_print()' 함수를 호출하면 {test_module.test_print()}가 출력됩니다.")
print(f"'test_sum()' 함수를 호출하면 {test_module.test_num(5)}가 출력됩니다.")
print(f"'a' 변수를 호출하면 {test_module.a}가 출력됩니다.")
print(f"'b' 변수를 호출하면 {test_module.b}가 출력됩니다.")

'test_print()' 함수를 호출하면 Is it test?가 출력됩니다.
'test_sum()' 함수를 호출하면 165가 출력됩니다.
'a' 변수를 호출하면 15가 출력됩니다.
'b' 변수를 호출하면 30가 출력됩니다.

모듈 하나를 통으로 임포트 하지 않고 모듈이 가진 클래스, 함수, 변수를 따로 임포트 할 수 있습니다. 이 세 요소를 하나씩 임포트 하거나, 여러 요소를 쉼표(,)로 구분지어서 한 번에 임포트 할 수 있습니다.

형식은 아래와 같습니다.

```
from 모듈명 import 클래스명 or 함수명 or 변수명
from 모듈명 import 클래스명, 함수명, 변수명
```

간단한 예시 하나만 들겠습니다.

In [189]:
# 두 요소를 임포트 하겠습니다.
from test_module import test_print, b

print(test_print())
print(b)

Is it test?
30

휴식 중입니다.