<a href="https://colab.research.google.com/github/LeeSeungwon89/Python_for_Data_Analytics_Science/blob/main/3.%20%EB%8D%B0%EC%9D%B4%ED%84%B0%20%EC%9E%85%EC%B6%9C%EB%A0%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. 데이터 입출력 심화**

데이터 입출력은 전 챕터인 **2. 데이터를 다루기 위한 파이썬 패키지**에서 간략하게 다뤘습니다. 이번 챕터에서는 좀 더 다양한 파일 형식을 다루는 법을 복습하겠습니다. **데이터 분석을 위한 파이썬 철저 입문(최은석, 위키북스)**, **파이썬 머신러닝 판다스 데이터 분석(오승환, 정보문화사)**을 참고했습니다.

In [1]:
from google.colab import drive
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

In [2]:
cd /content/gdrive/MyDrive/Python_for_Data_Analytics_Science

/content/gdrive/MyDrive/Python_for_Data_Analytics_Science

In [7]:
import pandas as pd

## **1.1. CSV**

### **1.1.1. 파일 읽기**

`read_csv()` 메서드로 `csv` 파일을 읽습니다. 매개변수 `header`에 행 번호를 인자로 전달하면 해당하는 행을 열명으로 지정합니다. 기본값은 `0`이며 첫 번째 행을 열명으로 삼습니다. 아래에서 예시하겠습니다.

In [14]:
file_path = '/content/gdrive/MyDrive/Python_for_Data_Analytics_Science/5674-833_4th/part2/read_csv_sample.csv'
pd.read_csv(file_path)

   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9

In [19]:
pd.read_csv(file_path, header=1)

   0  1  4  7
0  1  2  5  8
1  2  3  6  9

`header=None`으로 지정하면 열로 지정되지 않습니다.

In [33]:
pd.read_csv(file_path, header=None)

    0   1   2   3
0  c0  c1  c2  c3
1   0   1   4   7
2   1   2   5   8
3   2   3   6   9

매개변수 `index_col`의 기본값은 `None`입니다. 인덱스로 컬럼을 지정하지 않았다는 의미입니다.

In [22]:
pd.read_csv(file_path, index_col=None)

   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9

`index_col` 매개변수에 'c1' 열을 전달하겠습니다.

In [27]:
pd.read_csv(file_path, index_col=['c1'])

    c0  c2  c3
c1
1    0   4   7
2    1   5   8
3    2   6   9

다중으로 전달할 수도 있습니다.

In [28]:
pd.read_csv(file_path, index_col=['c1', 'c0'])

       c2  c3
c1 c0
1  0    4   7
2  1    5   8
3  2    6   9

몇 가지 주요 매개변수에 대한 목록은 아래와 같습니다.

- `sep` or `delimiter`: 각각 데이터를 구분한 구분자를 전달합니다.

- `names`: 열명으로 사용할 문자열 리스트를 전달합니다.

- `skiprows`: 처음 몇 줄을 스킵할 것인지 설정합니다. 예컨대 `[0, 1]`로 지정하면 0행과 1행은 출력하지 않습니다.

- `parse_dates`: 날짜 텍스트를 `datatime64` 형으로 바꿀지 설정합니다. 기본값은 `False`입니다.

- `skip_footer`: 마지막 몇 줄을 스킵할 것인지 설정합니다.

- `encoding`: 텍스트 인코딩 유형을 지정합니다.

### **1.1.2. 파일 저장하기**

`to_csv()` 메서드로 `csv` 파일로 저장할 수 있습니다.

In [ ]:
csv_data =

## **1.2. 엑셀**

### **1.2.1. 파일 읽기**

### **1.2.2. 파일 저장하기**

## **1.3. JSON**

### **1.3.1. 파일 읽기**

### **1.3.2. 파일 저장하기**

## **1.4. 웹**

### **1.4.1. 표 가져오기**

### **1.4.2. 웹 스크래핑 하기**

### **1.4.3. API로 데이터 가져오기**