<a href="https://colab.research.google.com/github/LeeSeungwon89/Python_for_Data_Analytics_Science/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC%20%EA%B8%B0%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. 연산자 기호**

## **1.1 몫**

몫은 '//'를 사용하여 구합니다.

In [81]:
11 // 5

2

## **1.2 나머지**

나머지는 '%'를 사용하여 구합니다.

In [82]:
11 % 5

1

# **2. 과학적인 표기법**

매우 큰 수나 작은 수를 다루려면 10의 거듭제곱을 나타내는 'e$n$'으로 입력할 수 있습니다. '$n$'은 정수이며 양수, 음수, 0 모두 가능합니다.

아래는 이를 설명하는 예시입니다.

$4 \times 10^7$

In [83]:
4e7

40000000.0

$2 \times 10^{15}$

In [84]:
2e15

2000000000000000.0

10의 15승까지 숫자로 표시됩니다.

$6 \times 10^{16}$

In [85]:
6e16

6e+16

10의 16승부터 과학적인 표기법으로 표시됩니다.

$6 \times 10^{17}$

In [86]:
6e17

6e+17

$4 \times 10^{-1}$

In [87]:
4e-1

0.4

$4 \times 10^{-4}$

In [88]:
4e-4

0.0004

10의 -4승까지 숫자로 표시됩니다.

$4 \times 10^{-5}$

In [89]:
4e-5

4e-05

10의 -5승부터는 과학적인 표기법으로 표시됩니다.

$4 \times 10^{-6}$

In [90]:
4e-6

4e-06

# **3. 진법과 진수**

파이썬은 10진법 외에 2진법, 8진법, 16진법을 지원합니다. 16진법은 {0 ~ 9, a, b, c, d, e, f}로 표현됩니다.

2진수를 입력하려면 '0b', 8진수를 입력하려면 '0o', 16진수를 입력하려면 '0x'를 숫자 앞에 붙입니다.

아래는 이를 설명하는 예시입니다. 간단하게 17을 예로 들겠습니다. 해당하는 진법의 함수도 포함합니다.

10진법

In [91]:
17

17

2진법

In [92]:
0b10001

17

In [93]:
bin(17)

'0b10001'

8진법

In [94]:
0o21

17

In [95]:
oct(17)

'0o21'

16진법

In [96]:
0x11

17

In [97]:
hex(17)

'0x11'

참고로 함수로 출력된 결과는 문자열이므로 산술 연산에 적용되지 않습니다.

# **4. 변수명 생성 규칙**

변수명을 지정할 때는 규칙을 잘 지켜야 합니다.

간과할 수 있는 규칙은 아래와 같습니다.

- 문자, 숫자, 언더라인(_)을 사용합니다. 다만 보통의 경우는 언더라인으로 시작하는 변수명은 지정할 수는 있지만 일반적으로 구성하지 않습니다. 

- 숫자로 시작하는 변수명은 가능하지 않습니다.   
예컨대 '2apple'은 불가능합니다.

- 밑줄이 아닌 기호는 변수명에 들어갈 수 없습니다.   
예컨대 'apple&', 'bana@na', '$peach' 같은 기호들입니다.

- 예약어는 변수명으로 사용할 수 없습니다. 예약어란 `True`, `False`, `def`, `if`, `for`처럼 이미 지정되어 코딩에 쓰이는 표현을 의미합니다.   
예컨대 `if = 4 + 3`으로 지정하면 에러가 납니다.

# **5. 문자열**

문자열에 큰따옴표(")와 작은따옴표(') 모두를 포함하거나, 여러 행의 문장을 나열하거나, 문장을 입력한 상태 그대로 출력하려면 문자열 전체를 큰따옴표 세 개나 작은따옴표 세 개로 감쌉니다.

아래는 설명에 대한 예시입니다.

In [98]:
string = '''문자열에 큰따옴표(")와 작은따옴표(') 모두를 포함하거나,
여러 행의 문장을 나열하거나,
문장을 입력한 상태 그대로 출력하려면
문자열 전체를 큰따옴표 세 개나 작은따옴표 세 개로 감쌉니다.'''
print(string)

문자열에 큰따옴표(")와 작은따옴표(') 모두를 포함하거나,
여러 행의 문장을 나열하거나,
문장을 입력한 상태 그대로 출력하려면
문자열 전체를 큰따옴표 세 개나 작은따옴표 세 개로 감쌉니다.

# **6. 리스트**

## **6.1 인덱싱**

리스트에서 인덱스의 범위를 지정해서 항목 일부만 가져오는 방법을 설명하겠습니다. 

`리스트[start:end]`   
`리스트[start:end:step]`   

파이썬은 숫자 1이 아닌 숫자 0을 지정하면 첫 번째 원소부터 가져옵니다. 따라서 start부터 end-1까지 원소를 가져오게 됩니다. start를 생략하면 0으로 간주하고, end를 생략하면 마지막 숫자로 간주합니다. 추가로 step를 지정하면 증가하는 정도(지정한 숫자)만큼 건너뛰면서 원소를 가져옵니다. 음수로 지정하면 역순으로 가져옵니다.

아래는 위 설명에 대한 예시입니다.

In [99]:
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print('a[0:4]:', a[0:4])
print('a[3:9]:', a[3:9])
print('a[:5]:', a[:5])
print('a[5:]:', a[5:])
print('a[::2]:', a[::2])
print('a[::3]:', a[::3])
print('a[::-1]:', a[::-1])
print('a[6::-1]:', a[6::-1])
print('a[:5:-1]:', a[:5:-1])

a[0:4]: [0, 1, 2, 3]
a[3:9]: [3, 4, 5, 6, 7, 8]
a[:5]: [0, 1, 2, 3, 4]
a[5:]: [5, 6, 7, 8, 9]
a[::2]: [0, 2, 4, 6, 8]
a[::3]: [0, 3, 6, 9]
a[::-1]: [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
a[6::-1]: [6, 5, 4, 3, 2, 1, 0]
a[:5:-1]: [9, 8, 7, 6]

## **6.2 원소 삭제하기**

인덱스가 i인 원소를 제거하려면 `del 리스트명[i]`를 코딩합니다.

아래는 예시입니다.

In [100]:
del a[4]
print(a)

[0, 1, 2, 3, 5, 6, 7, 8, 9]

## **6.3 원소 존재 여부 확인하기**

리스트에 원소가 존재하는지 여부를 확인하려면 `원소 in 리스트명`을 코딩합니다. 원소가 존재하면 True, 존재하지 않으면 False입니다.

아래에서 예시합니다.

In [101]:
b = [0, 1, 2, 3]
print('3?', 3 in b)
print('4?', 4 in b)

3? True
4? False

## **6.4 리스트 함수 적용하기**

리스트와 관련된 함수를 설명합니다. 리스트에 추가, 삽입, 삭제, 반환, 정렬을 수행할 수 있습니다.

아래는 함수 목록입니다.

- `append()`: 원소 하나를 마지막에 추가합니다. `리스트.append('원소명')` 형식입니다.

- `extend()`: 원소 여러 개를 마지막에 추가합니다. `리스트.extend('원소명', '원소명', ...)` 형식입니다.

- `insert()`: 특정 위치에 원소를 삽입합니다. `리스트.insert(삽입 위치, '원소명')` 형식입니다.

- `remove()`: 입력값과 일치하는 첫 원소를 삭제합니다. `리스트.remove('원소명')` 형식입니다.

- `pop()`: 마지막 원소를 제거하고 반환합니다. `리스트.pop()` 형식입니다.

- `index()`: 인자와 일치하는 처음 원소의 위치를 반환합니다. `객체명 = 리스트.index('원소명')` 형식입니다.

- `count()`: 인자와 일치하는 원소의 개수를 반환합니다. `객체명 = 리스트.count('원소명')` 형식입니다.

- `sort()`: 원소를 순방향으로 정렬합니다. `리스트.sort()` 형식입니다.

- `reverse()`: 원소를 역순으로 정렬합니다. `리스트.reverse()` 형식입니다.

`append()` 함수의 예시입니다.

In [102]:
fruits = ['apple', 'banana', 'peach', 'grape']
print(fruits)
fruits.append('pear')
print("fruits.append('pear'):", fruits)

['apple', 'banana', 'peach', 'grape']
fruits.append('pear'): ['apple', 'banana', 'peach', 'grape', 'pear']

`extend()` 함수의 예시입니다.

In [103]:
fruits = ['apple', 'banana', 'peach', 'grape']
print(fruits)
# 리스트로 묶어서 지정해야 합니다.
fruits.extend(['pear', 'strawberry'])
print("fruits.extend(['pear', 'strawberry']):", fruits)

['apple', 'banana', 'peach', 'grape']
fruits.extend(['pear', 'strawberry']): ['apple', 'banana', 'peach', 'grape', 'pear', 'strawberry']

`insert()` 함수의 예시입니다.

In [104]:
fruits = ['apple', 'banana', 'peach', 'grape']
print(fruits)
fruits.insert(0, 'pear')
print("fruits.insert(0, 'pear')", fruits)

['apple', 'banana', 'peach', 'grape']
fruits.insert(0, 'pear') ['pear', 'apple', 'banana', 'peach', 'grape']

`index()` 함수와 `count()` 함수의 예시입니다.

In [105]:
fruits_index = fruits.index('peach')
print("fruits.index('peach'):", fruits_index)
fruits_count = fruits.count('peach')
print("fruits.count('peach'):", fruits_count)

fruits.index('peach'): 3
fruits.count('peach'): 1

# **7. 튜플**

튜플은 리스트와 비슷하지만 차이점이 하나 있습니다. 튜플은 한 번 생성하면 추가, 삭제, 변경할 수 없습니다. 따라서 리스트에서 사용하는 함수 중에 원소를 추가, 삭제, 변경하지 않는 함수만 사용할 수 있습니다. 즉 `index()`, `count()` 함수를 사용할 수 있습니다.

## **7.1 원소가 하나인 튜플 생성하기**

원소(인자)를 하나만 가진 튜플을 생성하는 방법을 설명합니다. 튜플이 원소를 하나만 가지려면 원소를 입력하고 뒤에 ','를 붙여야 합니다.

In [106]:
tuple1 = (16,)
print(tuple1)
tuple2 = 16,
print(tuple2)

(16,)
(16,)

# **8. 세트**

세트는 수학의 집합 개념을 실현할 목적으로 만들었습니다. 리스트와 튜플과 유사하며, 리스트에서 쓰이는 함수를 적용할 수 있습니다. 차이점이라면 데이터에 순서가 존재하지 않고 데이터가 중복될 수 없습니다. 아울러 집합과 관련된 개념인 합집합, 차집합, 교집합을 구하는 함수를 사용할 수 있습니다.

## **8.1 데이터 중복 불가**

세트에는 데이터가 중복될 수 없습니다.

아래 코드로 설명합니다.

In [107]:
set_1 = {0, 1, 2, 3}
print(set_1)
set_2 = {0, 0, 1, 1, 2, 3}
print(set_2)

{0, 1, 2, 3}
{0, 1, 2, 3}

## **8.2 집합 관련 함수 적용하기**

세트1(set1)과 세트2(set2)가 존재한다고 가정하겠습니다.

아래는 집합 관련 함수 목록입니다. 형식은 `set1.함수(set2)`입니다.

- `union()`: 합집합

- `difference()`: 차집합

- `intersection()`: 교집합

`intersection()` 함수만 예시합니다. 모든 함수는 형식이 같습니다.

In [108]:
set1 = {0, 1, 2, 3, 4, 5}
set2 = {0, 2, 4, 6}
set1.intersection(set2)

{0, 2, 4}

## **8.3 연산자를 이용하여 집합 구하기**

함수가 아닌 연산자만으로 각 집합을 구할 수 있습니다. 합집합은 '|'로, 차집합은 '-'로, 교집합은 '&'로 구합니다.

합집합에 대한 예시입니다.

In [109]:
set1 | set2

{0, 1, 2, 3, 4, 5, 6}

## **8.4 타입 변환하기**

리스트와 튜플과 세트는 각 타입을 변환할 수 있습니다. 다만 함수를 적용했을 때 기존 타입이 변하지는 않습니다. 변환 타입을 유지하려면 따로 객체에 지정해야 합니다.

아래는 변환할 타입에 대한 함수 목록입니다.

- `객체명 = list(변환 대상)`: 리스트로 변환합니다.

- `객체명 = tuple(변환 대상)`: 튜플로 변환합니다.

- `객체명 = set(변환 대상)`: 세트로 변환합니다.

In [110]:
type(set1)

set

In [111]:
list(set1)

[0, 1, 2, 3, 4, 5]

In [112]:
type(set1)

set

세트 타입을 리스트 함수를 사용해서 리스트로 출력했지만 여전히 'set1'은 세트 타입입니다.

리스트 타입으로 유지하려면 객체를 따로 생성해서 출력값을 옮겨야 합니다.

In [113]:
set_to_list = list(set1)
type(set_to_list)

list

# **9. 딕셔너리**

일반 사전은 표제어와 설명이 한 짝으로 구성되며, 표제어를 찾으면 설명을 볼 수 있습니다. 같은 이치로 파이썬 딕셔너리는 키(key)와 값(value)으로 대응하고, 키를 찾으면 값을 확인할 수 있습니다. 따라서 딕셔너리를 인덱싱 하려면 키를 이용합니다. 키는 숫자나 문자열이고, 값은 모든 타입입니다.

아래는 딕셔너리의 형식입니다.

`dict = {key1: value1, key2: value2, key3: value3}`

## **9.1 딕셔너리 생성하기**

한국 내 지역명을 예시로 딕셔너리를 생성합니다.

In [114]:
loc_dict = {'서울': '종로', '경기': '분당', '인천': '부평', '충남': '논산'}
loc_dict

{'경기': '분당', '서울': '종로', '인천': '부평', '충남': '논산'}

입력 순서와 다르게 출력됐습니다. 딕셔너리는 순서가 중요하지 않습니다. 입력 순서를 그대로 출력하려면 `print()` 메서드를 붙여줍니다.

In [115]:
print(loc_dict)

{'서울': '종로', '경기': '분당', '인천': '부평', '충남': '논산'}

값은 모든 타입이 가능하다고 명시했습니다. 예컨대 리스트 형태도 가능합니다.

In [116]:
num_dict = {0: [1, 2, 3], 4: [5, 6, 7], 8: [9, 10, 11]}
num_dict

{0: [1, 2, 3], 4: [5, 6, 7], 8: [9, 10, 11]}

여러 타입이 복잡하게 혼재될 수도 있습니다.

In [117]:
complicated_dict = {0: 1, 2: [3, 4, 5], 'six': (7, 8),
                    'sub_num_dict': {0: 1, 2: (3, 4), 'five': [6, 7]},
                    'nine': 'finished'}
print(complicated_dict)

{0: 1, 2: [3, 4, 5], 'six': (7, 8), 'sub_num_dict': {0: 1, 2: (3, 4), 'five': [6, 7]}, 'nine': 'finished'}

## **9.2 키를 지정하여 값을 출력하기**

바로 위에서 복잡하게 생성한 'complicated_dict' 딕셔너리를 리스트로 지정하여 해당하는 값을 출력하겠습니다.

In [118]:
complicated_dict['sub_num_dict']

{0: 1, 2: (3, 4), 'five': [6, 7]}

## **9.3 데이터 추가하기**

지속해서 'complicated_dict' 딕셔너리를 사용합니다. 딕셔너리에 값을 추가하려면 `딕셔너리[key] = value` 형태를 사용합니다.

아래 코드로 예시합니다.

In [119]:
# `'complicated_dict' 딕셔너리에 'ten'이라는 키를 생성하고
# [11, 12]`를 짝짓는다고 생각하면 이해하기에 한결 편리합니다.
complicated_dict['ten'] = [11, 12]
print(complicated_dict)

{0: 1, 2: [3, 4, 5], 'six': (7, 8), 'sub_num_dict': {0: 1, 2: (3, 4), 'five': [6, 7]}, 'nine': 'finished', 'ten': [11, 12]}

## **9.4 데이터 수정하기**

'complicated_dict' 딕셔너리에 있는 기존의 값을 수정할 때도 값을 추가하는 방식인 `딕셔너리[key] = value` 형태를 사용합니다.

아래 코드로 예시합니다.

In [120]:
complicated_dict['sub_num_dict'] = {0: 1, 2: 3}
print(complicated_dict)

{0: 1, 2: [3, 4, 5], 'six': (7, 8), 'sub_num_dict': {0: 1, 2: 3}, 'nine': 'finished', 'ten': [11, 12]}

## **9.5 데이터 삭제하기**

'complicated_dict' 딕셔너리에 있는 값을 삭제하려면 `del 딕셔너리[key]` 형태를 사용합니다. 키에 해당하는 값이 키와 함께 삭제됩니다.

아래 코드로 예시합니다.

In [121]:
del complicated_dict['sub_num_dict']
print(complicated_dict)

{0: 1, 2: [3, 4, 5], 'six': (7, 8), 'nine': 'finished', 'ten': [11, 12]}

## **9.6 딕셔너리 함수 적용하기**

딕셔너리도 전용 함수가 있습니다. 형식은 `딕셔너리.함수()`입니다.

아래는 딕셔너리 전용 함수 목록을 예시로 풀어낸 형식입니다.

- `complicated_dict.keys()`: 모든 키를 리스트로 출력합니다.

- `complicated_dict.values()`: 모든 값을 리스트로 출력합니다.

- `complicated_dict.items()`: 키와 값의 짝을 리스트 안에 튜플로 출력합니다.

- `complicated_dict.update(loc_dict)`: 딕셔너리에 다른 딕셔너리가 가진 데이터를 추가합니다.

- `complicated_dict.clear()`: 모든 원소를 삭제합니다.

`key()` 함수에 대한 예시입니다.

In [125]:
print(complicated_dict)
print(complicated_dict.keys())

{0: 1, 2: [3, 4, 5], 'six': (7, 8), 'nine': 'finished', 'ten': [11, 12]}
dict_keys([0, 2, 'six', 'nine', 'ten'])

`values()` 함수에 대한 예시입니다.

In [126]:
print(complicated_dict)
print(complicated_dict.values())

{0: 1, 2: [3, 4, 5], 'six': (7, 8), 'nine': 'finished', 'ten': [11, 12]}
dict_values([1, [3, 4, 5], (7, 8), 'finished', [11, 12]])

`items()` 함수에 대한 예시입니다. 리스트에 튜플로 키와 값이 묶입니다.

In [127]:
print(complicated_dict)
print(complicated_dict.items())

{0: 1, 2: [3, 4, 5], 'six': (7, 8), 'nine': 'finished', 'ten': [11, 12]}
dict_items([(0, 1), (2, [3, 4, 5]), ('six', (7, 8)), ('nine', 'finished'), ('ten', [11, 12])])

데이터를 분석할 때는 일반적으로 리스트를 사용하는 경우가 많습니다. 리스트로 변환하는 작업에 능숙해야 합니다. 

아래는 이를 예시한 코드입니다.

In [133]:
print(list(complicated_dict.keys()))
print(list(complicated_dict.values()))
print(list(complicated_dict.items()))

[0, 2, 'six', 'nine', 'ten']
[1, [3, 4, 5], (7, 8), 'finished', [11, 12]]
[(0, 1), (2, [3, 4, 5]), ('six', (7, 8)), ('nine', 'finished'), ('ten', [11, 12])]

`update()` 함수에 대한 예시입니다.

In [134]:
complicated_dict.update(loc_dict)
print(complicated_dict)

{0: 1, 2: [3, 4, 5], 'six': (7, 8), 'nine': 'finished', 'ten': [11, 12], '서울': '종로', '경기': '분당', '인천': '부평', '충남': '논산'}

`clear()` 함수를 사용하면 세트 형태는 남고 모든 데이터가 삭제됩니다. 타입 또한 여전히 세트입니다.

In [138]:
complicated_dict.clear()
print(complicated_dict)
type(complicated_dict)

{}

dict

# **10. 제어문**

제어문은 조건문과 반복문으로 나뉩니다. 말그대로 조건문은 조건에 따라 다른 명령을 수행하도록 작성한 코드이고, 반복문은 특정 명령을 반복하도록 작성한 코드입니다. 이 두 문형은 매우 밀접한 관계이므로 주로 혼합하여 구성합니다.

## **10.1 pass 활용하기**

코딩하는 과정 중에 `pass`를 활용하면 큰 도움이 됩니다. 초기 단계에 전체적인 코드 틀을 형성하면서 `pass`를 활용하고, 세세하게 코딩하는 단계에서 `pass`를 제거해가며 코드 전체를 완성하는 것입니다. 기실 틀만 잡고 아무 코드가 없는 상태에서는 애러가 발생하기 마련입니다. 이를 `pass`가 방지하는 것입니다.

아래는 설명에 대한 예시입니다.

In [139]:
a = 100
if a > 190:
    pass
elif 100 <= a < 190:
    pass
else:
    pass

## **10.2 range() 함수**

휴식