<a href="https://colab.research.google.com/github/LeeSeungwon89/Python_for_Data_Analytics_Science/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC%20%EA%B8%B0%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. 연산자 기호**

## **1.1 몫**

몫은 '//'를 사용하여 구합니다.

In [3]:
11 // 5

2

## **1.2 나머지**

나머지는 '%'를 사용하여 구합니다.

In [4]:
11 % 5

1

# **2. 과학적인 표기법**

매우 큰 수나 작은 수를 다루려면 10의 거듭제곱을 나타내는 'e$n$'으로 입력할 수 있습니다. '$n$'은 정수이며 양수, 음수, 0 모두 가능합니다. 아래는 이를 설명하는 예시입니다.

$4 \times 10^7$

In [5]:
4e7

40000000.0

$2 \times 10^{15}$

In [6]:
2e15

2000000000000000.0

10의 15승까지 숫자로 표시됩니다.

$6 \times 10^{16}$

In [7]:
6e16

6e+16

10의 16승부터 과학적인 표기법으로 표시됩니다.

$6 \times 10^{17}$

In [8]:
6e17

6e+17

$4 \times 10^{-1}$

In [9]:
4e-1

0.4

$4 \times 10^{-4}$

In [10]:
4e-4

0.0004

10의 -4승까지 숫자로 표시됩니다.

$4 \times 10^{-5}$

In [11]:
4e-5

4e-05

10의 -5승부터는 과학적인 표기법으로 표시됩니다.

$4 \times 10^{-6}$

In [12]:
4e-6

4e-06

# **3. 진법과 진수**

파이썬은 10진법 외에 2진법, 8진법, 16진법을 지원합니다. 16진법은 {0 ~ 9, a, b, c, d, e, f}로 표현됩니다.

2진수를 입력하려면 '0b', 8진수를 입력하려면 '0o', 16진수를 입력하려면 '0x'를 숫자 앞에 붙입니다.

아래는 이를 설명하는 예시입니다. 간단하게 17을 예로 들겠습니다. 해당하는 진법의 함수도 포함합니다.

10진법

In [13]:
17

17

2진법

In [14]:
0b10001

17

In [15]:
bin(17)

'0b10001'

8진법

In [16]:
0o21

17

In [17]:
oct(17)

'0o21'

16진법

In [18]:
0x11

17

In [19]:
hex(17)

'0x11'

참고로 함수로 출력된 결과는 문자열이므로 산술 연산에 적용되지 않습니다.

# **4. 변수명 생성 규칙**

변수명을 지정할 때는 규칙을 잘 지켜야 합니다. 간과할 수 있는 규칙은 아래와 같습니다.

- 문자, 숫자, 언더라인(_)을 사용합니다. 다만 보통의 경우는 언더라인으로 시작하는 변수명은 지정할 수는 있지만 일반적으로 구성하지 않습니다. 

- 숫자로 시작하는 변수명은 가능하지 않습니다.   
예컨대 '2apple'은 불가능합니다.

- 밑줄이 아닌 기호는 변수명에 들어갈 수 없습니다.   
예컨대 'apple&', 'bana@na', '$peach' 같은 기호들입니다.

- 예약어는 변수명으로 사용할 수 없습니다. 예약어란 `True`, `False`, `def`, `if`, `for`처럼 이미 지정되어 코딩에 쓰이는 표현을 의미합니다.   
예컨대 `if = 4 + 3`으로 지정하면 에러가 납니다.

# **5. 문자열**

문자열에 큰따옴표(")와 작은따옴표(') 모두를 포함하거나, 여러 행의 문장을 나열하거나, 문장을 입력한 상태 그대로 출력하려면 문자열 전체를 큰따옴표 세 개나 작은따옴표 세 개로 감쌉니다.

아래는 설명에 대한 예시입니다.

In [20]:
string = '''문자열에 큰따옴표(")와 작은따옴표(') 모두를 포함하거나,
여러 행의 문장을 나열하거나,
문장을 입력한 상태 그대로 출력하려면
문자열 전체를 큰따옴표 세 개나 작은따옴표 세 개로 감쌉니다.'''
print(string)

문자열에 큰따옴표(")와 작은따옴표(') 모두를 포함하거나,
여러 행의 문장을 나열하거나,
문장을 입력한 상태 그대로 출력하려면
문자열 전체를 큰따옴표 세 개나 작은따옴표 세 개로 감쌉니다.

# **6. 리스트**

## **6.1 인덱싱**

리스트에서 인덱스의 범위를 지정해서 항목 일부만 가져오는 방법을 설명하겠습니다. 

`리스트[start:end]`   
`리스트[start:end:step]`   

파이썬은 숫자 1이 아닌 숫자 0을 지정하면 첫 번째 원소부터 가져옵니다. 따라서 start부터 end-1까지 원소를 가져오게 됩니다. start를 생략하면 0으로 간주하고, end를 생략하면 마지막 숫자로 간주합니다. 추가로 step를 지정하면 증가하는 정도(지정한 숫자)만큼 건너뛰면서 원소를 가져옵니다. 음수로 지정하면 역순으로 가져옵니다.

아래는 위 설명에 대한 예시입니다.

In [21]:
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print('a[0:4]:', a[0:4])
print('a[3:9]:', a[3:9])
print('a[:5]:', a[:5])
print('a[5:]:', a[5:])
print('a[::2]:', a[::2])
print('a[::3]:', a[::3])
print('a[::-1]:', a[::-1])
print('a[6::-1]:', a[6::-1])
print('a[:5:-1]:', a[:5:-1])

a[0:4]: [0, 1, 2, 3]
a[3:9]: [3, 4, 5, 6, 7, 8]
a[:5]: [0, 1, 2, 3, 4]
a[5:]: [5, 6, 7, 8, 9]
a[::2]: [0, 2, 4, 6, 8]
a[::3]: [0, 3, 6, 9]
a[::-1]: [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
a[6::-1]: [6, 5, 4, 3, 2, 1, 0]
a[:5:-1]: [9, 8, 7, 6]

## **6.2 원소 삭제하기**

인덱스가 i인 원소를 제거하려면 `del 리스트명[i]`를 코딩합니다.

아래는 예시입니다.

In [22]:
del a[4]
print(a)

[0, 1, 2, 3, 5, 6, 7, 8, 9]

## **6.3 원소 존재 여부 확인하기**

리스트에 원소가 존재하는지 여부를 확인하려면 `원소 in 리스트명`을 코딩합니다. 원소가 존재하면 True, 존재하지 않으면 False입니다.

아래에서 예시합니다.

In [23]:
b = [0, 1, 2, 3]
print('3?', 3 in b)
print('4?', 4 in b)

3? True
4? False

## **6.4 함수 적용하기**

리스트와 관련된 함수를 설명합니다. `변수명.함수명()` 형태로 리스트에 추가, 삽입, 삭제, 반환, 정렬을 수행할 수 있습니다.

아래는 함수 목록입니다.

- `리스트.append('원소명')`: 원소 하나를 마지막에 추가합니다.

- `리스트.extend('원소명', '원소명', ...)`: 원소 여러 개를 마지막에 추가합니다.

- `리스트.insert(삽입 위치, '원소명')`: 특정 위치에 원소를 삽입합니다.

- `리스트.remove('원소명')`: 입력값과 일치하는 첫 원소를 삭제합니다.

- `리스트.pop()`: 마지막 원소를 제거하고 반환합니다.

- `객체명 = 리스트.index('원소명')`: 인자와 일치하는 처음 원소의 위치를 반환합니다.

- `객체명 = 리스트.count('원소명')`: 인자와 일치하는 원소의 개수를 반환합니다.

- `리스트.sort()`: 원소를 순방향으로 정렬합니다.

- `리스트.reverse()`: 원소를 역순으로 정렬합니다.

`append()` 함수의 예시입니다.

In [52]:
fruits = ['apple', 'banana', 'peach', 'grape']
print(fruits)
fruits.append('pear')
print("fruits.append('pear'):", fruits)

['apple', 'banana', 'peach', 'grape']
fruits.append('pear'): ['apple', 'banana', 'peach', 'grape', 'pear']

`extend()` 함수의 예시입니다.

In [53]:
fruits = ['apple', 'banana', 'peach', 'grape']
print(fruits)
# 리스트로 묶어서 지정해야 합니다.
fruits.extend(['pear', 'strawberry'])
print("fruits.extend(['pear', 'strawberry']):", fruits)

['apple', 'banana', 'peach', 'grape']
fruits.extend(['pear', 'strawberry']): ['apple', 'banana', 'peach', 'grape', 'pear', 'strawberry']

`insert()` 함수의 예시입니다.

In [54]:
fruits = ['apple', 'banana', 'peach', 'grape']
print(fruits)
fruits.insert(0, 'pear')
print("fruits.insert(0, 'pear')", fruits)

['apple', 'banana', 'peach', 'grape']
fruits.insert(0, 'pear') ['pear', 'apple', 'banana', 'peach', 'grape']

`index()` 함수와 `count()` 함수의 예시입니다.

In [57]:
fruits_index = fruits.index('peach')
print("fruits.index('peach'):", fruits_index)
fruits_count = fruits.count('peach')
print("fruits.count('peach'):", fruits_count)

fruits.index('peach'): 3
fruits.count('peach'): 1

# **7. 튜플**

튜플은 리스트와 비슷하지만 차이점이 하나 있습니다. 튜플은 한 번 생성하면 추가, 삭제, 변경할 수 없습니다. 따라서 리스트에서 사용하는 함수 중에 원소를 추가, 삭제, 변경하지 않는 함수만 사용할 수 있습니다. 즉 `index()`, `count()` 함수를 사용할 수 있습니다.

## **7.1 원소가 하나인 튜플 생성하기**

원소(인자)를 하나만 가진 튜플을 생성하는 방법을 설명합니다. 튜플이 원소를 하나만 가지려면 원소를 입력하고 뒤에 ','를 붙여야 합니다.

In [31]:
tuple1 = (16,)
print(tuple1)
tuple2 = 16,
print(tuple2)

(16,)
(16,)

# **8. 세트**

세트는 수학의 집합 개념을 실현할 목적으로 만들었습니다. 리스트와 튜플과 유사하며, 리스트에서 쓰이는 함수를 적용할 수 있습니다. 차이점이라면 데이터에 순서가 존재하지 않고 데이터가 중복될 수 없습니다. 아울러 집합과 관련된 개념인 합집합, 차집합, 교집합을 구하는 함수를 사용할 수 있습니다.

## **8.1 데이터 중복 불가**

세트에는 데이터가 중복될 수 없습니다. 아래 코드로 설명합니다.

In [32]:
set_1 = {0, 1, 2, 3}
print(set_1)
set_2 = {0, 0, 1, 1, 2, 3}
print(set_2)

{0, 1, 2, 3}
{0, 1, 2, 3}

## **8.2 집합 관련 함수 적용하기**

세트1(set1)과 세트2(set2)가 존재한다고 가정하겠습니다. 아래는 집합 관련 함수 목록입니다.

- `set1.union(set2)`: 합집합

- `set1.difference(set2)`: 차집합

- `set1.intersection(set2)`: 교집합

`intersection()` 함수만 예시합니다.

In [35]:
set1 = {0, 1, 2, 3, 4, 5}
set2 = {0, 2, 4, 6}
set1.intersection(set2)

{0, 2, 4}

## **8.3 연산자를 이용하여 집합 구하기**

함수가 아닌 연산자만으로 각 집합을 구할 수 있습니다. 합집합은 '|'로, 차집합은 '-'로, 교집합은 '&'로 구합니다.

합집합에 대한 예시입니다.

In [36]:
set1 | set2

{0, 1, 2, 3, 4, 5, 6}

## **8.4 타입 변환하기**

리스트와 튜플과 세트는 각 타입을 변환할 수 있습니다. 다만 함수를 적용했을 때 기존 타입이 변하지는 않습니다. 변환 타입을 유지하려면 따로 객체에 지정해야 합니다. 아래는 변환할 타입에 대한 함수 목록입니다.

- `객체명 = list(변환 대상)`: 리스트로 변환합니다.

- `객체명 = tuple(변환 대상)`: 튜플로 변환합니다.

- `객체명 = set(변환 대상)`: 세트로 변환합니다.

In [42]:
type(set1)

set

In [47]:
list(set1)

[0, 1, 2, 3, 4, 5]

In [48]:
type(set1)

set

세트 타입을 리스트 함수를 사용해서 리스트로 출력했지만 여전히 'set1'은 세트 타입입니다.

리스트 타입으로 유지하려면 객체를 따로 생성해서 출력값을 옮겨줘야 합니다.

In [46]:
set_to_list = list(set1)
type(set_to_list)

list

# **9. 딕셔너리**